<%= render 'layouts/navbar' %>
<%= render 'layouts/flash' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12 spaced-smallest">
			<hr class="hr-primary" />
	        <ol class="breadcrumb bread-primary ">
	        	<li>
	        		<%= link_to root_url do %>
	        			<i class="fa fa-home"></i> <%= t('tours_view_confirm_li_one') %>
	        		<% end %>
	        	</li>
	            <li>
	            	<%= link_to @guidebook.title, guidebook_path(@guidebook) %>
	            </li>
	            <li class="active"><%= t('tours_view_confirm_li_two') %></li>
	        </ol>
			<h4 class="spaced-down"><%= t('tours_view_confirm_h4_one') %></h4>
			<p><%= t('tours_view_confirm_p_one') %></p>
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center">
                        <%= @guidebook.title %>
                    </h5>
                </div>
                <ul class="list-group list-group-flush text-xs-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>
                      <small><%= t('confirm-guidebook-reserved-when') %></small> <br />
                      <%= l(Time.now, format: '%A') %> <br/> <%= l(Time.now, format: '%d de %B de %Y às %Hh%M') %></strong>
                    </li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i><strong><%= t('tours_view_confirm_strong_one') %></strong> <br/><%= @guidebook.organizer.name %></li>
                    <% if @guidebook.wheres.any? %>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i><small><strong><%= t('guidebook-confirm-place') %></strong></small><br /><%= @guidebook.wheres.first.name %> - <%= @guidebook.wheres.first.city %> - <%= @guidebook.wheres.first.state %></li>
                    <% end %>
                </ul>
            </div>
        </div>
        <%= form_tag confirm_presence_guidebook_path, :method => 'post', id: 'form-confirm-reservation' do %>
        <% if @payment_type %>
        <div class="row">
          <%= render 'layouts/payment_type' %>          
        </div>
        <% end %>
        <div class="payment-tab" id="payment-creditcard">
          <div class="container">
          	<h4 class="spaced-down"><%= t('tours_view_confirm_h4_two') %> <small><%= t('tours_view_confirm_small_one') %></small></h4>
          </div>
          <div class="col-md-4">
              <div class="card font-card-small">
                  <div class="card-header">
                      <h4 class="panel-title"><%= t('tours_view_confirm_h4_three') %></h4>
                  </div>
                  <div class="card-block">
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="spaced-down">
                                <small><%= t('tours_view_confirm_small_two') %></small>
                              </div>
                              <div class="form-group">
                              	<%= hidden_field_tag :id, @tour %>
                              	<%= hidden_field_tag :method, "CREDIT_CARD" %>
                              	<label for="fullname"><%= t('tours_view_confirm_label_one') %></label>
  					                    <%= text_field_tag :fullname, nil, placeholder: t('tours_view_confirm_placeholder_one'), required: true, class: "form-control" %>
                              </div>
                          </div>
                          <div class="col-xs-12">
                              <div class="form-group">
                              	<label for="fullname"><%= t('tours_view_confirm_label_two') %></label>
  					            <%= text_field_tag :birthdate, nil, placeholder: "dd/mm/aaaa", required: true, class: "form-control" %>
                              </div>
                          </div>
                          <div class="col-xs-12">
                              <div class="form-group">
                              	<label for="street"><%= t('tours_view_confirm_label_three') %></label>
  					                     <%= text_field_tag :street, nil, placeholder: "", required: true, class: "form-control", data: { stripe: "address_line1" } %>
                              </div>
                          </div>
                          <div class="col-xs-12">
                              <div class="form-group">
                                <label for="zipcode"><%= t('tours_view_confirm_label_four') %></label>
                                 <%= text_field_tag :complement, nil, placeholder: "", required: true, class: "form-control", data: { stripe: "address_line2" } %>
                              </div>
                          </div>
                          <div class="col-xs-12">
                              <div class="form-group">
                                <label for="zipcode"><%= t('tours_view_confirm_label_five') %></label>
                                 <%= text_field_tag :city, nil, placeholder: "", required: true, class: "form-control", data: { stripe: "address_city" } %>
                              </div>
                          </div>
                          <div class="col-xs-12">
                              <div class="form-group">
                                <label for="zipcode"><%= t('tours_view_confirm_label_six') %></label>
                                 <%= text_field_tag :state, nil, placeholder: "", required: true, class: "form-control", data: { stripe: "address_state" } %>
                              </div>
                          </div>
                          <div class="col-xs-12">
                              <div class="form-group">
                                <label for="zipcode"><%= t('tours_view_confirm_label_seven') %></label>
                                 <%= text_field_tag :country, nil, placeholder: "", required: true, class: "form-control", data: { stripe: "address_country" } %>
                              </div>
                          </div>
                          <div class="col-xs-12">
                              <div class="form-group">
                                <label for="zipcode"><%= t('tours_view_confirm_label_eight') %></label>
                                 <%= text_field_tag :zipcode, nil, placeholder: "xxxxx-xx", required: true, class: "form-control", data: { stripe: "address_zip" } %>
                              </div>
                          </div>
                      </div>
                  </div> 
              </div>
          </div>
          <div class="col-md-8">
              <div class="card font-card-small">
                  <div class="card-header">
                      <h4><%= t('tours_view_confirm_h4_four') %></h4>
                      <img src="https://i76.imgup.net/accepted_c22e0.png">
                  </div>
                  <div class="card-block">
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="form-group form-card-number">
                                  <label for="cardNumber"><%= t('tours_view_confirm_label_nine') %></label>
                                  <div class="input-group">
                                      <%= text_field_tag :number, nil, placeholder: t('tours_view_confirm_placeholder_two'), required: true, class: "form-control", data: { stripe: "number" } %>
                                      <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                  </div>
                              </div>                            
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12 col-md-8">
                            <label for="expMonth"><%= t('tours_view_confirm_label_ten') %></label>
                            <div class="form-group">
                                <div class="col-xs-12 col-md-7 pl-ziro">
                                    <%= text_field_tag :expiration_month, nil, placeholder: t('tours_view_confirm_placeholder_three'), required: true, class: "form-control", data: { stripe: "exp_month" } %>
                                </div>
                                <div class="col-xs-12 col-md-5 pl-ziro xs-spaced-top">
                                    <%= text_field_tag :expiration_year, nil, placeholder: t('tours_view_confirm_placeholder_four'), required: true, class: "form-control", data: { stripe: "exp_year" } %>
                                </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-md-4 pull-right">
                              <div class="form-group">
                                  <label for="cvCode"><%= t('tours_view_confirm_label_eleven') %></label>
                                  <%= text_field_tag :cvc, nil, placeholder: "ex. 123", required: true, class: "form-control", data: { stripe: "cvc" } %>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <% if @packagename %>
                            <small><%= t('tours_view_confirm_small_three') %></small><br /> <h2 class="spaced-smallest"><%= raw @packagename %></h2><br/>
                            <h2 class="spaced-smallest"><%= raw final_price(@final_price) %></h2>
                            <%= hidden_field_tag :value, @final_price %>
                            <%= hidden_field_tag :packagename, @packagename %>
                          <% else %>
                              <% if @guidebook.packages.any? and !@guidebook.value %>
                                <span class="label label-warning spaced-smallest"><%= t('tours_view_confirm_span_one') %></span>
                                <div class="cc-package-options">
                                <% @guidebook.packages.each_with_index do |p, i| %>
                                <label class="radio package-item-confirm">
                                  <% if i == 0 %>
                                  <%= radio_button_tag :value, p.value, selected: "selected" %>
                                  <% else %>
                                  <%= radio_button_tag :value, p.value %>
                                  <% end %>
                                  <%= p.name %>
                                  <%= hidden_field_tag :package, p.id %>
                                  <h4><strong><%= raw p.price %></strong></h4>
                                </label>
                                <% end %>
                                </div>
                              <% else %>
                                <%= hidden_field_tag :value, @tour.value %>
                              <% end %>
                            <% end %>                        
                        </div>
                      </div>
                      <!--
                      <div class="row">
                      	<div class="col-xs-12">
                      		<div style="width: 100%">
                      			<label for="installment_count">Parcelas</label>
                      			<%= select_tag :installment_count, options_for_select((1..12).map{ |u| ["#{u}X", u] }), class: "form-control" %>
                      		</div>
                      	</div>
                      </div>
                      !-->
                      <div class="row">
                        <div class="col-xs-12 col-md-12">
                          <!--
                          <div class="spaced-smallest">
                            <div class="form-inline">
                              <div class="form-group">
                                <label><%= t('tours_view_confirm_label_twelve') %></label>
                                  <div class="input-group">
                                    <div class="form-group">
                                      <%= number_field_tag :amount, 1, class: 'form-control full-width cc-amount-output bfh-number', min: 1   %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          -->
                          <div class="col-md-12">
                            <div style="margin-top: 20px;">
                              <div class="price mediafix">
                                <h4 style="text-align: right"><%= t('tours_view_confirm_h4_five') %></h4>
                              </div>
                              <div class="price mediafix">
                                <h3 class="cc-final-price pull-right" style="font-size: 3em;"><%= raw final_price(@final_price) %></h3>
                                <%= hidden_field_tag :final_price, @final_price, id:'cc-final-price' %>
                                <%= hidden_field_tag :token, '', id:'token' %>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
              <script type="text/javascript">
                Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
              </script>
              <div class="row">
  	            <div class="col-md-12">
  	            	<%= submit_tag "Confirmar Reserva", class: 'btn btn-success btn-lg btn-block', id: "confirm-reservation-button" %>
  	            </div>
          	 </div>
          	 <div class="spaced-top">
          	   <% if @guidebook.organizer.policy.any? %>
          	     <div class="col-xs-12 col-md-12">
                    <p class="spaced-smallest"><strong><%= t('tours_view_confirm_strong_four', name: @guidebook.organizer.name) %></strong></p>
                    <ul class="list-group spaced-down">
                      <% @guidebook.organizer.policy.each do |p| %>
                        <li class="list-group-item"><i class="fa fa-hand-o-right"></i> <%= p %></li>
                      <% end %>
                    </ul>
                  </div>
          	   <% end %>
        	   </div>
          </div>
        </div>
        <% end %>
        <%= form_tag confirm_presence_tour_path, :method => 'post' do %>
          <div class="payment-tab hidden" id="payment-external">
            <%= hidden_field_tag :payment_type, @payment_type %>
            <%= hidden_field_tag :method, "CREDIT_CARD" %>
            <div class="col-md-12">
                <div class="card font-card-small">
                    <div class="card-header">
                        <h4>Pagamento no cartão <small>(parcelado)</small></h4>
                    </div>
                    <div class="card-block">
                        <div class="col-xs-12">
                          <% if @packagename %>
                              <small><%= t('tours_view_confirm_small_three') %></small><br /> <h2 class="spaced-smallest"><%= raw @packagename %></h2><br/>
                              <h2 class="spaced-smallest"><%= raw final_price(@final_price) %></h2>
                              <%= hidden_field_tag :value, @final_price %>
                              <%= hidden_field_tag :packagename, @packagename %>
                          <% else %>
                              <% if @guidebook.packages.any? and !@guidebook.value %>
                                  <span class="label label-warning spaced-smallest"><%= t('tours_view_confirm_span_one') %></span>
                                  <div class="b-package-options">
                                    <% @guidebook.packages.each_with_index do |p, i| %>
                                        <label class="radio package-item-confirm">
                                          <% if i == 0 %>
                                              <%= radio_button_tag :value, p.value, selected: "selected" %>
                                          <% else %>
                                              <%= radio_button_tag :value, p.value %>
                                          <% end %>
                                          <%= p.name %>
                                          <%= hidden_field_tag :package, p.id %>
                                          <h4><strong><%= raw p.price %></strong></h4>
                                        </label>
                                    <% end %>
                                  </div>
                              <% else %>
                                  <%= hidden_field_tag :value, @tour.value %>
                              <% end %>
                          <% end %>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 col-md-6">
                            <div class="spaced-smallest">
                              <div class="form-inline">
                                <div class="form-group">
                                  <label><%= t('tours_view_confirm_label_twelve') %></label>
                                    <div class="input-group">
                                      <div class="form-group">
                                        <%= number_field_tag :amount, 1, class: 'form-control full-width b-amount-output bfh-number', min: 1  %>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div style="margin-top: 20px;">
                                <div class="price mediafix">
                                  <h4 style="text-align: right"><%= t('tours_view_confirm_h4_five') %></h4>
                                </div>
                                <div class="price mediafix">
                                  <h3 class="b-final-price pull-right" style="font-size: 3em;"><%= raw final_price(@final_price) %></h3>
                                  <%= hidden_field_tag :final_price, @final_price, id:'b-final-price' %>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= submit_tag t('submit-external-payment'), class: 'btn btn-success btn-lg btn-block', id: "confirm-reservation" %>
                  </div>
              </div>
            </div>
        </div>
        <% end %>
	</div>
</div>
