<%= render 'layouts/navbar' %>
<%= render 'layouts/flash' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="spaced-smallest"><%= t('guidebooks_view_index_h3') %></h3>

      <table class="table user-list spaced-down">
        <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @guidebooks.each do |guidebook| %>
            <tr>
              <td><%= guidebook.title %></td>
              <td><%= link_to t('guidebook-admin-link-view'), guidebook %></td>
              <td><%= link_to t('guidebook-admin-link-edit'), edit_guidebook_path(guidebook) %></td>
              <td><%= link_to t('guidebook-admin-link-delete'), guidebook, method: :delete, data: { confirm: t('guidebook-admin-confirm-delete') } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <%= link_to t('guidebook-link-new'), new_guidebook_path, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
</div>
