<%= render 'layouts/navbar' %>
<div class="container">
  <h3 class="page-header spaced-smallest">Editar seu usuário</h3>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12 text-xs-center">
      <% if current_user.image %>
      <div class="text-center spaced-down">
        <img src="<%= current_user.image %>?type=normal" class="avatar img-circle img-thumbnail" alt="avatar">
        <!-- <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block well well-sm">
        -->
      </div>
      <% else %>
      	<img src="https://avatars.io/instagram/username" class="avatar img-circle img-thumbnail" alt="avatar">
      <% end %>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <%= devise_error_messages! %>
      <%= render 'layouts/flash' %>
      <h4>Personal info</h4>
  	  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal'}) do |f| %>
        <div class="form-group row">
           <%= f.label "nome", class: "col-lg-3 form-control-label" %>
          <div class="col-lg-8">
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :email, class: "col-lg-3 form-control-label" %>	
          <div class="col-lg-8">
    		<%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label "senha", class:"col-md-3 form-control-label" %> 
          <div class="col-md-8">
    		<%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    		<small>(deixe em branco se você não quiser mudá-la)</small>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label "confirmar senha", class: 'col-md-3 form-control-label' %>
          <div class="col-md-8">
    		<%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 form-control-label"></label>
          <div class="col-md-8">
             <%= f.submit "Salvar modificações", class: 'btn btn-primary' %>
            <span></span>
            <%= link_to "Cancelar", root_path, class: 'btn btn-default' %>
          </div>
        </div>
      <% end %>
      <!--
      <div class="card">
		  <div class="card-header">
		    Cancel my account
		  </div>
		  <div class="card-block">
		    <p class="card-text">Unhappy? You can cancel your account with truppie</p>
		    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: 'btn btn-primary', method: :delete %>
		  </div>
	   </div>
	   -->
    </div>
  </div>
</div>
