<%= render 'layouts/flash' %>
<div class="login-background">
	<div class="container">
	    <div class="row">
	        <div class="col-sm-6 col-md-4 col-md-offset-4">
	            <h1 class="text-center login-title spaced-smallest">Criar uma nova conta na Truppie</h1>
	            <div class="account-wall">
	            	<%= link_to root_path do %>
	                	<%= image_tag("logos-05.svg", :alt => "Truppie", :class => 'img-fluid center-block') %>
	                <% end %>
	                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form-signin"}) do |f| %>
	                	<%= f.text_field :name, autofocus: true, required: true, placeholder: 'Nome', class: 'form-control' %>
	                	<%= f.email_field :email, autofocus: true, required: true, placeholder: 'Email', class: 'form-control' %>
	                	<%= f.password_field :password, autocomplete: "off", placeholder: 'Senha', class: 'form-control' %>
    					<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm password', class: 'form-control' %>
	                	<%= f.submit "Criar conta", class: 'btn btn-lg btn-primary btn-block' %>
	                <% end %>
                <%= render "devise/shared/links" %>
	            </div>
	        </div>
	    </div>
	</div>
  <div id="fullscreen_bg" class="fullscreen_bg"></div>
</div>
