<%= render 'layouts/navbar' %>
<div class="form-signin">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
        	<!-- Nav tabs -->
            <div class="card card-block">
                <div class="card-body" style="overflow:hidden;">
                    <h4 class="text-center spaced-down">
                        Modificar traduções</h4>
                	<ul>
                	<% if @translations.keys.any? %>	
					  <% @translations.keys.each do |key| %>
					    <li><%= key %>: <%= @translations[key] %></li>
					  <% end %>
				  	<% end %>
				  	</ul>
				  <div class="row">
			  		<div class="col-md-6">
					<%= form_tag translations_path, class: "form form-signup spaced-default" do %>
					<% @translate_yaml_br["pt-BR"].each do |t, v| %>
					  	<div class="form-group">
	                        <div class="input-group">
	                            <span class="input-group-addon"><%= label_tag t %></span>
	                            </span>
	                            <%= text_field_tag t, v, class: "form-control" %>
	                        </div>
	                    </div>
				  	<% end %>
				  	<% end %>
				  	</div>
				  	<div class="col-md-6">
			  		<%= form_tag translations_path, class: "form form-signup spaced-default" do %>
						<% @translate_yaml_en["en"].each do |t, v| %>
						  	<div class="form-group">
		                        <div class="input-group">
		                            <span class="input-group-addon"><%= label_tag t %></span>
		                            </span>
		                            <%= text_field_tag t, v, class: "form-control" %>
		                        </div>
		                    </div>
	                    <% end %>
				  	<% end %>
				  	</div>
				  	</div>
				  	<%= form_tag translations_path, class: "form form-signup spaced-default" do %>
					 <h4 class="spaced-default">Adicionar traduções</h4>
					 <p>
					   <%= label_tag :locale %><br />
					   <%= text_field_tag :locale, 'pt-BR' %>
					  </p>
				  	
					  <p>
					    <%= label_tag :key %><br />
					    <%= text_field_tag :key %>
					  </p>
					  <p>
					    <%= label_tag :value %><br />
					    <%= text_field_tag :value %>
					  </p>
					  <p><%= submit_tag "Submit" %></p>
					<% end %>
					</div>
				  </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<div id="fullscreen_bg" class="fullscreen_bg"/>
</div>