<!-- START MAIN CONTENT AREA -->
<tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" class="alert alert-success">
        <tr>
          <td align="center"> Um novo pagamento foi efetuado! </td>
        </tr>
      </table>
    </td>
  </tr>
<tr>
  <td class="wrapper">
    <table border="0" cellpadding="0" cellspacing="0">
      <!-- START NOTIFICATION BANNER -->
      <tr>
        <td>
          <h1>Olá, <%= @organizer.name %>!</h1>
          <p>O pagamento do explorador(a) <strong><%= @user.name %></strong> <a href="mailto:<%= @user.email %>">(<%= @user.email %>)</a> foi autorizado na truppie <strong><%= @tour.title %></strong>!</p>
          <p>Uma nova transferência foi solicitada para a sua conta.</p>
          <p>Você irá recebê-la em 30 dias a partir de hoje. e vamos avisá-lo quando ela for realizada.</p>
          <h2 class="align-center">Temos aqui o resumo do pedido</h2>
          <% if !@order%>
            <p>Não há reservas para você neste momento</p>
          <% else %>
              <% if @order.try(:guidebook) %>
                  <%= render partial: 'credit_card_status_mailer/order_table_guidebook', locals: {order: @order} %>
              <% end %>
              <% if @order.try(:tour) %>
                  <%= render partial: 'credit_card_status_mailer/order_table', locals: {order: @order} %>
              <% end %>
          <% end %>
        </td>
      </tr>
    </table>
  </td>
</tr>