<h2>Olá, <%= @organizer.name %>!</h2>

<p>Por algum motivo, o pagamento do explorador <%= @user.name %>(<%= @user.email %>) foi recusado e a reserva da truppie <strong><%= @tour.title %></strong> não pôde ser confirmada ainda.</p>

<p>Solicitamos ao explorador que verificasse em seu banco se há algum tipo de bloqueio ou problema com o cartão e, assim que tivermos notícias, entraremos em contato.</p>

<h4>Temos aqui um resumo do pedido do seu cliente:</h4>

<% if !@order %>
	<p class="lead">
		<span class="label label-pill label-warning">
			Não há reservas para você neste momento
		</span>
	</p>
<% else %>
	<%= render partial: 'credit_card_status_mailer/order_table', locals: {order: @order} %>
<% end %>

<p>
  Até o momento, este é o balanço das suas reservas:
</p>

<p>Você pode ver seus balanços atualizados a qualquer momento clicando <%= link_to "aqui",  manage_organizer_url(@organizer, @tour) %></p>

<p>Se tiver alguma dúvida, escreva pra gente: ola@truppie.com.</p> 

<p>Até mais!</p>

<p>Um abraço,</p>

<%= render partial: 'credit_card_status_mailer/footer', locals: {organizer: @organizer } %>