<!-- START MAIN CONTENT AREA -->
<tr>
  <td>
    <table border="0" cellpadding="0" cellspacing="0" class="alert alert-warning">
      <tr>
        <td align="center"> Tivemos um problema com o pagamento </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class="wrapper">
    <table border="0" cellpadding="0" cellspacing="0">
      <!-- START NOTIFICATION BANNER -->
      <tr>
        <td>
          <h1>Olá, <%= @organizer.name %>!</h1>
          <p>Por algum motivo, o pagamento do explorador <strong><%= @user.name %>(<%= @user.email %>)</strong> foi recusado e a reserva da truppie <strong><%= @tour.title %></strong> não pôde ser confirmada ainda.</p>
          <p>Solicitamos ao explorador que verificasse em seu banco se há algum tipo de bloqueio ou problema com o cartão e, assim que tivermos notícias, entraremos em contato.</p>
          <h2 class="align-center">Temos aqui o resumo do pedido</h2>
          <% if !@order%>
            <p>Não há reservas para você neste momento</p>
          <% else %>
          <%= render partial: 'credit_card_status_mailer/order_table', locals: {order: @order} %>
          <% end %>
        </td>
      </tr>
    </table>
  </td>
</tr>