<div class="manage-inspiration">

</div>
<%= form_for @background, class: "form", multipart: true, role: "form" do |f| %>
<div class="manage-container">
  <div class="manage-sidebar">
    <div class="card-block">
      <div class="card-body">
        <% if @background.wheres.present? %>
            <%= @background.wheres.inspect %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
        <input type="text" name="search" placeholder="<%= t('place') %>" class="form-control places-input" />
        <%= f.fields_for :wheres, (Array.new(1, @background.wheres.build) if @background.wheres.empty?) do |ff| %>
          <%= ff.hidden_field :name %>
          <%= ff.hidden_field :lat %>
          <%= ff.hidden_field :long %>
          <%= ff.hidden_field :city %>
          <%= ff.hidden_field :state %>
          <%= ff.hidden_field :country %>
          <%= ff.hidden_field :postal_code %>
          <%= ff.hidden_field :address %>
          <%= ff.hidden_field :url %>
          <%= ff.hidden_field :google_id %>
          <%= ff.hidden_field :place_id %>
        <% end %>
      </div>
      <div id="map"></div>
    </div>
  </div>
  <div class="manage-main">
    <div class="">
        <div class="card card-block text-xs-center">
          <div class="card-text">
            <p><%= t('organizer-background-title') %></p>
            <p><%= t('organizer-background-edit-desc') %></p>
          </div>
          <div class="text-xs-center">
            <%= image_tag("photo-meta.svg", :width => 64, :alt => "new truppie", :class => 'spaced-down') %>
          </div>
          <div class="file-upload">
            <% if @background.picture.present? %>
                <%= image_tag(@background.picture.url(:thumbnail), :alt => "user document picture", :class => "img-fluid center-block spaced-down") %>
            <% end %>
            <button class="file-upload-btn btn btn-info-outline btn-block spaced-down" type="button" onclick="$('.file-upload-input').trigger( 'click' )"><%= t('event-add-image') %></button>
            <div class="image-upload-wrap">
              <%= f.file_field :picture, class: "file-upload-input", accept: "image/*" %>
              <div class="drag-text">
                <h3><%= t('event-drag-drop-file') %></h3>
              </div>
              <%= error_message(flash[:errors], :picture) %>
            </div>
            <div class="file-upload-content">
              <div class="image-title-wrap">
                <button type="button" onclick="removeUpload()" class="remove-image btn btn-warning-outline space-top"><%= t('event-remove-image-upload') %> <span class="image-title"><%= t('event-image-upload') %></span></button>
              </div>
            </div>
          </div>
        </div>
        <fieldset class="form-group <%= form_error(flash[:errors], :name) %>">
          <%= f.label :name, class: "form-control-label" %>
          <%= f.text_field :name, placeholder: t('marketplace-first-name-placeholder'), class: "form-control #{form_field_error(flash[:errors], :person_name)}" %>
          <%= error_message(flash[:errors], :person_name) %>
        </fieldset>

        <button type="submit" class="btn btn-primary pull-right"><%= t('create-background-action') %></button>
    </div>
  </div>
<% end %>
</div>