<%= form_for @marketplace, class: "form form-signup", multipart: true, role: "form" do |f| %>
  <ul class="nav nav-tabs spaced-down" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Informações sobre a conta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#bank_accounts" role="tab">Conta bancária</a>
    </li>
  </ul>
  <div class="tab-content spaced-down">
    <div class="tab-pane active" id="home" role="tabpanel">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-newspaper-o"></span>
                    </span>
                    <%= f.label :organizer %>
                    <%= f.select :organizer_id, options_for_select(Organizer.all.map{|s|[s.name, s.id]}) %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :person_name, placeholder: "Primeiro nome do titular", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :person_lastname, placeholder: "Último nome do titular", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :document_type, placeholder: "Tipo de documento", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :id_number, placeholder: "Número do documento", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :id_type, placeholder: "Tipo de identificação", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :id_issuer, placeholder: "Emissor", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :id_issuerdate, placeholder: "Data de emissão", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :birthDate, placeholder: "Data de nascimento", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :street, placeholder: "Rua", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :street_number, placeholder: "Número", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :complement, placeholder: "Completo", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :district, placeholder: "Bairro", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :zipcode, placeholder: "CEP", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :city, placeholder: "Cidade", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :state, placeholder: "Estado", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :country, placeholder: "País", class: "form-control" %>
                </div>
            </div>
      </div>
      <div class="tab-pane" id="bank_accounts" role="tabpanel">
        <%= f.fields_for :bank_accounts, ([@marketplace.bank_accounts.build] if @marketplace.bank_accounts.empty?) do |ff| %>
        <fieldset class="form-group packages-set">
          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-sticky-note-o"></span></span>
                  <%= ff.text_field :bank_number, placeholder: "Número do banco", class: "form-control" %>
              </div>
          </div>
          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-sticky-note-o"></span></span>
                  <%= ff.text_field :agency_number, placeholder: "Número da agência", class: "form-control" %>
              </div>
          </div>
          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-sticky-note-o"></span></span>
                  <%= ff.text_field :agency_check_number, placeholder: "Dígito da agência", class: "form-control" %>
              </div>
          </div>
          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-sticky-note-o"></span></span>
                  <%= ff.text_field :account_number, placeholder: "Número da conta", class: "form-control" %>
              </div>
          </div>
          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-sticky-note-o"></span></span>
                  <%= ff.text_field :account_check_number, placeholder: "Dígito da conta", class: "form-control" %>
              </div>
          </div>
          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-sticky-note-o"></span></span>
                  <%= ff.text_field :bank_type, placeholder: "Tipo de banco", class: "form-control" %>
              </div>
          </div>
          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-sticky-note-o"></span></span>
                  <%= ff.text_field :doc_type, placeholder: "Tipo de documento", class: "form-control" %>
              </div>
          </div>
          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-sticky-note-o"></span></span>
                  <%= ff.text_field :doc_number, placeholder: "Número do documento", class: "form-control" %>
              </div>
          </div>
          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-sticky-note-o"></span></span>
                  <%= ff.text_field :fullname, placeholder: "Nome completo", class: "form-control" %>
              </div>
          </div>
          <div class="form-group">
              <div class="input-group">
                  <%= f.label :active %>
                  <%= ff.check_box :active, class: "form-control" %>
              </div>
          </div>
        </fieldset>
        <% end %>
      </div>
  </div>
  <div class="pull-right">  
    <a href="<%= new_marketplace_path %> class="btn btn-lg btn-default" role="button" style="margin-right: 40px; margin-top: 10px;">
        Cancelar
      </a>  
      <%= link_to("Salvar marketplace", "#", class: "btn btn-lg btn-primary create-marketplace") %>
  </div>
  <% end %>