<%= render 'layouts/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="spaced-default spaced-default-full">
        <% if @activation_status == "danger" %>
        <div class="card card-inverse card-<%= @activation_status %> text-xs-center">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <h4>
                <p><%= @activation_message %></p> 
                <% if !@errors.nil? %>
                <p><%= @errors %></p>
                <% end %>
              </h4>
              <% if !@errors["errors"].nil? %>
              <p>Encontramos os seguintes erros no marketplace cadastrado:</p>
              <ul class="list-unstyled">
                <% @errors["errors"].each do |e| %>
                    <li><%= e["description"] %></li>
                <% end %>
              </ul>
              <% else %>
                <%= @errors["ERRORS"] %>
              <% end %>
              <footer>
                <p><%= link_to 'voltar para os marketplaces', marketplaces_path %></p>
              </footer>
            </blockquote>
          </div>
        </div>
        <% end %>
        <% if @activation_status == "success" %>
        <div class="card card-inverse card-<%= @activation_status %> text-xs-center">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <h4>
                <p><%= @activation_message %></p> 
              </h4>
              <% if @marketplace.is_active? %>
                <p>A sua conta se encontra ativa no MOIP e os dados são:</p>
                <ul class="list-unstyled">
                  <li>id da conta: <%= @marketplace.account_id %></li>
                  <li>token: <%= @marketplace.token %></li>
                </ul>
              <% end %>
              <p>Agora você precisa ativar a conta bancária</p>
              <footer>
                <p><%= link_to 'voltar para os marketplaces', marketplaces_path %></p>
              </footer>
            </blockquote>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>