<p id="notice"><%= notice %></p>

<h1>Listing Marketplaces</h1>

<table>
  <thead>
    <tr>
      <th>Organizer</th>
      <th>Bank accounts</th>
      <th>Active</th>
      <th>Person name</th>
      <th>Person lastname</th>
      <th>Document type</th>
      <th></th>
      <th>Id number</th>
      <th>Id type</th>
      <th>Id issuer</th>
      <th>Id issuerdate</th>
      <th>Birthdate</th>
      <th>Street</th>
      <th>Street number</th>
      <th>Complement</th>
      <th>District</th>
      <th>Zipcode</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Token</th>
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marketplaces.each do |marketplace| %>
      <tr>
        <td><%= marketplace.organizer %></td>
        <td><%= marketplace.bank_accounts %></td>
        <td><%= marketplace.active %></td>
        <td><%= marketplace.person_name %></td>
        <td><%= marketplace.person_lastname %></td>
        <td><%= marketplace.document_type %></td>
        <td><%= marketplace.id_number %></td>
        <td><%= marketplace.id_type %></td>
        <td><%= marketplace.id_issuer %></td>
        <td><%= marketplace.id_issuerdate %></td>
        <td><%= marketplace.birthDate %></td>
        <td><%= marketplace.street %></td>
        <td><%= marketplace.street_number %></td>
        <td><%= marketplace.complement %></td>
        <td><%= marketplace.district %></td>
        <td><%= marketplace.zipcode %></td>
        <td><%= marketplace.city %></td>
        <td><%= marketplace.state %></td>
        <td><%= marketplace.country %></td>
        <td><%= marketplace.token %></td>
        <td><%= marketplace.account_id %></td>
        <td><%= link_to 'Show', marketplace %></td>
        <td><%= link_to 'Edit', edit_marketplace_path(marketplace) %></td>
        <td><%= link_to 'Destroy', marketplace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marketplace', new_marketplace_path %>
