<p id="notice"><%= notice %></p>

<p>
  <strong>Organizer:</strong>
  <%= @marketplace.organizer %>
</p>

<p>
  <strong>Bank accounts:</strong>
  <%= @marketplace.bank_accounts %>
</p>

<p>
  <strong>Active:</strong>
  <%= @marketplace.active %>
</p>

<p>
  <strong>Person name:</strong>
  <%= @marketplace.person_name %>
</p>

<p>
  <strong>Person lastname:</strong>
  <%= @marketplace.person_lastname %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @marketplace.document_type %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @marketplace.id_number %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @marketplace.id_type %>
</p>

<p>
  <strong>Id issuer:</strong>
  <%= @marketplace.id_issuer %>
</p>

<p>
  <strong>Id issuerdate:</strong>
  <%= @marketplace.id_issuerdate %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @marketplace.birthDate %>
</p>

<p>
  <strong>Street:</strong>
  <%= @marketplace.street %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @marketplace.street_number %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @marketplace.complement %>
</p>

<p>
  <strong>District:</strong>
  <%= @marketplace.district %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @marketplace.zipcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @marketplace.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @marketplace.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @marketplace.country %>
</p>

<p>
  <strong>Token:</strong>
  <%= @marketplace.token %>
</p>

<p>
  <strong>Account:</strong>
  <%= @marketplace.account_id %>
</p>

<%= link_to 'Edit', edit_marketplace_path(@marketplace) %> |
<%= link_to 'Back', marketplaces_path %>
