<div
id="dateField"
data-days = <%= t(:"date.day_names_calendar").join(',') %>
data-months = <%= t(:"date.month_names").join(',')[1..-1] %>
data-monthsNum = "12"
data-label = "<%= t('same-date') %>"
>
  <div class="fromTo" id="fromToPicker">
    <div class="dateBox" id="dateFromPicker">
      <i class="r_head"><%= t('departure-date') %></i>
      <i class="r_date"><%= t('select-date') %></i>
    </div>
    <div class="dateBox days off" id="daysNumPicker">
      <i class="r_head"><%= t('days') %></i>
      <i class="r_days"><span class="r_dots">&middot;</span><em>0</em><span class="r_dots">&middot;</span></i>
    </div>
    <div class="dateBox off" id="dateToPicker">
      <i class="r_head"><%= t('return-date') %></i>
      <i class="r_date"><%= t('select-date') %></i>
    </div>
  </div>
</div>

<div class="form-group row" style="margin-top: 10px;">
  <div class="col-xs-6">
    <%= label_tag 'Horário de início' %>
    <%= time_field_tag :start_time, nil, value: (l(f.object.formatted_start, format: '%H:%M') if f.object.try(:start)) %>
  </div>
  <div class="col-xs-6">
    <%= label_tag 'Horário de término' %>
    <%= time_field_tag :end_time, nil, value: (l(f.object.formatted_end, format: '%H:%M') if f.object.try(:end)) %>
  </div>
</div>


<div id="cal">

  <div class="fromTo" id="fromTo">
    <div class="dateBox" id="dateFrom">
      <i class="r_head"><%= t('departure-date') %></i>
      <i class="r_date"><%= t('select-date') %></i>
    </div>
    <div class="dateBox days off" id="daysNum">
    <i class="r_head">Days</i>
    <i class="r_days"><span class="r_dots">&middot;&middot;&middot;&middot;</span><em>0</em><span class="r_dots">&middot;&middot;&middot;&middot;</span></i>
    </div>
    <div class="dateBox off" id="dateTo">
      <i class="r_head"><%= t('return-date') %></i>
      <i class="r_date"><%= t('select-date') %></i>
    </div>
  </div>

  <i class="clear" style="clear:both;"></i>

  <!-- the calendars -->
  <div id="r_cals">
    <div id="r_nav">
      <i class="nav next" id="next">&rsaquo;</i>
      <i class="nav prev off" id="prev">&lsaquo;</i>
    </div>
    <div id="dp"></div>
  </div>


  <div id="dactions" style="margin:10px;">
    <button class="btn btn-outline btn-cancel" style="margin-right: 10px;"><%= t('cancel') %></button>
    <button class="btn btn-success"><%= t('change-date') %></button>
  </div>

</div>