<div class="c-container">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,100,100italic' rel='stylesheet' type='text/css'>
  <div id="c">

    <!--
    <h1><b><%= t('event-call-action-strong') %></b> <%= t('event-call-action-tagline') %></h1>
    <p class="sub"><i><%= t('event-call-sub') %></i> <%= t('event-call-text') %></p>
    -->

    <div id="calHelp">
      <div class="first active"><i>a</i> <b id="sel1text"><%= t('event-call-start') %></b></div><div class="disabled"><i>b</i> <b id="sel2text"><%= t('event-call-end') %></b></div>
    </div>

    <div id="disp">
      <div id="prev" class="nav">&larr;</div>
      <div id="month">Hello world</div>
      <div id="next" class="nav">&rarr;</div></div>
    <div id="cal"></div>

    <div class="log">
      <h4><%= t('event-date-choosen') %></h4>
      <p><%= t('event-date-choosen-end') %></p>
    </div>

    <div class="form-group row">
      <div class="col-xs-6">
        <%= f.label 'Horário de início', class: "" %>
        <%= f.time_select :start, value: '', class: "form-control" %>
      </div>
      <div class="col-xs-6">
        <%= f.label 'Horário de término', placeholder: '', class: "" %>
        <%= f.time_select :end, value: '', class: "form-control" %>
      </div>
    </div>

  </div><!-- /#c -->
</div>