<%= form_for @organizer, class: "form form-signup", multipart: true, role: "form" do |f| %>
    <ul class="nav nav-tabs spaced-down" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Informações básicas</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#foto" role="tab">Foto</a>
	  </li>
	  <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#politica" role="tab">Políticas do guia</a>
    </li>
	</ul>
	<div class="tab-content spaced-down">
		<div class="tab-pane active" id="home" role="tabpanel">
		        <div class="form-group">
  		        <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-newspaper-o"></span>
                  </span>
                  <%= f.label :marketplace %>
                  <%= f.select :marketplace_id, options_for_select(Marketplace.all.map{|s|[s.person_name, s.id]}, (@organizer.marketplace_id if @organizer.marketplace_id.present?)), {class: "form-control", include_blank: "Escolha uma categoria"} %>
              </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-newspaper-o"></span>
                    </span>
                    <%= f.text_field :name, placeholder: "Nome do guia", class: "form-control" %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                </div>
            </div>
            <div class="form-group">
                <%= f.text_area :description, placeholder: "Descrição completa", class: "form-control" %>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :email, placeholder: "Endereço de email do guia", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :website, placeholder: "Endereço do site do guia", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :facebook, placeholder: "facebook", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :twitter, placeholder: "twitter", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :instagram, placeholder: "instagram", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :phone, placeholder: "phone", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-bookmark"></span></span>
                    <%= f.select :user_id, options_for_select(User.all.map{|s|[s.name, s.id]}, (@organizer.user_id if @organizer.user_id.present?)), {class: "form-control", include_blank: "Escolha o responsável pelo guia"} %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
                    <%= f.text_field :members, value: (@organizer.members.name if @organizer.members.present?), placeholder: "Membros", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-eye"></span></span>
                    <%= f.select :status, options_for_select([['Não Publicado', 'N'],['Publicado', 'P']], (@organizer.status if @organizer.status.present?)), {class: "form-control", include_blank: "Escolha um status"} %>
                </div>
            </div>
    	</div>
    	<div class="tab-pane" id="foto" role="tabpanel">
    		<div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-photo"></span></span>
                    <%= f.file_field :picture, class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
            <% unless @organizer.nil? %>
                <% if @organizer.picture.present? %>
                	<%= image_tag @organizer.picture.url(:thumbnail) %>
                <% end %>
            <% end %>
            </div>
    	</div>
    	<div class="tab-pane" id="politica" role="tabpanel">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-photo"></span></span>
                <%= f.text_field :policy, value: (@organizer.policy.join(';') if @organizer.policy.present?), class: "form-control" %>
            </div>
        </div>
      </div>
	</div>
	<!--
    <div class="form-group">
   		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Criar evento também no facebook
		  </label>
		</div>
    </div>
   -->
    <div class="pull-right">  
    	<a href="<%= new_tour_path %> class="btn btn-lg btn-default" role="button" style="margin-right: 40px; margin-top: 10px;">
        	Cancelar
        </a>  
        <%= link_to("Salvar guia", "#", class: "btn btn-lg btn-primary criar-guia") %>
    </div>
  <% end %>