<%= form_for @organizer, class: "form form-signup", multipart: true, role: "form" do |f| %>
    <ul class="nav nav-tabs spaced-down" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Informações básicas</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#foto" role="tab">Foto</a>
	  </li>
	  <li class="nav-item">
	  	<a class="nav-link" data-toggle="tab" href="#account" role="tab">Dados para recebimento</a>
  	  </li>
	</ul>
	<div class="tab-content spaced-down">
		<div class="tab-pane active" id="home" role="tabpanel">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-newspaper-o"></span>
                    </span>
                    <%= f.text_field :name, placeholder: "Nome do guia", class: "form-control" %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                </div>
            </div>
            <div class="form-group">
                <%= f.text_area :description, placeholder: "Descrição completa", class: "form-control" %>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :email, placeholder: "Endereço de email do guia", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :website, placeholder: "Endereço do site do guia", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :facebook, placeholder: "facebook", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :twitter, placeholder: "twitter", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :instagram, placeholder: "instagram", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
                    <%= f.text_field :phone, placeholder: "Telefone no formato xx (xx) xxxxxx", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
                    <%= f.text_field :members, value: (@organizer.members.name if @organizer.members.present?), placeholder: "Membros", class: "form-control" %>
                </div>
            </div>
    	</div>
    	<div class="tab-pane" id="foto" role="tabpanel">
    		<div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-photo"></span></span>
                    <%= f.file_field :picture, class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
            <% unless @organizer.nil? %>
                <% if @organizer.picture.present? %>
                	<%= image_tag @organizer.picture.url(:thumbnail) %>
                <% end %>
            <% end %>
            </div>
    	</div>
    	<div class="tab-pane" id="account" role="tabpanel">
    		<% if @organizer.persisted? %>
    		<h3>Recebimento dos valores em conta</h3>
	    		<% if @organizer.active && @organizer.account_id && @organizer.token %>
					<p class="spaced-default">
					<%= link_to 'Gerenciar conta', organizers_account_activate_path(@organizer), class: "btn btn-primary" %>
					</p>
				<% else %>
					<div class="spaced-down">
						<p>
						<small>Você pode receber diretamente na sua conta através da Truppie.<br/>
							Preencha todos os dados do titular para ativar um titular e assim obter uma conta para recebimento</small>
						</p>
						<% if !@organizer.active %>
							<%= link_to 'Ativar titular', organizers_account_activate_path(@organizer), class: "btn btn-primary" %>
						<% else %>
							<button class="btn btn-primary" disabled="disabled">Ativar titular</button>
						<% end %>
	    			</div>
	    		<% end %>
    		<% end %>
    		<div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                    <%= f.text_field :person_name, placeholder: "Nome do titular", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                    <%= f.text_field :person_lastname, placeholder: "Nome do titular", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                    <%= f.hidden_field :document_type, value: "CPF" %>
                    <%= f.text_field :document_number, placeholder: "Número do CPF", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                    <%= f.hidden_field :id_type, value: "RG" %>
                    <%= f.text_field :id_number, placeholder: "Número do RG", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                    <%= f.text_field :id_issuer, placeholder: "Órgão expeditor", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                    <%= f.text_field :id_issuerdate, placeholder: "Data de expedição", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                    <%= f.text_field :birthDate, placeholder: "Data de nascimento", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                    <%= f.text_field :street, placeholder: "Endereço", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                    <%= f.text_field :street_number, placeholder: "Número", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                    <%= f.text_field :complement, placeholder: "Complemento", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                    <%= f.text_field :district, placeholder: "Bairro", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                    <%= f.text_field :zipcode, placeholder: "CEP", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                    <%= f.text_field :city, placeholder: "Cidade", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                    <%= f.text_field :state, placeholder: "Estado", class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                    <%= f.text_field :country, placeholder: "País", class: "form-control" %>
                </div>
            </div>
    	</div>
	</div>
	<!--
    <div class="form-group">
   		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Criar evento também no facebook
		  </label>
		</div>
    </div>
   -->
    <div class="pull-right">  
    	<a href="<%= new_tour_path %> class="btn btn-lg btn-default" role="button" style="margin-right: 40px; margin-top: 10px;">
        	Cancelar
        </a>  
        <%= link_to("Salvar guia", "#", class: "btn btn-lg btn-primary criar-guia") %>
    </div>
  <% end %>