<ul class="list-group">
  <li class="list-group-item">
    <a href="<%= guided_tour_organizer_path(@organizer) %>">
      <span class="label label-default label-pill pull-xs-right"><%= @organizer.tours.count %></span>
      <%= t('organizer-tours-label') %>
    </a>
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-right">2</span>
    <%= t('organizer-calendar-label') %>
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-right">1</span>
    <%= t('organizer-another-label') %>
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-xs-right">1</span>
    <%= t('organizer-policies-label') %>
  </li>
</ul>