<%= render 'layouts/navbar' %>
<%= render 'layouts/flash' %>
<div class="container manage-entries">
  <div class="row">
    <div class="col-xs-12">
      <div class="manage-inspiration">
        <%= render 'layouts/organizer_intro_block', locals: {organizer: @organizer} %>
      </div>
      <div class="manage-container">
        <div class="manage-sidebar">
          <%= render partial: 'organizer_side_menu_account' %>
        </div>
        <div class="manage-main">
          <div class="">
            <p class="text-xs-center"><strong><%= t('hello-organizer-welcome', organizer: @organizer.name) %></strong></p>
            <p class="text-xs-center"><%= t('organizer-account-intro-title') %></p>
            <p class="text-xs-center"><%= t('organizer-account-intro-desc') %></p>
            <p class="text-xs-center">
              <%= image_tag("guide-account.svg", :alt => "new truppie", :width => 128, :class => 'img-fluid center-block') %>
            </p>
            <p class="text-xs-center">
              <%= t('organizer-dashboard-desc') %>
            </p>
            <p class="text-xs-center">
              <%= link_to guided_tour_organizer_path(@organizer), class: 'btn btn-primary btn-lg' do %>
                  <%= t('organizer-add-account-data') %> <i class="fa fa-plus"></i>
              <% end %>
            </p>
            <p class="text-xs-center">
              <%= link_to guided_tour_organizer_path(@organizer), class: 'btn btn-primary btn-lg' do %>
                  <%= t('organizer-add-tour') %> <i class="fa fa-plus"></i>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fullscreen_bg" class="fullscreen_bg"></div>
</div>