<%= render 'layouts/navbar' %>
<div class="form-signin">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card card-block">
                <div class="card-body" style="overflow:hidden;">
                    <h3 class="text-center spaced-down">
                        Gerenciamento de conta <small><%= link_to 'voltar para o guia', organizer_path(@organizer) %></small>
                    </h3>
                    <% if !@current_account.nil? %>
                	<div class="card" style="overflow: hidden">
						<div class="card-block">
							<h4 class="card-title">Dados do titular:</h4>
							<div class="card-subtitle">
							<p>
								<small>nome:</small><br/>
								<%= @current_account["person"]["name"] %>
							</p>
							<p>
								<small>sobrenome:</small><br/>
								<%= @current_account["person"]["lastName"] %>
							</p>
							</div>
						</div>
						<div class="card-footer" style="overflow: hidden">
							<span class="pull-left">
								<% if @money_account_json.length != 0 %>
								<small>Transferir para conta:</small> 
									<%= form_tag('/organizers/transfer_funds', method: :post) do -%>
									  	<%= text_field_tag :amount %>
									  	<%= hidden_field_tag :id, @organizer.id %>
									  	<div><%= submit_tag 'Transferir' %></div>
									<% end %>
								<% else %>
									<small>Você não tem nenhuma conta cadastrada</small>
									<%= link_to "cadastrar nova conta", new_bank_account_path, class: "btn btn-small btn-primary" %>
								<% end %>
							</span>
							<span class="pull-right">
								<small>em conta:</small> <span class="label label-success increase-font"><%= number_to_currency(@money_balance_json[0]["current"]/100, unit: "R$") %></span>
								<small>a liberar:</small> <span class="label label-warning increase-font"><%= number_to_currency(@money_balance_json[0]["future"]/100, unit: "R$") %></span>
							</span>
						</div>
					</div>
                	<% end %>
		    		<% if !@transfers_json.nil? %>
		    		<h1>Transferências</h1>
					<table class="rwd-table">
					  <tr>
					    <th>Nome</th>
					    <th>Status</th>
					    <th>Data</th>
					    <th>Banco</th>
					    <th>Conta</th>
					    <th>Valor</th>
					  </tr>
					  <% @transfers_json["transfers"].each do |t| %>
					  <tr>
					    <td data-th="Nome"><%= t["transferInstrument"]["bankAccount"]["holder"]["fullname"] %></td>
					    <td data-th="Status"><%= t["status"] %></td>
					    <td data-th="Data"><%= l(t["updatedAt"].to_datetime, format: '%d de %B de %Y as %Hh%M') %></td>
					    <td data-th="Banco"><%= t["transferInstrument"]["bankAccount"]["bankName"] %></td>
					    <td data-th="Conta"><%= t["transferInstrument"]["bankAccount"]["accountNumber"] %></td>
					    <td data-th="Valor"><%= number_to_currency(t["amount"]/100, unit: "R$") %></td>
					  </tr>
					  <% end %>
					</table>
					<small>Se a transferência que consta na lista não entrou na sua conta, <%= link_to "entre em contato com a gente", contacts_index_path %></small>
	            	<% else %>
	            		<p>Nenhuma transferência realizada</p>
	            	<% end %>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<div id="fullscreen_bg" class="fullscreen_bg"></div>
</div>