<%= render 'layouts/navbar' %>
<div class="form-signin">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
        	<!-- Nav tabs -->
            <div class="card card-block">
                <div class="card-body" style="overflow:hidden;">
                    <h3 class="text-center spaced-down">
                        Gerenciamento de conta <small><%= link_to 'voltar para o guia', organizer_path(@organizer) %></small>
                    </h3>
                    <p>Dados do titular:</p>
                    <div class="list-view-container">
                    	<div class="list-view-data">
	                    	<small>Nome:</small>
	                    	<%= @current_account["person"]["name"] %>
	                    	</p>
                    	</div>
                    	<div class="list-view-data">
	                    	<small>Sobrenome:</small>
	                    	<%= @current_account["person"]["lastName"] %>
	                    	</p>
                    	</div>
                    	<div class="list-view-data">
	                    	<small>Telefone:</small>
	                    	+<%= @current_account["person"]["phone"]["countryCode"] %> (<%= @current_account["person"]["phone"]["areaCode"] %>) <%= @current_account["person"]["phone"]["number"] %>
	                    	</p>
                    	</div>
                    	<%= @money_balance_json.inspect %>
                	</div>
                	<% if @organizer.persisted? %>
		    		<h3>Contas</h3>
			    		<% if @organizer.active && @organizer.account_id && @organizer.token %>
							<p>Você tem <%= @money_account_json.length %> contas</p>
							
							<%= @money_account_json.inspect %>
							
						<% else %>
							<div class="spaced-down">
								<p>
								<small>Você pode receber diretamente na sua conta através da Truppie.<br/>
									Preencha todos os dados do titular para ativar um titular e assim obter uma conta para recebimento</small>
								</p>
			    			</div>
			    		<% end %>
		    		<% end %>
				  </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<div id="fullscreen_bg" class="fullscreen_bg"/>
</div>