<%= render 'layouts/navbar' %>
<%= render 'layouts/flash' %>
<div class="container manage-entries">
  <div class="row">
    <div class="col-xs-12">
      <div class="manage-inspiration">
        <%= render 'layouts/organizer_intro_block', locals: {organizer: @organizer} %>
      </div>
      <div class="manage-container">
        <div class="manage-sidebar">
          <%= render partial: 'organizer_side_menu_account' %>
        </div>
        <div class="manage-main">
          <div class="">
            <div class="card card-block text-xs-center">
              <button type="button" class="close close-action" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="card-title"><%= t('hello-organizer-welcome-account-edit', organizer: @organizer.name) %></strong></h3>
              <div class="card-text">
                <p><%= t('organizer-account-welcome-account-edit-title') %></p>
                <p><%= t('organizer-account-edit-desc') %></p>
              </div>
              <p class="text-xs-center">
                <%= image_tag("guide-account.svg", :width => 64, :alt => "new truppie", :class => 'img-fluid center-block') %>
              </p>
              <a href="#" class="btn btn-primary"><%= t('organizer-profile-action') %></a>
            </div>

            <div class="row">
              <% @marketplace.bank_accounts.each do |b| %>
              <%= form_for b, class: "form", multipart: true, role: "form", method: :patch do |f| %>
              <div class="col-lg-12">
                <h4><%= t('card-label') %></h4>
              </div>
              <div class="col-xs-12">
                <div class="thumbnail">
                  <div class="caption">
                    <div class='col-lg-12'>
                      <div class="text-success pull-left spaced-down-small">
                        <span class="glyphicon glyphicon-credit-card"></span>
                        <%= f.hidden_field :bank_account, value: b %>
                        <% if b.active %>
                            <span class="glyphicon glyphicon-ok"></span>
                            <%= t('active-label') %>
                            <label><%= t('unactivate-label') %></label>
                            <%= f.check_box :active %>
                        <% else %>
                            <%= f.check_box :active, class: "form-control" %>
                            <%= f.hidden_field :marketplace_id, value: @marketplace.try(:id) %>
                        <% end %>
                      </div>
                      <span class="glyphicon glyphicon-trash pull-right text-primary"></span>
                    </div>
                    <div class='col-lg-12 well well-add-card'>
                      <h4><%= b.try(:fullname) or t('fullname-empty') %></h4>
                    </div>
                    <div class='col-lg-12'>
                      <p><%= b.try(:agency_number) or t('bank-number-empty') %></p>
                      <p><%= b.try(:account_number) or t('bank-number-empty') %></p>
                      <p class"text-muted"><%= b.try(:name) or t('bank-number-empty') %></p>
                    </div>
                    <button type="button" class="btn btn-primary btn-xs btn-update btn-add-card">
                      <%= t('bank-account-edit-button') %>
                    </button>
                    <%= f.submit t('update-bank-account-label'), :class => "btn btn-primary btn-xs btn-update btn-add-card" %>
                    <button type="button" class="btn btn-danger btn-xs btn-update btn-add-card"><%= t('verify-bank-account-label') %></button>
                    <span class='glyphicon glyphicon-exclamation-sign text-danger pull-right icon-style'></span>
                  </div>
                </div>
              </div>
              <% end %>
              <% end %>
            </div><!-- End row -->
            </div>
            <%= render partial: 'organizers/bank_account_form', locals: {bank_account: @bank_account} %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fullscreen_bg" class="fullscreen_bg"></div>
</div>