<%= render 'layouts/navbar' %>
  <div class="container manage-entries">
    <div class="row">
      <div class="col-xs-12">
        <div class="manage-inspiration">
          <%= render 'layouts/organizer_intro_block', locals: {organizer: @organizer} %>
        </div>
        <div class="manage-container">
          <div class="manage-sidebar">
            <%= render partial: 'organizer_side_menu' %>
          </div>
          <div class="manage-main">
            <div class="">
              <p class="text-xs-center"><strong><%= t('hello-organizer-welcome', organizer: @organizer.name) %></strong></p>
              <p class="text-xs-center"><%= t('organizer-panel-welcome') %></p>
              <p class="text-xs-center">
                <%= image_tag("adventurer.svg", :alt => "new truppie", :width => 200, :class => 'img-fluid center-block') %>
              </p>
              <p class="text-xs-center">
                <%= t('organizer-dashboard-desc') %>
              </p>
              <p class="text-xs-center">
                <%= link_to guided_tour_organizer_path(@organizer), class: 'btn btn-primary btn-lg' do %>
                    <%= t('organizer-new-tour') %> <i class="fa fa-plus"></i>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div id="fullscreen_bg" class="fullscreen_bg"></div>
</div>