<%= render 'layouts/navbar' %>
<%= render 'layouts/flash' %>
<div class="container manage-entries">
  <div class="row">
    <div class="col-xs-12">
      <div class="manage-inspiration">
        <%= render 'layouts/organizer_intro_block', locals: {organizer: @organizer} %>
      </div>
      <div class="manage-container">
        <div class="manage-sidebar">
          <%= render partial: 'organizer_side_menu' %>
        </div>
        <div class="manage-main">
          <h4 class="spaced-down" style="overflow:hidden; padding-bottom: 10px;">
            <div class="pull-left">
              <%= @guided_tour.title %>
            </div>
            <div class="pull-right">
              <a target="_blank" class="btn btn-primary btn-facebook btn-sm" rel="publisher" href="">
                <i class="fa fa-facebook"></i> <%= t('import-event-label') %>
              </a>
            </div>
          </h4>
          <div class="row">
            <div class="col-xs-12">
              <%= render 'form_guided_tour' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fullscreen_bg" class="fullscreen_bg"></div>
</div>