<%= render 'layouts/navbar' %>
<%= render 'layouts/flash' %>
<div class="container manage-entries">
  <div class="row">
    <div class="col-xs-12">
      <div class="manage-inspiration">
        <%= render 'layouts/organizer_intro_block', locals: {organizer: @organizer} %>
      </div>
      <div class="manage-container">
        <div class="manage-sidebar">
          <%= render partial: 'organizer_side_menu' %>
        </div>
        <div class="manage-main">
          <h4 class="spaced-down" style="overflow:hidden; padding-bottom: 10px;">
            <div class="pull-left">
            <%= t('new-tour-label') %>
            </div>
            <!--
            <div class="pull-right">
              <a target="_blank" class="btn btn-primary btn-facebook btn-sm" rel="publisher" href="">
                <i class="fa fa-facebook"></i> <%= t('import-event-label') %>
              </a>
            </div>
            -->
          </h4>
          <div class="event-list">
            <div id="newEventHolder">
              <span><i class="fa fa-plus"></i> <%= t('new-guided-tour-label') %></span>
            </div>
            <%= render 'form_guided_tour' %>
            <h4 class="spaced-top">
              <%= t('events-next') %>
              <small>(<%= @organizer.tours.nexts.count %> eventos)</small>
            </h4>
            <ul id="upcomingEvents">
              <% @organizer.tours.nexts.each do |t| %>
              <li id="eventHolder">
                <% if t.try(:start) and t.try(:end) %>
                <div class="event-date-holder">
                  <span id="dateNumber"><%= l(t.start, format: '%d') %></span>
                  <span id="dateDay"><%= l(t.start, format: '%b') %></span>
                </div>
                <% else %>
                    <div class="event-date-holder">
                      Sem data
                    </div>
                <% end %>
                <div class="event-details-holder">
                  <h1>
                    <%= t.title %>
                    <% if t.status == 'P' %>
                        <small><span class="label label-success">publicado</span></small>
                    <% else %>
                        <small><span class="label label-info">não publicado</span></small>
                    <% end %>
                  </h1>

                  <ul id="editTools">
                    <li>
                      <%= link_to edit_guided_tour_organizer_path(t.organizer, t) do %>
                      <i class="fa fa-pencil-square-o"></i>
                      <small>editar</small>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to copy_tour_tour_path(t) do %>
                          <i class="fa fa-bars"></i>
                          <small>copiar</small>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to t, method: :delete, data: { confirm: 'Quer mesmo apagar seu evento?' } do %>
                          <i class="fa fa-times" id="removeEvent"></i>
                          <small>apagar</small>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </li>
              <% end %>
            </ul>
            <h4 class="spaced-top">
              Eventos passados
              <small>(<%= @organizer.tours.past.count %> eventos)</small>
            </h4>
            <ul id="olderEvents">
              <% @organizer.tours.past.each do |t| %>
                  <li id="eventHolder">
                    <% if t.try(:start) and t.try(:end) %>
                        <div class="event-date-holder">
                          <span id="dateNumber"><%= l(t.start, format: '%d') %></span>
                          <span id="dateDay"><%= l(t.start, format: '%b') %></span>
                        </div>
                    <% else %>
                        <div class="event-date-holder">
                          Sem data
                        </div>
                    <% end %>
                    <div class="event-details-holder">
                      <h1>
                        <%= t.title %>
                        <% if t.status == 'P' %>
                            <small><span class="label label-success">publicado</span></small>
                        <% else %>
                            <small><span class="label label-info">não publicado</span></small>
                        <% end %>
                      </h1>

                      <ul id="editTools">
                        <li>
                          <%= link_to edit_guided_tour_organizer_path(t.organizer, t) do %>
                              <i class="fa fa-pencil-square-o"></i>
                              <small>editar</small>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to copy_tour_tour_path(t) do %>
                              <i class="fa fa-bars"></i>
                              <small>copiar</small>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to t, method: :delete, data: { confirm: 'Quer mesmo apagar seu evento?' } do %>
                              <i class="fa fa-times" id="removeEvent"></i>
                              <small>apagar</small>
                          <% end %>
                        </li>
                      </ul>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fullscreen_bg" class="fullscreen_bg"></div>
</div>