<%= render 'layouts/navbar' %>
<%= render 'layouts/flash' %>
<div class="form-signin">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card card-block">
                <div class="card-body" style="overflow:hidden;">
                    <h3 class="text-center spaced-down">
                        Convidar guia ou <small><%= link_to t('see-all-guides-label'), organizers_path %></small>
                    </h3>
                  <%= form_tag({controller: "organizers", action: "send_invite"}, method: "post") do %>
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><span class="fa fa-bookmark"></span></span>
                          <%= select_tag :invited, options_for_select(Organizer.all.map{|s|[s.name, s.id]}), {class: "form-control", include_blank: "Guias para convidar"} %>
                        </div>
                        <input type="submit" value="Convidar!" class="pull-right btn btn-primary btn-large btn" />
                      </div>
                  <% end %>
                </div>
            </div>
				    </div>
	      </div>
	  </div>
</div>
<div id="fullscreen_bg" class="fullscreen_bg"/>
</div>
