<%= render 'layouts/navbar' %>
  <div class="container manage-entries">
    <div class="row">
      <div class="col-xs-12">
        <div class="manage-inspiration">
            Olá <strong><%= link_to @organizer.name, organizer_path(@organizer) %></strong> <br />
            Aqui você verá o saldo das suas truppies
        </div>
        <div class="manage-container">
          <div class="manage-sidebar">
            <h2 class="spaced-down">Truppies</h2>
            <% @tours.each do |t| %>
            <div class="manage-card <%= 'manage-selected' if t.id == @tour.id %>">
              <div class="manage-card-visa">
                <%= link_to manage_organizer_path(@organizer, t) do %>
                  <% if t.try(:picture) %>
                    <%= image_tag(t.picture(:thumbnail), :alt => t.organizer.name) %>
                  <% end %>
                <% end %>
              </div>
              <div class="manage-card-number">
                <%= link_to t.title, manage_organizer_path(@organizer, t) %>
              </div>
              <div class="manage-card-val">
                começa em <%= l(t.start, format: '%d de %B de %Y às %Hh%M') %> <br />
                <strong><%= friendly_when(t.start) %></strong>
              </div>
              <div class="manage-card-val">
                Valor: <%= raw t.price %> <br />
              </div>
            </div>
            <% end %>
            
          </div>
          <% if !@tour.nil? %>
          <div class="manage-main">
            <h2><%= @tour.title %></h2>
            <%= render partial: 'layouts/dash' %>
            <h3><%= @tour.orders.count %> reserva(s):</h3>
            <% @tour.orders.each do |o| %>
            <div class="manage-item">
              <%= raw(o.friendly_status(o.current_status)) %>
              <div class="manage-item-name"><%= o.user.name %> - <small><%= o.amount %> reserva(s)</small></div>
              <div class="manage-item-description">
                <%= o.payment %> - <strong><%= o.payment_method %></strong><br />
                <small>Feita em <%= l(o.created_at, format: '%d de %B de %Y às %Hh%M') %></small> 
              </div>
              <div class="manage-item-price"><%= raw final_price(o.price) %></div>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  <div id="fullscreen_bg" class="fullscreen_bg"/>   
</div>
</div>