<%= render 'layouts/navbar' %>
  <div class="container manage-entries">
    <div class="row">
      <div class="col-xs-12">
        <div class="manage-inspiration">
          <%= render 'layouts/organizer_intro_block', locals: {organizer: @organizer} %>
        </div>
        <div class="manage-inspiration">
          <%= render 'layouts/organizer_dashboard_reservations', locals: {organizer: @organizer} %>
        </div>
        <div class="card card-block trigger-overlay-container">
            <p><a href="#" id="js-trigger-overlay" class="btn btn-block btn-primary trigger-overlay"><strong>ver balanço de outras truppies</strong></a></p>
        </div>
        <div class="manage-container">
          <div class="manage-sidebar overlay-effect overlay">
              <button type="button" class="close">Close</button>
              <h2 class="spaced-down">Roteiros</h2>
              <nav class="scroll">
                <ul class="flex-scroll">
                <% @guidebooks.each do |t| %>
                <li class="flex-nav-item">
                  <div class="manage-card <%= 'manage-selected' if t.id == @guidebook.id %>">
                    <div class="manage-card-visa">
                      <%= link_to manage_guidebooks_organizer_path(@organizer, t) do %>
                        <% if t.try(:picture) %>
                          <%= image_tag(t.picture(:thumbnail), :alt => t.organizer.name, :class=> "image-fluid") %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="manage-card-number">
                      <%= link_to t.title, manage_guidebooks_organizer_path(@organizer, t) %>
                    </div>
                    <div class="manage-card-val">
                      Valor: <%= raw t.price %> <br />
                    </div>
                  </div>
                </li>
                <% end %>
                </ul>
              </nav>
          </div>
          <% if !@guidebook.nil? %>
          <div class="manage-main">
            <h2>
              <%= link_to @guidebook.title, guidebook_path(@guidebook) %></p>
            </h2>
            <h3><%= @guidebook.orders.count %> reserva(s):</h3>
            <% @guidebook.orders.each do |o| %>
            <div class="manage-item">
              <div class="manage-item-name"><%= raw(o.friendly_status(o.current_status)) %></div>
              <div class="manage-item-name"><%= o.user.name %></div>
              <div><%= o.amount %> reserva(s) de <%= raw final_price_from_cents(o.price) %></div>
              <div class="manage-item-description">
                <strong><%= o.payment_method %></strong><br />
                <small>Feita em <%= l(o.created_at, format: '%d de %B de %Y às %Hh%M') %></small> 
              </div>
              <div class="manage-item-price">
              </div>
            </div>
            <% end %>
          </div>
          <% else %>
              <div class="manage-main">
                <p class="text-xs-center"><strong><%= t('hello-organizer-welcome', organizer: @organizer.name) %></strong></p>
                <p class="text-xs-center"><%= t('organizer-account-intro-title') %></p>
                <p class="text-xs-center"><%= t('organizer-account-intro-desc') %></p>
                <p class="text-xs-center">
                  <%= image_tag("tent-mountain.svg", :alt => "new truppie", :width => 128, :class => 'img-fluid center-block') %>
                </p>
                <p class="text-xs-center">
                  <%= t('organizer-dashboard-desc') %>
                </p>
                <p class="text-xs-center">
                  <%= link_to account_edit_organizer_path(@organizer), class: 'btn btn-primary btn-lg' do %>
                      <%= t('organizer-add-account-data') %> <i class="fa fa-edit" style="margin-left: 5px;"></i>
                  <% end %>
                </p>
                <p class="text-xs-center">
                  <%= link_to guided_tour_organizer_path(@organizer), class: 'btn btn-primary btn-lg' do %>
                      <%= t('organizer-add-tour') %> <i class="fa fa-calendar" style="margin-left: 5px;"></i>
                  <% end %>
                </p>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  <div id="fullscreen_bg" class="fullscreen_bg"/>   
</div>
</div>