<%= render 'layouts/navbar' %>
  <div class="container manage-entries">
    <div class="row">
      <div class="col-xs-12">
        <div class="manage-inspiration">
          <div class="card card-block">
              <%= render 'layouts/organizer_dashboard_navbar' %>
              <p>Olá <strong><%= link_to @organizer.name, organizer_path(@organizer) %></strong> <br />
              Aqui você verá o saldo total da sua conta e das suas truppies</p>
              <% if @organizer.balance %>
                <ul class="dash-list">
                  <li id="dash-item--1" class="dash-item dash-item--published">
                      <div class="dash-item__header">
                          <h3 class="dash-item__title"><strong>Balanço total da sua conta</strong></h3>
                      </div>
                      <div class="dash-item__content">
                          <ul class="quiz-results">
                              <li class="quiz-results__item quiz-results__item--average-score quiz-results__number--finishes">
                                  <span class="quiz-results__number "><%= raw friendly_price(@organizer.balance[0]["unavailable"]) %></span>
                                  <div class="quiz-results__label">bloqueado</div>
                              </li>
                              <li class="quiz-results__item quiz-results__item--finishes quiz-results__number--views">
                                  <span class="quiz-results__number "><%= raw friendly_price(@organizer.balance[0]["future"]) %></span>
                                  <div class="quiz-results__label">A liberar</div>
                              </li>
                              <li class="quiz-results__item quiz-results__item--views">
                                  <span class="quiz-results__number quiz-results__number--average-score"><%= raw friendly_price(@organizer.balance[0]["current"]) %></span>
                                  <div class="quiz-results__label">Atual</div>
                              </li>
                          </ul>
                      </div>
                  </li>
              </ul> 
              <p>
                <%= link_to transfer_organizer_path(@organizer), class: "btn btn-block btn-primary-outline" do %>
                  <strong>Transferir para minha conta</strong>
                <% end %>
              </p>
              <% else %>
                <p>Sua conta ainda não está ativada no marketplace, favor entrar em contato conosco para ativação</p>
              <% end %>
          </div>
        </div>
        <div class="manage-container">
          <div class="manage-sidebar">
              <h2 class="spaced-down">Truppies</h2>
              <nav class="scroll">
                <ul class="flex-scroll">
                <% @tours.each do |t| %>
                <li class="flex-nav-item">
                  <div class="manage-card <%= 'manage-selected' if t.id == @tour.id %>">
                    <div class="manage-card-visa">
                      <%= link_to manage_organizer_path(@organizer, t) do %>
                        <% if t.try(:picture) %>
                          <%= image_tag(t.picture(:thumbnail), :alt => t.organizer.name, :class=> "image-fluid") %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="manage-card-number">
                      <%= link_to t.title, manage_organizer_path(@organizer, t) %>
                    </div>
                    <div class="manage-card-val">
                      começa em <%= l(t.start, format: '%d de %B de %Y às %Hh%M') %> <br />
                      <strong><%= friendly_when(t.start) %></strong>
                    </div>
                    <div class="manage-card-val">
                      Valor: <%= raw t.price %> <br />
                    </div>
                  </div>
                </li>
                <% end %>
                </ul>
              </nav>
          </div>
          <% if !@tour.nil? %>
          <div class="manage-main">
            <h2>
              <%= link_to @tour.title, tour_path(@tour) %></p>
            </h2>
            <%= render partial: 'layouts/dash' %>
            <h3><%= @tour.orders.count %> reserva(s):</h3>
            <% @tour.orders.each do |o| %>
            <div class="manage-item">
              <%= raw(o.friendly_status(o.current_status)) %>
              <div class="manage-item-name"><%= o.user.name %> - <small><%= o.amount %> reserva(s)</small></div>
              <div class="manage-item-description">
                <%= o.payment %> - <strong><%= o.payment_method %></strong><br />
                <small>Feita em <%= l(o.created_at, format: '%d de %B de %Y às %Hh%M') %></small> 
              </div>
              <div class="manage-item-price"><%= raw final_price(o.price) %></div>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  <div id="fullscreen_bg" class="fullscreen_bg"/>   
</div>
</div>