<%= render 'layouts/navbar' %>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="card">
			<div class="card-header" style="text-align: center;">
			  <% if is_organizer_admin %>
			     <%= render partial: 'layouts/organizer_dashboard_navbar', locals: { organizer: @organizer } %>
			  <% else %>
				  <h5 class="spaced-smallest"><i class="fa fa-map-o"></i> <strong>Guia:</strong></h5>
				<% end %>
			</div>
			<div class="card-block card-organizer">
				<div class="text-xs-center">
					<h4 class="card-title spaced-down">
						<%= render partial: 'layouts/organizer_picture', locals: { organizer: @organizer }%>
						<strong><%= @organizer.name %> </strong>
					</h4>
				    <p class="card-text spaced-down"><%= @organizer.description %></p>
				    <% if !@organizer.website.nil? %>
						<%= link_to @organizer.website, class: 'btn btn-primary-outline btn-sm', target: "_blank" do %>
							<i class="fa fa-external-link"></i> entrar no site
						<% end %>
					<% end %>
					<% if !@organizer.email.nil? %>
					<a class="btn btn-primary-outline btn-sm" href="mailto:<%= @organizer.email %>"><i class="fa fa-envelope"></i> dúvida? Envie um e-mail</a> <br />
					<% end %>
					<div class="hovercard spaced-default">
						<div class="bottom">
							<% if !@organizer.instagram.nil? %>
		                    <a target="_blank" class="btn btn-info btn-instagram btn-sm" href="<%= @organizer.instagram %>">
		                        <i class="fa fa-instagram"></i> instagram
		                    </a>
		                    <% end %>
		                    <% if !@organizer.facebook.nil? %>
		                    <a target="_blank" class="btn btn-primary btn-facebook btn-sm" rel="publisher"
		                       href="<%= @organizer.facebook %>">
		                        <i class="fa fa-facebook"></i> facebook
		                    </a>
		                    <% end %>
		                    <% if !@organizer.twitter.nil? %>
		                    <a target="_blank" class="btn btn-primary btn-twitter btn-twitter btn-sm" href="<%= @organizer.twitter %>">
		                        <i class="fa fa-twitter"></i> twitter
		                    </a>
		                    <% end %>
		                </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% if @organizer.tours.publisheds.any? %>
<div class="intro-idea spaced-down bg-gray">
	<div class="container">
		<div class="row">
      <div class="col-xs-12">
        <h3 class="light-heading" style="padding: 4px;">Truppies</h3>
      </div>
    </div>
    <% @organizer.tours.recents.each do |t| %>
    <style>
      .twPc-div {
        overflow: hidden;
        position: relative;
      }
      <% if t.picture.present? %>
      <%="#twPc-bg-#{t.id}" %> {
        background-image: url('<%= t.picture.url(:large) %>');
      }
      <% elsif t.try(:photo) %>
      <%="#twPc-bg-#{t.id}" %> {
        background-image: url('<%= t.photo %>');
      }
      <% else %>
      <%="#twPc-bg-#{t.id}" %> {
        background-color: #F15A29;
      }         
      <% end %>
    </style>
    <div class="twPc-div spaced-down">
        <h3 class="text-overlay-organizer">
            <%= link_to tour_path(t) do %>
                  <%= t.title %>
            <% end %>
          </h3>
        <%= link_to(tour_path(t), :id => "twPc-bg-#{t.id}" ,:class => 'twPc-bg twPc-block') do %>
          <div class="ribbon base"><span><%= raw t.price %></span></div>
        <% end %>
      <div>
        <div class="twPc-button">
                <!-- Twitter Button | you can get from: https://about.twitter.com/tr/resources/buttons#follow -->
          
                <%= link_to(tour_path(t), :class => 'twitter-follow-button btn btn-primary') do %>
                  <i class="fa fa-ticket"></i> Saber mais
                <% end %>
                <!-- Twitter Button -->   
        </div>
    
        <div class="twPc-divStats">
          <ul class="twPc-Arrange">
            <li class="twPc-ArrangeSizeFit">
              <span class="twPc-StatLabel twPc-block">Quando?</span>
              <span class="twPc-StatValue">
                <%= l(t.start, format: '%d de %B / %Y') %>
              </span>
              <span class="twPc-StatValue">
                <span class="label label-info"><%= friendly_when(t.start) %></span>
              </span>
            </li>
            <% if !t.where.name.blank? %>
            <li class="twPc-ArrangeSizeFit">
              <span class="twPc-StatLabel twPc-block">Onde?</span>
              <span class="twPc-StatValue">
                <%= t.where.name %> 
              </span>
            </li>
            <% end %>
            <li class="twPc-ArrangeSizeFit">
              <span class="twPc-StatLabel twPc-block">Que horas?</span>
              <span class="twPc-StatValue"><%= l(t.start, format: '%Hh%M') %></span>
            </li>
            <li class="twPc-ArrangeSizeFit">
              <span class="twPc-StatLabel twPc-block">vagas</span>
              <span class="twPc-StatValue">
                <% if not t.soldout? %> 
                        <strong><%= t.available %></strong> vagas disponíveis
                      <% else %>
                        Não ha mais ticket disponiveis
                      <% end %>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
	</div>
</div>
<% end %>
