<%= render 'layouts/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="spaced-default spaced-default-full">
        <% if @status == "danger" %>
        <%= render 'layouts/organizer_dashboard_navbar' %>
        <div class="card card-inverse card-<%= @status %> text-xs-center">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <h4>
                <p><%= @message_status %></p> 
              </h4>
              <% if !@response_transfer_json.nil? %>
              <p>Encontramos os seguintes erros para realizar a transferência:</p>
              <ul class="list-unstyled">
                <% if @response_transfer_json.key?("errors") %>
                  <% @response_transfer_json["errors"].each do |e| %>
                    <li><%= e["description"] %></li>
                  <% end %>
                <% else %>
                  <% if @response_transfer_json.key?("ERROR") %>
                    <%= @response_transfer_json["ERROR"] %>
                  <% end %>
                <% end %>
              </ul>
              <% end %>
            </blockquote>
          </div>
        </div>
        <% end %>
        <% if @status == "success" %>
        <%= render 'layouts/organizer_dashboard_navbar' %>
        <div class="card card-inverse card-<%= @status %> text-xs-center">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <h4>
                <p><%= @message_status %></p> 
              </h4>
              <p>Aguarde até 4 dias úteis para o dinheiro ser transferido para sua conta</p>
            </blockquote>
          </div>
        </div>
        <h3>Status da transferência</h3>
        <% if !@response_transfer_json.nil? %>
          <table class="rwd-table">
            <tr>
              <th>Nome</th>
              <th>Status</th>
              <th>Data</th>
              <th>Banco</th>
              <th>Conta</th>
              <th>Valor</th>
            </tr>
            <tr>
              <td data-th="Nome"><%= @response_transfer_json["transferInstrument"]["bankAccount"]["holder"]["fullname"] %></td>
              <td data-th="Status"><strong><%= transfer_status(@response_transfer_json["status"]) %></strong></td>
              <td data-th="Data"><%= l(@response_transfer_json["updatedAt"].to_datetime, format: '%d de %B de %Y as %Hh%M') %></td>
              <td data-th="Banco"><%= @response_transfer_json["transferInstrument"]["bankAccount"]["bankName"] %></td>
              <td data-th="Conta"><%= @response_transfer_json["transferInstrument"]["bankAccount"]["accountNumber"] %></td>
              <td data-th="Valor"><%= friendly_price(@response_transfer_json["amount"]) %></td>
            </tr>
          </table>
         <small>Se a transferência que consta na lista não entrou na sua conta, <%= link_to "entre em contato com a gente", contacts_index_path %></small>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>