<%= render 'layouts/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="spaced-default spaced-default-full">
        <% if @status == "danger" %>
        <%= render 'layouts/organizer_dashboard_navbar' %>
        <div class="card card-inverse card-<%= @status %> text-xs-center">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <h4>
                <p><%= @message_status %></p> 
              </h4>
              <% if !@response_transfer_json.nil? %>
              <p>Encontramos os seguintes erros para realizar a transferência:</p>
              <ul class="list-unstyled">
                <% if @response_transfer_json.key?("errors") %>
                  <% @response_transfer_json["errors"].each do |e| %>
                    <li><%= e["description"] %></li>
                  <% end %>
                <% else %>
                  <% if @response_transfer_json.key?("ERROR") %>
                    <%= @response_transfer_json["ERROR"] %>
                  <% end %>
                <% end %>
              </ul>
              <% end %>
            </blockquote>
          </div>
        </div>
        <% end %>
        <% if @status == "success" %>
        <%= render 'layouts/organizer_dashboard_navbar' %>
        <div class="card card-inverse card-<%= @status %> text-xs-center">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <h4>
                <p><%= @message_status %></p> 
              </h4>
              <p>Aguarde até 4 dias úteis para o dinheiro ser transferido para sua conta</p>
            </blockquote>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>