<%= render 'layouts/flash' %>
<%= devise_error_messages! %>
<div class="login-background">
	<div class="container">
	    <div class="row">
	        <div class="col-sm-6 col-md-4 col-md-offset-4">
	            <h1 class="text-center login-title spaced-smallest">Modificar senha</h1>
	            <div class="account-wall">
	            	<%= link_to root_path do %>
	                	<%= image_tag("logos-05.svg", :alt => "Truppie", :class => 'img-fluid center-block') %>
	                <% end %>
	                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-signin' }) do |f| %>
	                	<%= devise_error_messages! %>
	                	<%= f.hidden_field :reset_password_token %>
	                	<%= f.email_field :email, autofocus: true, required: true, placeholder: 'Seu e-mail é', class: 'form-control spaced-down' %>
	                	
	                	<div class="field">
						    <%= f.label :password, "Nova senha" %><br />
						    <% if @minimum_password_length %>
						      <em>(<%= @minimum_password_length %> caracteres no mínimo)</em><br />
						    <% end %>
						    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
						  </div>
						
						  <div class="field">
						    <%= f.label :password_confirmation, "Confirmar nova senha" %><br />
						    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
					  	</div>
					  	
					  	<%= f.submit "Enviar senha", class: 'spaced-default btn btn-lg btn-primary btn-block' %>
	                	
	                <% end %>
	            </div>
	            <%= render "devise/shared/links" %>
	        </div>
	    </div>
	</div>
</div>
