<%= render 'layouts/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="spaced-default">
			  <%= t('welcome_view_defs_h3') %>
			  <small class="text-muted"><%= t('welcome_view_defs_small') %></small>
			</h3>
			<p><%= t('welcome_view_defs_p_1') %></p>
			<p><%= t('welcome_view_defs_p_2') %></p>
			<p><%= t('welcome_view_defs_p_3') %></p>	
		</div>
	</div>
</div>
