<%= render 'layouts/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="spaced-smallest">
			  <%= t('welcome_view_faq_h3') %>
			  <small class="text-muted"><%= t('welcome_view_faq_small') %></small>
			</h3>
			<div class="list-group">
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong><%= t('welcome_view_faq_strong_one') %></strong></h5>
			    <p class="list-group-item-text"><%= t('welcome_view_faq_p_one') %></p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong><%= t('welcome_view_faq_strong_two') %></strong></h5>
			    <p class="list-group-item-text">
			    	<%= t('welcome_view_faq_p_two') %>
			    </p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong><%= t('welcome_view_faq_strong_three') %></strong></h5>
			    <p class="list-group-item-text">
			    	<%= t('welcome_view_faq_p_three') %>
		    	</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong><%= t('welcome_view_faq_strong_four') %></strong></h5>
			    <p class="list-group-item-text">
			    	<%= t('welcome_view_faq_p_four') %>
		    	</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong><%= t('welcome_view_faq_strong_five') %></strong></h5>
			    <p class="list-group-item-text">
			    	<%= t('welcome_view_faq_p_five') %>
		    	</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong><%= t('welcome_view_faq_strong_six') %></strong></h5>
			    <p class="list-group-item-text">
			    	<%= t('welcome_view_faq_p_six') %>
		    	</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong><%= t('welcome_view_faq_strong_seven') %></strong></h5>
			    <p class="list-group-item-text">
			    	<%= t('welcome_view_faq_p_seven') %>
		    	</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong><%= t('welcome_view_faq_strong_eight') %></strong></h5>
			    <p class="list-group-item-text">
			    	<%= t('welcome_view_faq_p_eight') %>
		    	</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong><%= t('welcome_view_faq_strong_nine') %></strong></h5>
			    <p class="list-group-item-text">
			    	<%= t('welcome_view_faq_p_nine') %> 
		    	</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong><%= t('welcome_view_faq_strong_ten') %></strong></h5>
			    <p class="list-group-item-text">
			    	<%= t('welcome_view_faq_p_ten') %>
		    	</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong><%= t('welcome_view_faq_strong_eleven') %></strong></h5>
			    <p class="list-group-item-text">
			    	<%= t('welcome_view_faq_p_eleven') %>
		    	</p>
			  </div>
			</div>	
		</div>
	</div>
</div>
