<%= render 'layouts/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="spaced-smallest">
			  <%= t('welcome_view_how_h3') %>
			</h3>
			<p><%= t('welcome_view_how_p_one') %></p>
			<h4><%= t('welcome_view_how_h4_one') %></h4>
			<p><%= t('welcome_view_how_p_two') %></p>
			<h4><%= t('welcome_view_how_h4_two') %></h4>
			<p><%= t('welcome_view_how_p_three') %></p>
			<p><%= t('welcome_view_how_p_four') %></p>
			<p><%= t('welcome_view_how_p_five') %></p>
			<h4><%= t('welcome_view_how_h4_three') %></h4>
			<p class="spaced-smallest"><%= t('welcome_view_how_p_six') %></p>
			<h4><%= t('welcome_view_how_h4_four') %></h4>
			<p><%= t('welcome_view_how_p_seven') %></p>
			
			<h4 class="spaced-default"><%= t('welcome_view_how_h4_five') %></h4>
			
			<h5><%= t('welcome_view_how_h5_one') %></h5>
			<p><%= t('welcome_view_how_p_eight') %></p>
			<h5><%= t('welcome_view_how_h5_two') %></h5>
			<p><%= t('welcome_view_how_p_nine') %></p>
			<h5><%= t('welcome_view_how_h5_three') %></h5>
			<p><%= t('welcome_view_how_p_ten') %></p>
			<h5><%= t('welcome_view_how_h5_four') %></h5>
			<p><%= t('welcome_view_how_p_eleven') %></p>
			<p><%= t('welcome_view_how_p_twelve') %></p>
			<p><%= t('welcome_view_how_p_thirteen') %></p>
			<p><%= t('welcome_view_how_p_fourteen') %></p>
			<h5><%= t('welcome_view_how_h5_five') %></h5>
			<p><%= t('welcome_view_how_p_fifteen') %></p>
			<h5><%= t('welcome_view_how_h5_six') %></h5>
			<p><%= t('welcome_view_how_p_sixteen') %></p>
			<p><%= t('welcome_view_how_p_seventeen') %></p>
		</div>
	</div>
</div>
