<div class="container-fluid">
<div class="row">
	<div class="col-xs-12 intro-grid">
		<div class="logo-alt">
			<%= image_tag("logos-02.svg", :alt => "Truppie") %>
			<p class="tagline emblem-font"><%= t('tagline') %></p>
		</div>
		<div class="logo">
			<%= image_tag("logo-flat.png", :alt => "Truppie") %>
			<p class="tagline emblem-font"><%= t('tagline') %></p>
		</div>
	</div>
		<div id="carousel-intro" class="carousel slide" data-ride="carousel">
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			  </ol>
	  		  <div class="carousel-navigation">
	 	   		<a href="#" data-slide="next" role="buttom" class="carousel-right"><i class="fa fa-3x fa-chevron-right"></i></a>
	 	   		<a href="#" data-slide"prev" role="buttom" class="carousel-left"><i class="fa fa-3x fa-chevron-left"></i></a>
	 	   	  </div>
			<div class="carousel-inner" role="listbox">
			    <div class="carousel-item active">
			      <picture>
		      		<source media="(max-width: 360px)" srcset="<%= image_path("image-intro-small.jpg") %>">
	      			<source media="(max-width: 520px)" srcset="<%= image_path("image-intro-medium.jpg") %>">
      				<source media="(max-width: 800px)" srcset="<%= image_path("image-intro-full.jpg") %>">
			      	<%= image_tag("image-intro.jpg", :alt => "Truppie", :class => "img-fluid") %>
			      </picture>
				  <div class="carousel-caption">
				    <h3 class="secondary-font display-tagline"><%= t('first-caption') %></h3>
				    <p class="lead emblem-font"><%= t('first-description') %></p>
				  </div>
				  <div class="top-note">
				  	<small>Morro dois irmãos, Rio de Janeiro - Rj</small>
				  </div>
			    </div>
			    <div class="carousel-item">
			      <picture>
				      <%= image_tag("image-intro-2-default.jpg", :alt => "Truppie", :class => "img-fluid") %>
				      <source media="(max-width: 360px)" srcset="<%= image_path("image-intro-2-small.jpg") %>">
	      			  <source media="(max-width: 520px)" srcset="<%= image_path("image-intro-2-medium.jpg") %>">
      				  <source media="(max-width: 800px)" srcset="<%= image_path("image-intro-2-full.jpg") %>">
				  </picture>
				  <div class="carousel-caption">
				    <h3 class="secondary-font display-tagline"><%= t('second-caption') %></h3>
				    <p class="lead emblem-font"><%= t('second-description') %></p>
				  </div>
				  <div class="top-note">
				  	<small>Vale do Pati, Chapada Diamantina - BA</small>
				  </div>
			    </div>
			    <div class="carousel-item">
			      <picture>
			      	<source media="(max-width: 360px)" srcset="<%= image_path("image-intro-3-small.jpg") %>">
	      			<source media="(max-width: 520px)" srcset="<%= image_path("image-intro-3-medium.jpg") %>">
      				<source media="(max-width: 800px)" srcset="<%= image_path("image-intro-3-full.jpg") %>">
      					<%= image_tag("image-intro-3-default.jpg", :alt => "Truppie", :class => "img-fluid") %>
			      </picture>	
			      
				  <div class="carousel-caption">
				    <h3 class="secondary-font display-tagline"><%= t('third-caption') %></h3>
				    <p class="lead emblem-font"><%= t('third-description') %></p>
				    </div>
				    <div class="top-note">
				  		<small>Pico do Papagaio, Aiuroca - MG</small>
			  	  </div>
			    </div>
		  </div>
 	   </div> 
 	   
	</div>
</div>
<div class="container spaced-default intro-text">
	<div classs="row">
		<div class="col-xs-12">
			<div class="text-intro">
				<p class="tagline emblem-font"><%= t('text-intro') %></p>
			</div>
		</div>
	</div>
</div>
<div class="container intro-idea spaced-down">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 wow bounceIn">
				<div class="card card-block text-xs-center">
				  <h4 class="card-title main-color-font">
				  	<%= image_tag("logos-10.svg", :alt => "Truppie", :class => "img-fluid symbol-big") %>
				  	<p class="tagline emblem-font"><%= t('balloom-heading') %>
			  	  </h4>
				  <p class="card-text"><p class="tagline emblem-font"><%= t('balloom-text') %></p>
				</div>
			</div>
			<div class="col-sm-4 wow bounceIn">
				<div class="card card-block text-xs-center">
				  <h4 class="card-title main-color-font">
				  	<picture>
				  		<%= image_tag("logos-11.svg", :alt => "Truppie", :class => "img-fluid symbol-big") %>
				  	</picture>
				  	<p class="tagline emblem-font"><%= t('hands-heading') %>
			  	  </h4>
				  <p class="card-text"><p class="tagline emblem-font"><%= t('hands-text') %></p>
				</div>
			</div>
			<div class="col-sm-4 wow bounceIn">
				<div class="card card-block text-xs-center">
				  <h4 class="card-title main-color-font">
				  	<%= image_tag("logos-12.svg", :alt => "Truppie", :class => "img-fluid symbol-big") %>
				  	<p class="tagline emblem-font"><%= t('shoes-heading') %>
			  	  </h4>
				  <p class="card-text"><p class="tagline emblem-font"><%= t('shoes-text') %></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid text-xs-center">
	<div class="row">
		<div class="col-xs-12">
			<div>
				<i class="fa fa-5x fa-map-o main-color-font"></i>
				<h3 class="spaced emblem-font main-color-font"><%= t('truppie-title') %></h3>
				<p class="lead emblem-font"><%= t('truppie-text') %></p>
			</div>
			<ul class="list-group">
			  <li class="list-group-item">
			    <span class="pull-xs-right">
					<i class="fa fa-2x fa-ticket"></i>
				</span>
			    
			    <%= t('truppie-item') %>
			  </li>
			  <li class="list-group-item">
			    <span class="pull-xs-right">
					<i class="fa fa-2x fa-street-view"></i>
				</span>
			    <%= t('truppie-second-item') %>
			  </li>
			  <li class="list-group-item">
			    <span class="pull-xs-right">
			    	<i class="fa fa-2x fa-users"></i>
			    </span>
			    <%= t('truppie-third-item') %>
			  </li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 spaced-default">
					<h4 class="emblem-font main-color-font"><%= t('authors-title') %></h4>
				</div>
				<div class="row">
		            <div class="card hovercard col-sm-6">
		                <div class="cardheader">
		
		                </div>
		                <div class="avatar">
		                    <img alt="" src="http://lh3.googleusercontent.com/-auDDohTM5fA/AAAAAAAAAAI/AAAAAAAAATY/8lHVC0FkAsw/photo.jpg">
		                </div>
		                <div class="info">
		                    <div class="title">
		                        <a target="_blank" href="http://scripteden.com/">Laura Sette</a>
		                    </div>
		                    <div class="desc"><%= t('laura-feature') %></div>
		                    <div class="desc"><%= t('laura-second-feature') %></div>
		                    <div class="desc"><%= t('laura-third-feature') %></div>
		                    <div class="desc"><a href="http://www.7cantosdomundo.com.br">7cantosdomundo.com.br</a></div>
		                </div>
		                <div class="bottom">
		                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/laurasette">
		                        <i class="fa fa-twitter"></i>
		                    </a>
		                    <a class="btn btn-danger btn-sm" rel="publisher"
		                       href="https://plus.google.com/+ahmshahnuralam">
		                        <i class="fa fa-google-plus"></i>
		                    </a>
		                    <a class="btn btn-primary btn-sm" rel="publisher"
		                       href="https://plus.google.com/shahnuralam">
		                        <i class="fa fa-facebook"></i>
		                    </a>
		                </div>
		            </div>
		            
		            <div class="card hovercard col-sm-6">
		                <div class="cardheader-alt">
		
		                </div>
		                <div class="avatar">
		                    <img alt="" src="https://secure.gravatar.com/avatar/3bb283ee62ca047885c15b839cc4f024?d=https%3A%2F%2Fi.vimeocdn.com%2Fportrait%2Fdefault-gray_300x300.png&s=300">
		                </div>
		                <div class="info">
		                    <div class="title">
		                        <a target="_blank" href="http://scripteden.com/">Alexandre Magno</a>
		                    </div>
		                    <div class="desc"><%= t('alex-feature') %></div>
		                    <div class="desc"><%= t('alex-second-feature') %></div>
		                    <div class="desc">Tech geek</div>
		                    <div class="desc"><a href="http://www.alexandremagno.net">alexandremagno.net</a></div>
		                </div>
		                <div class="bottom">
		                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/alexanmtz">
		                        <i class="fa fa-twitter"></i>
		                    </a>
		                    <a class="btn btn-danger btn-sm" rel="publisher"
		                       href="https://plus.google.com/+ahmshahnuralam">
		                        <i class="fa fa-google-plus"></i>
		                    </a>
		                    <a class="btn btn-primary btn-sm" rel="publisher"
		                       href="https://plus.google.com/shahnuralam">
		                        <i class="fa fa-facebook"></i>
		                    </a>
		                </div>
		            </div>
		
		        </div>
		
			</div>
		</div>
	</div>
	<div class="container-fluid spaced-default">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="no-padding lib-item" data-category="view">
		            <div class="lib-panel">
		                <div class="row box-shadow">
		                    <div class="col-xs-12">
		                        <%= image_tag("meetings.jpg", :alt => "Truppie", :class => "lib-img-show") %>
		                    </div>
		                    <div class="col-xs-12">
		                        <div class="lib-row lib-header emblem-font">
		                            <%= t('meetings-title') %>
		                            <div class="lib-header-seperator"></div>
		                        </div>
		                        <div class="lib-row lib-desc spaced-down">
		                            <%= t('meetings-content') %>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
			</div>
			<a name="warning"></a>
	        <div class="col-xs-12 col-sm-6 spaced-default">
	    		<div class="thumbnail center well well-small text-center spaced-down">
	                <h4 class="main-color-font emblem-font"><%= t('newsletter-title') %></h4>
	                
	                <% if !flash.empty? %>
	                <div class="error-notice animated flipInY">
	                	<% flash.each do |k| %> 
					        <div class="oaerror danger <%= k[0] %>">
			            		<strong><%= k[0] %></strong> - <%= k[1] %>
			          		</div> 
					    <% end %>
			        <% end %>
	                </div>
	                <p class="lead"><%= t('newsletter-text') %></p>
	                
	  				<fieldset class="form-group">
	  						<%= form_tag({controller: "subscribers", action: "create"}, method: "post") do %>
	  							<%= email_field(:subscriber, :email, :class => 'form-control spaced-down', :placeholder => 'Enter email') %>
								<input type="submit" value="Subscribe Now!" class="btn btn-large btn btn-outlined btn-theme btn-lg" />
							<% end %>
					  </fieldset>
	              </form>
	            </div>    
	        </div>
		</div>
	</div>
	<!--
	<div class="col-xs-12">
		<div class="card card-tweet">
			<img class="card-img-top img-fluid" src="https://pbs.twimg.com/media/Bm54nBCCYAACwBi.jpg">
			<div class="card-block">
				<a href="#" class="profile">
					<span class="username">My Awesome Name</span>
					<span class="text-muted">@myname</span>
					<img src="https://pbs.twimg.com/profile_images/432081479/DOI_LOGO_bigger.jpg" class="avatar">
				</a>
				<a href="#" class='btn btn-secondary btn-sm btn-follow pull-right'>
					<i class="fa fa-twitter"></i> Follow
				</a>
				<p class="body">
					Sunsets don't get much better than this one over <a href="#">@GrandTetonNPS</a>. <a href="#">#nature</a> <a href="#">#sunset</a>
				</p>
				<p class="actions">
					<a href="#" class="text-muted date">11:09 PM - 5 May 2014</a>
					<a href="#" class="card-link text-muted reply"><i class="fa fa-reply"></i></a>
					<a href="#" class="card-link text-muted retweet"><i class="fa fa-retweet"></i> 1,500</a>
					<a href="#" class="card-link text-muted star"><i class="fa fa-star"></i> 1,500</a>
				</p>
			</div>
		</div>
	-->
	</div>
</div>

