<%= render 'layouts/navbar' %>
<%= render 'layouts/flash' %>
<div>
  <div>
    <div class="col-xs-12 intro-grid">
      <div class="logo-alt">
        <%= image_tag("truppie_logo_animated_noloop.gif", width: 400, :alt => "Truppie") %>
        <p class="tagline emblem-font"><%= t('tagline') %></p>
      </div>
      <div class="logo">
        <%= image_tag("truppie_logo_animated_noloop_mobile.gif", :alt => "Truppie") %>
        <p class="tagline emblem-font"><%= t('tagline') %></p>
      </div>
      <div class="content">
        <div class="content__container">
          <p class="content__container__text">
            Quero ir para
          </p>
          <ul class="content__container__list">
            <% @wheres.each do |w| %>
            <li class="content__container__list__item"><a data-turbolinks="false" href="<%= places_path({place_id: w.place_id}) %>"><%=h truncate(w.name, :length => 20) %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="tours" style="padding-top: 3em; position: relative; z-index: 10000;">
        <div class='container'>
          <form action="<%= places_path %>" class="search-place">
            <input id="places-input-action" placeholder="<%= t('intro-location-label') %>" type="text">
            <input type="hidden" name="place_id" id="place_id" />
            <button class="button" type="submit">
              <%= t('where-to-go-text') %>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div id="carousel-intro" class="carousel slide" data-ride="carousel" style="height: 350px; z-index: -1;">
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <picture>
              <source media="(max-width: 360px)" srcset="<%= image_path("image-intro-2-small.jpg") %>">
                <source media="(max-width: 520px)" srcset="<%= image_path("image-intro-2-medium.jpg") %>">
              <source media="(max-width: 800px)" srcset="<%= image_path("image-intro-2-full.jpg") %>">
              <%= image_tag("image-intro-2-default.jpg", :alt => "Truppie", :class => "img-fluid", :srcset => image_url("image-intro-2-default.jpg")) %>
            </picture>

          </div>
     </div>
  </div>
</div>
<div class="container intro-idea spaced-down">
  <div class="container">
    <div class="row cards">
      <div class="col-sm-4 wow bounceIn">
        <div class="card card-block text-xs-center">
          <h4 class="card-title main-color-font">
            <%= link_to organizers_path do %>
              <%= image_tag("logos-10.svg", :alt => "Truppie", :class => "img-fluid symbol-big") %>
              <span class="tagline emblem-font"><%= t('balloom-heading') %></span>
            <% end %>
          </h4>
          <p class="card-text"><p class="tagline emblem-font"><%= t('balloom-text') %></p>
        </div>
      </div>
      <div class="col-sm-4 wow bounceIn">
        <div class="card card-block text-xs-center">
          <h4 class="card-title main-color-font">
            <%= link_to guidebooks_path do %>
            <%= image_tag("logos-11.svg", :alt => "Truppie", :class => "img-fluid symbol-big") %>
                <span class="tagline emblem-font"><%= t('hands-heading') %></span>
            <% end %>
          </h4>
          <p class="card-text"><p class="tagline emblem-font"><%= t('hands-text') %></p>
        </div>
      </div>
      <div class="col-sm-4 wow bounceIn">
        <div class="card card-block text-xs-center">
          <h4 class="card-title main-color-font">
            <%= link_to user_welcome_path do %>
              <%= image_tag("logos-12.svg", :alt => "Truppie", :class => "img-fluid symbol-big") %>
              <p class="tagline emblem-font"><%= t('shoes-heading') %>
            <% end %>
          </h4>
          <p class="card-text"><p class="tagline emblem-font"><%= t('shoes-text') %></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="paradise-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a name="warning"></a>
        <div class="text-xs-center" style="margin-top: 60px;">
          <div class="thumbnail center well well-small text-center text- spaced-down ">
            <h4 class="main-color-font emblem-font"><%= t('newsletter-title') %></h4>
            <%= render 'layouts/flash' %>
            <p class="lead">
              <%= t('newsletter-text') %>
              <br />
              <small><%= t('welcome_view_index_small_nine') %></small>
            </p>
            <fieldset class="form-group">
              <%= form_tag({controller: "subscribers", action: "create"}, method: "post") do %>
                  <%= email_field(:subscriber, :email, :class => 'form-control spaced-down', :placeholder => 'O meu e-mail é') %>
                  <input type="submit" value="Inscreva-me!" class="btn btn-large btn btn-outlined btn-theme btn-lg" />
              <% end %>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="intro-idea spaced-down bg-gray">
    <div class="container">
      <% if @next_tours.any? %>
      <div class="row">
        <div class="col-xs-12">
          <h3 class="light-heading" style="padding: 4px;"><%= t('welcome_view_index_h3_one') %></h3>
        </div>
      </div>
      <% @next_tours.each do |t| %>
      <style>
        .twPc-div {
          overflow: hidden;
          position: relative;
        }
        <% if t.picture.present? %>
        <%="#twPc-bg-#{t.id}" %> {
          background-image: url('<%= t.picture.url(:large) %>');
        }
        <% elsif t.try(:photo) %>
        <%="#twPc-bg-#{t.id}" %> {
          background-image: url('<%= t.photo %>');
        }
        <% else %>
        <%="#twPc-bg-#{t.id}" %> {
          background-color: #F15A29;
        }
        <% end %>
      </style>
      <div class="twPc-div spaced-down">
        <% if t.value_chosen_by_user %>
            <%= link_to(tour_path(t), :id => "twPc-bg-#{t.id}" ,:class => 'twPc-bg twPc-block') do %>
                <div class="ribbon base">
                  <span><small><%= t('no-price-defined-message') %></small></span>
                </div>
            <% end %>
        <% else %>
            <%= link_to(tour_path(t), :id => "twPc-bg-#{t.id}" ,:class => 'twPc-bg twPc-block') do %>
                <div class="ribbon base"><span><%= raw t.price %></span></div>
            <% end %>
        <% end %>

      <div>
      <div class="twPc-button">
              <!-- Twitter Button | you can get from: https://about.twitter.com/tr/resources/buttons#follow -->

              <%= link_to(tour_path(t), :class => 'twitter-follow-button btn btn-primary') do %>
                <i class="fa fa-ticket"></i> <%= t('welcome_view_index_div_three') %>
              <% end %>
              <!-- Twitter Button -->
      </div>

          <%= link_to(organizer_path(t.organizer), :class => 'twPc-avatarLink') do %>
            <% if t.organizer.picture.present? %>
              <%= image_tag(t.organizer.picture(:thumbnail), :alt => t.organizer.name, class: 'twPc-avatarImg') %><br />
            <% else %>
              <%= image_tag(t.organizer.logo, :alt => t.organizer.name, class: 'twPc-avatarImg') %><br />
            <% end %>
          <% end %>

          <div class="twPc-divUser spaced-down">
            <div class="twPc-divName">
              <%= link_to tour_path(t) do %>
                <%= t.title %>
              <% end %>
            </div>
            <span>
              <%= link_to organizer_path(t.organizer) do %>
              <small><%= t('welcome_view_index_small_eight') %> </small><strong><%= t.organizer.name %></strong>
              <% end %>
            </span>
          </div>
          <div class="twPc-divStats">
            <ul class="twPc-Arrange">
              <li class="twPc-ArrangeSizeFit">
                <span class="twPc-StatLabel twPc-block"><%= t('welcome_view_index_span_one') %></span>
                <span class="twPc-StatValue">
                  <%= l(t.start, format: '%d de %B / %Y') %>
                </span>
                <span class="twPc-StatValue">
                  <span class="label label-info"><%= friendly_when(t.start) %></span>
                </span>
              </li>
              <% if !t.wheres.any? %>
              <li class="twPc-ArrangeSizeFit">
                <span class="twPc-StatLabel twPc-block"><%= t('welcome_view_index_span_two') %></span>
                <span class="twPc-StatValue">
                  <%= t.wheres.first.try(:name) %>
                </span>
              </li>
              <% end %>
              <li class="twPc-ArrangeSizeFit">
                <span class="twPc-StatLabel twPc-block"><%= t('welcome_view_index_span_three') %></span>
                <span class="twPc-StatValue"><%= l(t.start, format: '%Hh%M') %></span>
              </li>
              <div class="sized-1x">
                  <%= render partial: "layouts/confirmeds", locals: {tour: t} %>
                </div>
              <li class="twPc-ArrangeSizeFit">
                <span class="twPc-StatLabel twPc-block"><%= t('welcome_view_index_span_four') %></span>
                <span class="twPc-StatValue">
                  <% if not t.soldout? %>
                          <strong><%= t.available %></strong> <%= t('welcome_view_index_span_five') %>
                        <% else %>
                          <%= t('welcome_view_index_span_six') %>
                        <% end %>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      <% if @past_tours.any? %>
      <div class="row">
        <div class="col-xs-12">
          <h3 class="light-heading" style="padding: 4px;"><%= t('welcome_view_index_h3_past_tours') %></h3>
        </div>
      </div>
      <% @past_tours.each do |t| %>
      <style>
        .twPc-div {
          overflow: hidden;
          position: relative;
        }
        <% if t.picture.present? %>
        <%="#twPc-bg-#{t.id}" %> {
          background-image: url('<%= t.picture.url(:large) %>');
        }
        <% elsif t.try(:photo) %>
        <%="#twPc-bg-#{t.id}" %> {
          background-image: url('<%= t.photo %>');
        }
        <% else %>
        <%="#twPc-bg-#{t.id}" %> {
          background-color: #F15A29;
        }
        <% end %>
      </style>
      <div class="twPc-div spaced-down">
        <% if t.value_chosen_by_user %>
            <%= link_to(tour_path(t), :id => "twPc-bg-#{t.id}" ,:class => 'twPc-bg twPc-block') do %>
                <div class="ribbon base">
                  <span><small><%= t('no-price-defined-message') %></small></span>
                </div>
            <% end %>
        <% else %>
            <%= link_to(tour_path(t), :id => "twPc-bg-#{t.id}" ,:class => 'twPc-bg twPc-block') do %>
                <div class="ribbon base"><span><%= raw t.price %></span></div>
            <% end %>
        <% end %>

      <div>
      <div class="twPc-button">
              <!-- Twitter Button | you can get from: https://about.twitter.com/tr/resources/buttons#follow -->

              <%= link_to(tour_path(t), :class => 'twitter-follow-button btn btn-primary') do %>
                <i class="fa fa-ticket"></i> <%= t('welcome_view_index_div_three') %>
              <% end %>
              <!-- Twitter Button -->
      </div>

          <%= link_to(organizer_path(t.organizer), :class => 'twPc-avatarLink') do %>
            <% if t.organizer.picture.present? %>
              <%= image_tag(t.organizer.picture(:thumbnail), :alt => t.organizer.name, class: 'twPc-avatarImg') %><br />
            <% else %>
              <%= image_tag(t.organizer.logo, :alt => t.organizer.name, class: 'twPc-avatarImg') %><br />
            <% end %>
          <% end %>

          <div class="twPc-divUser spaced-down">
            <div class="twPc-divName">
              <%= link_to tour_path(t) do %>
                <%= t.title %>
              <% end %>
            </div>
            <span>
              <%= link_to organizer_path(t.organizer) do %>
              <small><%= t('welcome_view_index_small_eight') %> </small><strong><%= t.organizer.name %></strong>
              <% end %>
            </span>
          </div>
          <div class="twPc-divStats">
            <ul class="twPc-Arrange">
              <li class="twPc-ArrangeSizeFit">
                <span class="twPc-StatLabel twPc-block"><%= t('welcome_view_index_span_one') %></span>
                <span class="twPc-StatValue">
                  <%= l(t.start, format: '%d de %B / %Y') %>
                </span>
                <span class="twPc-StatValue">
                  <span class="label label-info"><%= friendly_when(t.start) %></span>
                </span>
              </li>
              <% if !t.wheres.any? %>
              <li class="twPc-ArrangeSizeFit">
                <span class="twPc-StatLabel twPc-block"><%= t('welcome_view_index_span_two') %></span>
                <span class="twPc-StatValue">
                  <%= t.wheres.first.try(:name) %>
                </span>
              </li>
              <% end %>
              <li class="twPc-ArrangeSizeFit">
                <span class="twPc-StatLabel twPc-block"><%= t('welcome_view_index_span_three') %></span>
                <span class="twPc-StatValue"><%= l(t.start, format: '%Hh%M') %></span>
              </li>
              <div class="sized-1x">
                  <%= render partial: "layouts/confirmeds", locals: {tour: t} %>
                </div>
              <li class="twPc-ArrangeSizeFit">
                <span class="twPc-StatLabel twPc-block"><%= t('welcome_view_index_span_four') %></span>
                <span class="twPc-StatValue">
                  <% if not t.soldout? %>
                          <strong><%= t.available %></strong> <%= t('welcome_view_index_span_five') %>
                        <% else %>
                          <%= t('welcome_view_index_span_six') %>
                        <% end %>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      <% if @guidebooks.publisheds.any? %>
          <h3 class="light-heading" style="padding: 4px;"><%= t('guidebooks-name') %></h3>
          <% @guidebooks.publisheds.each do |g| %>
              <%= render partial: 'layouts/guidebook_list', locals: { t: g } %>
          <% end %>
      <% end %>
      <%= render partial: 'layouts/guides_list', locals: {guides: @organizers} %>
    </div>
  </div>
  <div class="container">
    <% if @backgrounds.present? %>
        <h4 style="margin-left: 40px;"><%= t('welcome-places-title') %></h4>
        <ul>
          <% @backgrounds.each do |b| %>
              <li>
                <%= link_to where_path(b.wheres.first) do %>
                    <div>
                      <h3><%= b.name %></h3>
                      <h4><%= b.wheres.first.state %></h4>
                    </div>
                    <%= image_tag b.picture.url(:medium) %>
                <% end %>
              </li>
          <% end %>
        </ul>
    <% end %>
  </div>
  <div class="container">
    <div class="col-xs-12">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 spaced-default">
            <h4 class="emblem-font main-color-font"><%= t('authors-title') %></h4>
          </div>
          <div class="row">
                  <div class="card hovercard col-sm-6">
                      <div class="cardheader"></div>
                      <div class="avatar">
                          <%= image_tag("laura.jpg", :alt => "Truppie", :width => '120', class: 'spaced-smallest') %><br />
                      </div>
                      <div class="info">
                          <div class="title">
                              <a target="_blank" href="http://www.7cantosdomundo.com.br"><%= t('welcome_view_index_a_three') %></a>
                          </div>
                          <div class="desc"><%= t('laura-feature') %></div>
                          <div class="desc"><%= t('laura-second-feature') %></div>
                          <div class="desc"><%= t('laura-third-feature') %></div>
                          <div class="desc"><a href="http://www.7cantosdomundo.com.br">7cantosdomundo.com.br</a></div>
                      </div>
                      <div class="bottom">
                          <a class="btn btn-primary btn-twitter btn-twitter btn-sm" href="https://twitter.com/7CantosdoMundo">
                              <i class="fa fa-twitter"></i>
                          </a>
                          <a class="btn btn-danger btn-sm" rel="publisher"
                             href="https://plus.google.com/+LauraSette7CantosdoMundo/posts">
                              <i class="fa fa-google-plus"></i>
                          </a>
                          <a class="btn btn-primary btn-sm btn-facebook" rel="publisher"
                             href="https://www.facebook.com/laurinha.sette">
                              <i class="fa fa-facebook"></i>
                          </a>
                      </div>
                  </div>
                  <div class="card hovercard col-sm-6">
                      <div class="cardheader-alt"></div>
                      <div class="avatar">
                          <img alt="" src="https://secure.gravatar.com/avatar/3bb283ee62ca047885c15b839cc4f024?d=https%3A%2F%2Fi.vimeocdn.com%2Fportrait%2Fdefault-gray_300x300.png&s=300">
                      </div>
                      <div class="info">
                          <div class="title">
                              <a target="_blank" href="http://www.alexandremagno.net"><%= t('welcome_view_index_a_four') %></a>
                          </div>
                          <div class="desc"><%= t('alex-feature') %></div>
                          <div class="desc"><%= t('alex-second-feature') %></div>
                          <div class="desc"><%= t('welcome_view_index_div_four') %></div>
                          <div class="desc"><a href="http://www.alexandremagno.net">alexandremagno.net</a></div>
                      </div>
                      <div class="bottom">
                          <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/alexanmtz">
                              <i class="fa fa-twitter"></i>
                          </a>
                          <a class="btn btn-danger btn-sm" rel="publisher"
                             href="https://plus.google.com/105985612936824441325">
                              <i class="fa fa-google-plus"></i>
                          </a>
                          <a class="btn btn-primary btn-facebook btn-sm" rel="publisher"
                             href="https://facebook.com/alexandre.zimerer">
                              <i class="fa fa-facebook"></i>
                          </a>
                      </div>
                  </div>
          </div>
        </div>

      </div>
  </div>
</div>
