<%= render 'layouts/navbar' %>
<%= render 'layouts/flash' %>
<div class="container-fluid">
<div class="row">
	<div class="col-xs-12 intro-grid">
		<div class="logo-alt wow flipInX">
			<%= image_tag("logos-02.svg", :alt => "Truppie") %>
			<p class="tagline emblem-font"><%= t('tagline') %></p>
		</div>
		<div class="logo">
			<%= image_tag("logos-05.svg", :alt => "Truppie") %>
			<p class="tagline emblem-font"><%= t('tagline') %></p>
		</div>
	</div>
	<div id="carousel-intro" class="carousel slide" data-ride="carousel">
		<div class="card card-floating wow bounceIn">
		  <div class="card-header">
		    <i class="fa fa-calendar"></i> Próximas saídas
		  </div>
		  <div class="spaced-down">
			  <div class="row">
			  	<div class="col-xs-6 col-md-6">
			    	<div class="floating-schedule">
				    	<div class="pull-left date-body text-xs-center">
				          <label for="" class="date-title">
				          	<%= l(@tours.first.start, format: '%B') %>
			          	  </label>
				          <div class="date-content">
				            <p class="dia">
				            	<%= l(@tours.first.start, format: '%d') %>
				            </p>
				            <hr class="nomargin"/>
				            <p class="nomargin">
				            	<strong>
				            		<%= l(@tours.first.start, format: '%A') %>
			            		</strong>
		            		</p>
				            <p class="date-body-when nomargin"><strong>daqui a <%= time_ago_in_words(@tours.first.start) %></strong></p>
				          </div>
			         	</div>
			        </div>
			    </div>
			    <div class="col-xs-6 col-md-6" style="margin-top: 15px; margin-left: -20px; padding-left: 0;">
			    	<strong><%= link_to(@tours.first.title, tour_path(@tours.first)) %></strong>
			    	<small>com</small> <%= @tours.first.organizer.name %><br />
			    	<small>em <strong><%= @tours.first.where.name %>, <%= @tours.first.where.state %></strong></small>
		    	</div>
			  </div>
		  </div>
		  <div class="container-fluid">
			  <div class="row">
			  	<div class="col-xs-12">
				  	<div class="spaced-down">
				  		<a href="<%= tour_path(@tours.first) %>" class="btn btn-block btn-primary btn-sm">Reservar</a>
				  	</div>
			  	</div>
			  </div>
		  </div>
		</div>
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>
  		  <div class="carousel-navigation">
 	   		<a href="#" data-slide="next" role="buttom" class="carousel-right"><i class="fa fa-3x fa-chevron-right"></i></a>
 	   		<a href="#" data-slide"prev" role="buttom" class="carousel-left"><i class="fa fa-3x fa-chevron-left"></i></a>
 	   	  </div>
		<div class="carousel-inner" role="listbox">
		    <div class="carousel-item active">
		      <picture>
	      		<source media="(max-width: 360px)" srcset="<%= image_path("image-intro-small.jpg") %>">
      			<source media="(max-width: 520px)" srcset="<%= image_path("image-intro-medium.jpg") %>">
  				<source media="(max-width: 800px)" srcset="<%= image_path("image-intro-full.jpg") %>">
		      	<%= image_tag("image-intro.jpg", :alt => "Truppie", :class => "img-fluid", :srcset => image_url("image-intro.jpg")) %>
		      </picture>
			  <div class="carousel-caption">
			    <h3 class="secondary-font display-tagline"><%= t('first-caption') %></h3>
			    <p class="lead emblem-font"><%= t('first-description') %></p>
			  </div>
			  <div class="top-note">
			  	<small>Vale do Pati - BA</small>
			  </div>
		    </div>
		    <div class="carousel-item">
		      <picture>
			      <source media="(max-width: 360px)" srcset="<%= image_path("image-intro-2-small.jpg") %>">
      			  <source media="(max-width: 520px)" srcset="<%= image_path("image-intro-2-medium.jpg") %>">
  				  <source media="(max-width: 800px)" srcset="<%= image_path("image-intro-2-full.jpg") %>">
  				  <%= image_tag("image-intro-2-default.jpg", :alt => "Truppie", :class => "img-fluid", :srcset => image_url("image-intro-2-default.jpg")) %>
			  </picture>
			  <div class="carousel-caption">
			    <h3 class="secondary-font display-tagline"><%= t('second-caption') %></h3>
			    <p class="lead emblem-font"><%= t('second-description') %></p>
			  </div>
			  <div class="top-note">
			  	<small>Travessia Petrópolis - Teresópolis - RJ</small>
			  </div>
		    </div>
		    <div class="carousel-item">
		      <picture>
		      	<source media="(max-width: 360px)" srcset="<%= image_path("image-intro-3-small.jpg") %>">
      			<source media="(max-width: 520px)" srcset="<%= image_path("image-intro-3-medium.jpg") %>">
  				<source media="(max-width: 800px)" srcset="<%= image_path("image-intro-3-full.jpg") %>">
				<%= image_tag("image-intro-3-default.jpg", :alt => "Truppie", :class => "img-fluid", :srcset => image_url("image-intro-3-default.jpg")) %>
		      </picture>	
		      
			  <div class="carousel-caption">
			    <h3 class="secondary-font display-tagline"><%= t('third-caption') %></h3>
			    <p class="lead emblem-font"><%= t('third-description') %></p>
			    </div>
			    <div class="top-note">
			  		<small>Pico do Papagaio, Aiuruoca - MG</small>
		  	  </div>
		    </div>
	  </div>
   </div> 
</div>
<div class="container spaced-default intro-text">
	<div classs="row">
		<div class="col-xs-12">
			<div class="text-intro">
				<p class="tagline emblem-font"><%= t('text-intro') %></p>
			</div>
		</div>
	</div>
</div>
<div class="container intro-idea spaced-down">
	<div class="container">
		<div class="row cards">
			<div class="col-sm-4 wow bounceIn">
				<div class="card card-block text-xs-center">
				  <h4 class="card-title main-color-font">
				  	<%= image_tag("logos-10.svg", :alt => "Truppie", :class => "img-fluid symbol-big") %>
				  	<p class="tagline emblem-font"><%= t('balloom-heading') %>
			  	  </h4>
				  <p class="card-text"><p class="tagline emblem-font"><%= t('balloom-text') %></p>
				</div>
			</div>
			<div class="col-sm-4 wow bounceIn">
				<div class="card card-block text-xs-center">
				  <h4 class="card-title main-color-font">
				  	<picture>
				  		<%= image_tag("logos-11.svg", :alt => "Truppie", :class => "img-fluid symbol-big") %>
				  	</picture>
				  	<p class="tagline emblem-font"><%= t('hands-heading') %>
			  	  </h4>
				  <p class="card-text"><p class="tagline emblem-font"><%= t('hands-text') %></p>
				</div>
			</div>
			<div class="col-sm-4 wow bounceIn">
				<div class="card card-block text-xs-center">
				  <h4 class="card-title main-color-font">
				  	<%= image_tag("logos-12.svg", :alt => "Truppie", :class => "img-fluid symbol-big") %>
				  	<p class="tagline emblem-font"><%= t('shoes-heading') %>
			  	  </h4>
				  <p class="card-text"><p class="tagline emblem-font"><%= t('shoes-text') %></p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="intro-idea spaced-down bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="light-heading" style="padding: 4px;">Próximas truppies</h3>
			</div>
		</div>
		<% @tours.each do |t| %>
		<style>
			.twPc-div {
				overflow: hidden;
			}
			<%="#twPc-bg-#{t.id}" %> {
				background-image: url('<%= t.photo %>');
			}
		</style>
		<div class="twPc-div spaced-down">
		    <%= link_to(tour_path(t), :id => "twPc-bg-#{t.id}" ,:class => 'twPc-bg twPc-block') do %>
		    	<div class="ribbon base"><span><%= raw t.price %></span></div>
		    <% end %>
			<div>
				<div class="twPc-button">
		            <!-- Twitter Button | you can get from: https://about.twitter.com/tr/resources/buttons#follow -->
					
		            <%= link_to(tour_path(t), :class => 'twitter-follow-button btn btn-primary') do %>
		            	<i class="fa fa-ticket"></i> Reservar agora
		            <% end %>
		            <!-- Twitter Button -->   
				</div>
		
				<%= link_to(t.organizer.website, :class => 'twPc-avatarLink') do %>
					<%= image_tag("logo_utopicos.png", :alt => "Utópicos Mundo Afora", class: 'twPc-avatarImg') %><br />
				<% end %>
		
				<div class="twPc-divUser spaced-down">
					<div class="twPc-divName">
						<%= link_to(t.title, tour_path(t)) %>
					</div>
					<span>
						<small>pela </small><strong><%= t.organizer.name %></strong>
					</span>
				</div>
		
				<div class="twPc-divStats">
					<ul class="twPc-Arrange">
						<li class="twPc-ArrangeSizeFit">
							<span class="twPc-StatLabel twPc-block">Quando?</span>
							<span class="twPc-StatValue">
								<%= l(t.start, format: '%d de %B / %Y') %>
							</span>
							<span class="twPc-StatValue">
								<small>daqui a <%= time_ago_in_words(t.start) %></small>
							</span>
						</li>
						<li class="twPc-ArrangeSizeFit">
							<span class="twPc-StatLabel twPc-block">Onde?</span>
							<span class="twPc-StatValue">
								<%= t.where.city %> 
							</span>
						</li>
						<li class="twPc-ArrangeSizeFit">
							<span class="twPc-StatLabel twPc-block">Que horas?</span>
							<span class="twPc-StatValue"><%= l(t.start, format: '%Hh%M') %></span>
						</li>
						<li class="twPc-ArrangeSizeFit">
							<span class="twPc-StatLabel twPc-block">vagas</span>
							<span class="twPc-StatValue">
								<% if not t.soldout? %> 
			            			<strong><%= t.available %></strong> vagas disponíveis
			            		<% else %>
			            			Não ha mais ticket disponiveis
			            		<% end %>
							</span>
						</li>
						<li class="twPc-ArrangeSizeFit">
							<span class="twPc-StatLabel twPc-block">Duração total</span>
							<span class="twPc-StatValue">
								<%= t.duration %>
							</span>
						</li>
						<li class="twPc-ArrangeSizeFit">
							<span class="twPc-StatLabel twPc-block">Dificuldade</span>
							<span class="twPc-StatValue"><%= t.level %></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<div class="spaced-smallest">
				<div>
					<!-- <h3 class="spaced emblem-font main-color-font"><%= t('truppie-title') %></h3> -->
					<!-- <p class="lead emblem-font" style="color: #f1592a;"><%= t('truppie-text') %></p> -->
					<%= image_tag("logo_truppie.svg", :alt => "Truppie",:width => 190, :class => "img-fluid ") %>
				</div>
				<ul class="list-group">
				  <li class="list-group-item">
				    <span class="pull-xs-right">
				    	<i class="fa fa-2x fa-users"></i>
				    </span>
				    <%= t('truppie-item') %>
				  </li>
				  <li class="list-group-item">
				    <span class="pull-xs-right">
						<i class="fa fa-2x fa-street-view"></i>
					</span>
				    <%= t('truppie-second-item') %>
				  </li>
				  <li class="list-group-item">
				    <span class="pull-xs-right">
						<i class="fa fa-2x fa-ticket"></i>
					</span>
				    <%= t('truppie-third-item') %>
				  </li>
				</ul>
			</div>
		</div>
		<div class="col-md-5">
			<a name="warning"></a>
	        <div class="text-xs-center" style="margin-top: 60px;">
	    		<div class="thumbnail center well well-small text-center spaced-down">
	                <h4 class="main-color-font emblem-font"><%= t('newsletter-title') %></h4>
	                
	                <%= render 'layouts/flash' %>
	                
	                <p class="lead">
	                	<%= t('newsletter-text') %>
	                	<br />
	                	<small>Fique tranquilo, nós não enviamos spam</small>
	                </p>
	                
	                
	  				<fieldset class="form-group">
	  						<%= form_tag({controller: "subscribers", action: "create"}, method: "post") do %>
	  							<%= email_field(:subscriber, :email, :class => 'form-control spaced-down', :placeholder => 'O meu e-mail é') %>
								<input type="submit" value="Inscreva-me!" class="btn btn-large btn btn-outlined btn-theme btn-lg" />
							<% end %>
					  </fieldset>
	            </div>    
	        </div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 spaced-default">
					<h4 class="emblem-font main-color-font"><%= t('authors-title') %></h4>
				</div>
				<div class="row">
		            <div class="card hovercard col-sm-6">
	                	<div class="cardheader"></div>
		                <div class="avatar">
		                    <%= image_tag("laura.jpg", :alt => "Truppie", :width => '120', class: 'spaced-smallest') %><br />
		                </div>
		                <div class="info">
		                    <div class="title">
		                        <a target="_blank" href="http://www.7cantosdomundo.com.br">Laura Sette</a>
		                    </div>
		                    <div class="desc"><%= t('laura-feature') %></div>
		                    <div class="desc"><%= t('laura-second-feature') %></div>
		                    <div class="desc"><%= t('laura-third-feature') %></div>
		                    <div class="desc"><a href="http://www.7cantosdomundo.com.br">7cantosdomundo.com.br</a></div>
		                </div>
		                <div class="bottom">
		                    <a class="btn btn-primary btn-twitter btn-twitter btn-sm" href="https://twitter.com/7CantosdoMundo">
		                        <i class="fa fa-twitter"></i>
		                    </a>
		                    <a class="btn btn-danger btn-sm" rel="publisher"
		                       href="https://plus.google.com/+LauraSette7CantosdoMundo/posts">
		                        <i class="fa fa-google-plus"></i>
		                    </a>
		                    <a class="btn btn-primary btn-sm btn-facebook" rel="publisher"
		                       href="https://www.facebook.com/laurinha.sette">
		                        <i class="fa fa-facebook"></i>
		                    </a>
		                </div>
		            </div>
		            <div class="card hovercard col-sm-6">
		                <div class="cardheader-alt"></div>
		                <div class="avatar">
		                    <img alt="" src="https://secure.gravatar.com/avatar/3bb283ee62ca047885c15b839cc4f024?d=https%3A%2F%2Fi.vimeocdn.com%2Fportrait%2Fdefault-gray_300x300.png&s=300">
		                </div>
		                <div class="info">
		                    <div class="title">
		                        <a target="_blank" href="http://www.alexandremagno.net">Alexandre Magno</a>
		                    </div>
		                    <div class="desc"><%= t('alex-feature') %></div>
		                    <div class="desc"><%= t('alex-second-feature') %></div>
		                    <div class="desc">Tech geek</div>
		                    <div class="desc"><a href="http://www.alexandremagno.net">alexandremagno.net</a></div>
		                </div>
		                <div class="bottom">
		                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/alexanmtz">
		                        <i class="fa fa-twitter"></i>
		                    </a>
		                    <a class="btn btn-danger btn-sm" rel="publisher"
		                       href="https://plus.google.com/105985612936824441325">
		                        <i class="fa fa-google-plus"></i>
		                    </a>
		                    <a class="btn btn-primary btn-facebook btn-sm" rel="publisher"
		                       href="https://facebook.com/alexandre.zimerer">
		                        <i class="fa fa-facebook"></i>
		                    </a>
		                </div>
		            </div>
		
		        </div>
		
			</div>
		</div>
	</div>
</div>

