<div class="logo">
	<%= image_tag("logo-flat.png", :alt => "Truppie") %>
	<p class="tagline emblem-font"><%= t('tagline') %></p>
	<div class="logos">
		<%= image_tag("logos-01.svg", :alt => "Truppie") %>
		<%= image_tag("logos-02.svg", :alt => "Truppie") %>
		<%= image_tag("logos-03.svg", :alt => "Truppie") %>
		<%= image_tag("logos-04.svg", :alt => "Truppie") %>
		<%= image_tag("logos-05.svg", :alt => "Truppie") %>
		<%= image_tag("logos-06.svg", :alt => "Truppie") %>
		<%= image_tag("logos-07.svg", :alt => "Truppie") %>
		<%= image_tag("logos-08.svg", :alt => "Truppie") %>
		<%= image_tag("logos-09.svg", :alt => "Truppie") %>
		<%= image_tag("logos-10.svg", :alt => "Truppie") %>
		<%= image_tag("logos-11.svg", :alt => "Truppie") %>
		<%= image_tag("logos-12.svg", :alt => "Truppie") %>
	</div>
	<div class="texts">
		<p class="emblem-font">abcdefghijpqlmno pqrwsxz 012344556677</p>
		<p class="fancy-font">abcdefghijpqlmn opqrwsxz 012344556677</p>
		<p class="secondary-font">abcdefghijp qlmnopqrwsxz 012344556677</p>
		<p class="emblem-font">abcdefghijpq lmnopqrwsxz 012344556677</p>
		<p class="symbol-font">abcdefghijpq lmnopqrwsxz 012344556677</p>
		
	</div>
</div>

