<%= render 'layouts/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="spaced-default">
			  <%= t('welcome_view_manifest_h3') %>
			</h3>
			<p><%= t('welcome_view_manifest_p_one') %></p>
			<p><%= t('welcome_view_manifest_p_two') %></p>
			<p><%= t('welcome_view_manifest_p_three') %></p>
			<p><%= t('welcome_view_manifest_p_four') %></p>
			<p><%= t('welcome_view_manifest_p_five') %></p>
			<p><%= t('welcome_view_manifest_p_six') %></p>
			<p><%= t('welcome_view_manifest_p_seven') %></p>
			<p><%= t('welcome_view_manifest_p_eight') %></p>
			<p><%= t('welcome_view_manifest_p_nine') %></p>
			<p><%= t('welcome_view_manifest_p_ten') %></p>
			<p><%= t('welcome_view_manifest_p_eleven') %></p>
			<p><%= t('welcome_view_manifest_p_twelve') %></p>
			<p><%= t('welcome_view_manifest_p_thirteen') %></p>
			<p><%= t('welcome_view_manifest_p_fourteen') %></p>
			<p><%= t('welcome_view_manifest_p_fifteen') %></p>
			<p><%= t('welcome_view_manifest_p_sixteen') %></p>
			<p><%= t('welcome_view_manifest_p_seventeen') %></p>	
		</div>
	</div>
</div>
