<% content_for :body_class, "mountain-form" %>
<%= render 'layouts/navbar' %>
<%= render 'layouts/flash' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% if @organizer %>
        <div style="margin-top: 20px; margin-bottom: 20px">
          <div class="bg-warning">
            <%= t('title-introducing-accounts') %>
          </div>
        </div>
        <% @organizer.each do |o| %>
              <nav class="navbar navbar-light bg-faded spaced-down">
                <%= link_to organizer_path(o), class: 'navbar-brand' do %>
                    <i class="fa fa-map-o"></i> <%= o.name %>
                <% end %>
                <ul class="nav navbar-nav">
                  <li class="nav-item">
                    <%= link_to dashboard_organizer_path(o), class: 'nav-link' do %>
                        <%= t('panel-label') %>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to manage_organizer_path(o), class: 'nav-link' do %>
                        <%= t('balance-label') %>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to transfer_organizer_path(o), class: 'nav-link' do %>
                        <%= t('transfer-label') %>
                    <% end %>
                  </li>
                </ul>
              </nav>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="container-mountain">
  <div class="lbg">
  </div>
  <div class="lbg2">
  </div>
  <div class="lO">
  </div>
  <div class="lC">
    <h1><%= t('title-organizer-join-truppie') %></h1>
    <p></p>
    <h3 style="margin-bottom: 20px;"><%= t('desc-organizer-why-truppie') %></h3>

    <% if user_signed_in? %>
        <div class="row py-2">
          <div class="col-sm-3 hidden-md-down">
            <%= image_tag current_user.image, class: "img-circle", width: "50" %>
          </div>
          <div class="col-sm-9">
            <small><%= t('logged-as-label') %></small>
            <p><%= current_user.name %></p>
            <%= link_to t('logout-label'), destroy_user_session_url, class: "btn btn-primary btn-xs" %>
          </div>
        </div>
        <!-- row end -->
    <% else %>
        <%= link_to omniauth_authorize_path(:user, 'facebook'), class: 'btn btn-social btn-facebook' do %>
            <span class="fa fa-facebook"></span> <%= "Entrar com o #{OmniAuth::Utils.camelize('facebook')}" %>
        <% end %>
    <% end %>
    <div style="position:absolute; bottom: 0; left: 120px;">
      <div class="progress_state">
        <div class="dot" id="dot1"></div>
        <div class="dot" id="dot2"></div>
        <div class="dot" id="dot3"></div>
        <div class="dot" id="dot4"></div>
        <div class="dot" id="dot5"></div>
      </div>
    </div>
  </div>
  <%= form_for @new_organizer, role: "form", multipart: true do |f| %>
    <div class="rightSec" id="first">
      <ul class="spaced-top">
        <li>
          <label>
            <%= t('label-organizer-name') %>
          </label>
          <%= f.text_field :name %>
          <% if flash[:errors] and flash[:errors].key?('name') %>
            <span class='glyphicon glyphicon-exclamation-sign text-danger pull-right icon-style'></span>
            <small class="text-danger"><%= error_message_text(flash[:errors], :name) %></small>
          <% end %>
          <%= f.hidden_field :user_id, value: current_user.try(:id) %>
          <%= f.hidden_field :welcome, value: true %>
        </li>
        <li>
          <label>
            <%= t('label-organizer-email') %>
          </label>
          <%= f.email_field :email %>
          <% if flash[:errors] and flash[:errors].key?('email') %>
              <span class='glyphicon glyphicon-exclamation-sign text-danger pull-right icon-style'></span>
              <small class="text-danger"><%= error_message_text(flash[:errors], :email) %></small>
          <% end %>
        </li>
        <li>
          <label>
            <%= t('label-organizer-website') %>
          </label>
          <%= f.text_field :website %>
          <% if flash[:errors] and flash[:errors].key?('website') %>
              <span class='glyphicon glyphicon-exclamation-sign text-danger pull-right icon-style'></span>
              <small class="text-danger"><%= error_message_text(flash[:errors], :website) %></small>
          <% end %>
        </li>
        <li>
          <label><%= t('label-organizer-about') %></label>
          <%= f.text_area :description, rows: 2 %>
          <% if flash[:errors] and flash[:errors].key?('description') %>
              <span class='glyphicon glyphicon-exclamation-sign text-danger pull-right icon-style'></span>
              <small class="text-danger"><%= error_message_text(flash[:errors], :description) %></small>
          <% end %>
        </li>
      </ul>
      <div class="nav_link">
        <a href="#" id="continue" style="float:right;"><%= t('label-organizer-continue') %></a>
      </div>
    </div>

    <!-- Section 2 -->

    <div class="rightSec" id="second" style="display:none">
      <ul>
        <li>
          <label>
            <%= t('label-organizer-address-city') %>
          </label>
          <input type="text" name="search" placeholder="<%= t('place') %>" class="places-input" />
          <%= f.fields_for :wheres, (Array.new(1, @new_organizer.wheres.build) if @new_organizer.wheres.empty?) do |ff| %>
              <%= ff.hidden_field :name %>
              <%= ff.hidden_field :lat %>
              <%= ff.hidden_field :long %>
              <%= ff.hidden_field :city %>
              <%= ff.hidden_field :state %>
              <%= ff.hidden_field :country %>
              <%= ff.hidden_field :postal_code %>
              <%= ff.hidden_field :address %>
              <%= ff.hidden_field :url %>
              <%= ff.hidden_field :google_id %>
              <%= ff.hidden_field :place_id %>
          <% end %>
          <div id="map"></div>
        </li>
      </ul>
      <div class="nav_link">
        <a href="#" id="prev"><%= t('label-organizer-previous') %></a>
        <a href="#" id="continue2" style="float:right;"><%= t('label-organizer-continue') %></a>
      </div>
    </div>

    <!--- Secont 3 --->

    <div class="rightSec" id="third" style="display:none">

      <ul>
        <li>
          <label>
            <%= t('label-organizer-phone') %>
          </label>
          <%= f.text_field :phone %>
        </li>
        <li>
          <label>
            <%= t('label-organizer-instagram') %>
          </label>
          <%= f.text_field :instagram %>
        </li>
        <li>
          <label>
            <%= t('label-organizer-facebook') %>
          </label>
          <%= f.text_field :facebook %>
        </li>
        <li>
          <label>
            <%= t('label-organizer-twitter') %>
          </label>
          <%= f.text_field :twitter %>
        </li>
      </ul>


      <div class="nav_link">
        <a href="#" id="prev2"><%= t('label-organizer-previous') %></a>
        <a href="#" id="continue3" style="float:right;"><%= t('label-organizer-continue') %></a>
      </div>
    </div>


    <!-- Section 4 -->

    <div class="rightSec" id="fourth" style="display:none">
      <ul>
        <li>
          <label>
            <%= t('label-organizer-picture') %>
          </label>
          <%= f.file_field :picture %>
        </li>
      </ul>
      <div class="nav_link">
        <a href="#" id="prev3"><%= t('label-organizer-previous') %></a>
        <a href="#" id="continue4" style="float:right;"><%= t('label-organizer-continue') %></a>
      </div>
    </div>
    <div class="rightSec" id="fifth" style="display:none">
      <div class="ty">
        <h1><%= t('label-organizer-thanks') %></h1>
        <h3><%= t('label-organizer-thanks-email') %></h3>
        <h5><%= t('label-organizer-thanks-moderation') %></h5>
        <button type="submit" value="submit"><%= t('label-organizer-finish') %></button>

      </div>
      <div class="nav_link">
        <a href="#" id="prev4"><%= t('label-organizer-previous') %></a>
      </div>
    </div>
  <% end %>
</div>
