<% content_for :body_class, "mountain-form" %>

<%= render 'layouts/navbar' %>
<div class="container-mountain">
  <div class="lbg">
  </div>
  <div class="lbg2">
  </div>
  <div class="lO">
  </div>
  <div class="lC">
    <h1><%= t('title-organizer-join-truppie') %></h1>
    <p></p>
    <h3 style="margin-bottom: 20px;"><%= t('desc-organizer-why-truppie') %></h3>

    <%= link_to '#', id: 'import-from-facebook-action' , class: 'btn btn-primary btn-facebook btn-sm' do %>
        <i class="fa fa-facebook"></i> <%= t('facebook-import-from-page') %>
    <% end %>
  </div>
  <%= form_for @new_organizer, class: "", role: "form" do |f| %>
    <div class="rightSec" id="first">
      <% if @organizer.any? %>
      <div class="spaced-down">
          <p><%= t('organizer-from-this-user') %></p>
          <ul>
            <% @organizer.each do |o| %>
                <li>
                  <a class="nav-link" href="<%= organizers_path(o) %>"><%= o.name %></a>
                </li>
            <% end %>
          </ul>
      </div>
      <% end %>
      <ul class="spaced-top">
        <li>
          <label>
            <%= t('label-organizer-name') %>
          </label>
          <%= f.text_field :name %>
          <%= f.hidden_field :user_id, value: current_user.id %>
        </li>
        <li>
          <label>
            <%= t('label-organizer-email') %>
          </label>
          <%= f.text_field :email %>
        </li>
        <li>
          <label>
            <%= t('label-organizer-website') %>
          </label>
          <%= f.text_field :website %>
        </li>
      </ul>
      <div class="nav_link">
        <a href="#" id="continue" style="float:right;"><%= t('label-organizer-continue') %></a>
      </div>
    </div>

    <!-- Section 2 -->

    <div class="rightSec" id="second" style="display:none">
      <ul>
        <li>
          <label>
            <%= t('label-organizer-phone') %>
          </label>
          <%= f.text_field :phone %>
        </li>
        <li>
          <label>
            <%= t('label-organizer-address-city') %>
          </label>
          <%= f.text_field :city %>
        </li>
        <li>
          <label>
            <%= t('label-organizer-picture') %>
          </label>
          <%= f.file_field :picture %>
        </li>
      </ul>
      <div class="nav_link">
        <a href="#" id="prev"><%= t('label-organizer-previous') %></a>
        <a href="#" id="continue2" style="float:right;"><%= t('label-organizer-continue') %></a>
      </div>
    </div>

    <!--- Secont 3 --->

    <div class="rightSec" id="third" style="display:none">


      <div class="nav_link">
        <a href="#" id="prev2"><%= t('label-organizer-previous') %></a>
        <a href="#" id="continue3" style="float:right;"><%= t('label-organizer-continue') %></a>
      </div>
    </div>


    <!-- Section 4 -->

    <div class="rightSec" id="fourth" style="display:none">
      <ul>
        <li>
          <label><%= t('label-organizer-about') %></label>
        </li>
        <%= f.text_area :description %>
      </ul>
      <div class="nav_link">
        <a href="#" id="prev3"><%= t('label-organizer-previous') %></a>
        <a href="#" id="continue4" style="float:right;"><%= t('label-organizer-continue') %></a>
      </div>
    </div>
    <div class="rightSec" id="fifth" style="display:none">
      <div class="ty">
        <h1><%= t('label-organizer-thanks') %></h1>
        <h3><%= t('label-organizer-thanks-email') %></h3>
        <h5><%= t('label-organizer-thanks-moderation') %></h5>
        <button type="submit" value="submit"><%= t('label-organizer-finish') %></button>

      </div>
      <div class="nav_link">
        <a href="#" id="prev4"><%= t('label-organizer-previous') %></a>
      </div>
    </div>
  <% end %>
</div>
<div class="progress_state">
  <div class="dot" id="dot1"></div>
  <div class="dot" id="dot2"></div>
  <div class="dot" id="dot3"></div>
  <div class="dot" id="dot4"></div>
  <div class="dot" id="dot5"></div>
</div>