<%= render 'layouts/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="spaced-default">
			  <%= t('welcome_view_privacy_h3') %>
			</h3>
			<h5><%= t('welcome_view_privacy_h5_one') %></h5>
			<p><%= t('welcome_view_privacy_p_one') %></p>
			<h5><%= t('welcome_view_privacy_h5_two') %></h5>
			<p><%= t('welcome_view_privacy_p_two') %></p>
			<p></p>	
		</div>
	</div>
</div>
