<%= render 'layouts/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="spaced-default spaced-default-full">
        <div class="card card-inverse card-<%= @status %> text-xs-center">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <h4>
                <p><%= @confirm_headline_message %></p> 
                <p><%= link_to @tour.title, tour_path(@tour) %></p>                
              </h4>
              <footer>
                <p><%= @confirm_status_message %></p>
                <% if @status == "success" %>
                <p>Você pode acompanhar o status em <%= link_to 'minhas truppies', orders_path %>. </p>
                <% else %>
                <p><%= link_to "voltar para confirmação", confirm_tour_path(@tour) %></p>
                <% end %>
              </footer>
            </blockquote>
          </div>
        </div>
        <% if @status == "success" %>
        <h3 class="spaced-top">Segue abaixo as informações do seu pedido</h3>
        <div class="main-box no-header clearfix">
          <div class="main-box-body clearfix">
            <div class="table-responsive">
              <table class="table user-list">
                <thead>
                  <tr>
                    <th class="text-center"><span>Organizador</span></th>
                    <th class="text-center"><span>Status</span></th>
                    <th><span>Código do pedido</span></th>
                    <th>Valor da reserva</th>
                    <th>Quantidade</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> <span class="user-subhead"><%= link_to @order.tour.organizer.name, organizer_path(@order.tour.organizer) %></span></td>
                    <td class="text-center"> <%= raw(@order.friendly_status(@order.current_status)) %> </td>
                    <td> <%= @order.payment %> </td>
                    <td ><h3><%= raw final_price_from_cents(@order.price) %></h3> <% if @order.tour.try(:packages) %>
                    <% @order.tour.packages.each do |p| %>
                    <% if p.value == @order.price %>
                    Pacote <%= p.name %>
                    <% end %>
                    <% end %>
                    <% end %> </td>
                    <td class="text-center">
                      <h3><%= @amount %></h3>
                    </td>
                    <td class="text-center">
                      <h3><%= raw final_price_from_cents(@final_price) %></h3>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render partial: 'layouts/confirmeds_full', locals: {tour: @tour} %>
    </div>
  </div>
</div>

