<%= render 'layouts/navbar' %>
<%= render 'layouts/flash' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12 spaced-smallest">
			<h4 class="spaced-down">Confirmação da truppie</h4>
			<p>Confira aqui os detalhes para ter certeza de que está tudo certinho.</p>
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center">
                        <%= @tour.title %>
                    </h5>
                </div>
                <div class="card-text text-xs-center">
                    <h2 class="spaced-smallest"><%= raw @tour.price %></h2>
                </div>
                <ul class="list-group list-group-flush text-xs-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i><%= l(@tour.start, format: '%A') %> <br/> <%= l(@tour.start, format: '%d de %B de %Y as %Hh%M') %><br/ ><strong>daqui a <%= time_ago_in_words(@tour.start) %></strong></li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i><strong>Organizado por:</strong> <br/><%= @tour.organizer.name %></li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i><strong>Local:</strong><br /><%= @tour.where.name %> - <%= @tour.where.city %> - <%= @tour.where.state %></li>
                    <% if @tour.meetingpoint %>
                    	<li class="list-group-item"><i class="icon-ok text-danger"></i><strong>Ponto de encontro:</strong><br /><%= @tour.meetingpoint %></li>
                    <% end %>
                </ul>
            </div>
        </div>
        <div class="container">
        	<h4 class="spaced-down">Seus dados e pagamento</h4>
        </div>
        <%= form_tag confirm_presence_tour_path, :method => 'post' do %>
        <div class="col-xs-12 col-md-8">
            <div class="card font-card-small">
                <div class="card-header">
                    <h4 class="panel-title">Dados do usuario</h4>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                            	<%= hidden_field_tag :id, @tour %>
                            	<%= hidden_field_tag :method, "CREDIT_CARD" %>
                            	<label for="fullname">Nome Completo</label>
					            <%= text_field_tag :fullname, nil, placeholder: "Mesmo do cartão de crédito", required: true, class: "form-control" %>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                            	<label for="fullname">Data de nascimento</label>
					            <%= text_field_tag :birthdate, nil, placeholder: "dd/mm/aaaa", required: true, class: "form-control" %>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                            	<label for="cpf_number">Número do CPF</label>
					            <%= text_field_tag :cpf_number, nil, placeholder: "Sem pontos ou traços", required: true, class: "form-control" %>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="card font-card-small">
                <div class="card-header">
                    <h4>Dados para pagamento</h4>
                    <img src="http://i76.imgup.net/accepted_c22e0.png">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group form-card-number">
                                <label for="cardNumber">Número do cartão</label>
                                <div class="input-group">
                                    <%= text_field_tag :number, nil, placeholder: "Número do cartão válido", required: true, class: "form-control" %>
                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <label for="expMonth">Data de expiração</label>
                                <div class="pull-left col-xs-6 pl-ziro">
                                    <%= text_field_tag :expiration_month, nil, placeholder: "MM", required: true, class: "form-control" %>
                                </div>
                                <div class="col-xs-6 pl-ziro">
                                    <%= text_field_tag :expiration_year, nil, placeholder: "AA", required: true, class: "form-control" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="cvCode">Código</label>
                                <%= text_field_tag :cvc, nil, placeholder: "CV", required: true, class: "form-control" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
	            <div class="col-md-12">
	            	<%= submit_tag "Confirmar Reserva", class: 'btn btn-success btn-lg btn-block', id: "confirm-reservation" %>
	            </div>
	            <textarea style="display:none;" id="public_key">-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAonuGqRVzIpKya3PVLj22
RyBfy67voV7/KBJmB5MhCG3W2BuU2ftrahU0CUekXuTir6m0l0J+mqyoPjZE/GoE
BX8Glv4R7J77OkQEqMXST6rKGGjZnIaHy77zNGdqvJA347+0MzeNiIb4vDPL6lMg
fiaaqN8Dat+FuCVOZFsay56CnpBbQca62Xe5B5Oh7SxuZvm0VVbsyXXkiTLYRKQp
n+8kstWY0XJz84j1GAEubUBGkblNjypXAULyfm1n55oPlhbev4t2B5DjY4GPQa7I
HJTzkpqUA3bIinu3M3fcDxQY0Mlog1YSpuuspOJdRbtw2nBrEgF36wpEdU32OlEC
lwIDAQAB
-----END PUBLIC KEY-----</textarea>
    <textarea id="encrypted_value" style="display:none"></textarea>
        	</div>
        </div>
        <div class="container">
	        <div class="row">
	        		<div class="col-md-6">
		            	<div class="reduce-font">
			            	<p class="spaced-smallest">Tudo certo? Então só falta ler as condições e realizar o pagamento. Em caso de dúvidas, <%= link_to 'entre em contato com a gente', contacts_index_path %> em ola@truppie.com</p>
					        <h4 class="spaced-smallest">Condições</h4>
					        <ul>
					        <li>A reserva é efetivada após a confirmação da operadora do cartão de crédito;</li>
					        <li>Caso você desista de ir, informe a gente assim que possível em ola@truppie.com;</li>
					        <li>Se faltarem menos de 48 horas até o início do evento, o reembolso poderá ser de 50%;</li>
					        <li>Se o evento for cancelado pelo guia por qualquer motivo em qualquer momento, o reembolso é integral.</li>
					        <li>Em quaiser destas situações, você pode optar por deixar o valor pago como crédito para uma truppie futura com este guia - mas não esqueça de avisar, ok?</li>
					        </ul>
					        <h4 class="spaced-smallest">Importante</h4>
					        <ul>
					        <li>Seu cartão será usado em ambiente seguro. Seus dados serão protegidos e nunca fornecidos a terceiros. Fique traquilo!</li>
					        <li>Este evento depende de condições climáticas para ocorrer</li>
					        <li>A taxa de serviço do cartão de crédito não é reembolsável</li>
					        </ul>
			            </div>
	        		</div>
	        		<div class="col-md-6">
		            	<div class="text-xs-center">
		            		<%= image_tag("selo_moip_with_debit.png", :alt => "Truppie", :class => "img-fluid pull-xs-right spaced-default pull-against") %>
		            	</div>
	        		</div>
	        	</div>
	        	</div>
        <% end %>
	</div>
</div>
