<%= notice %>
<%= render 'layouts/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12 spaced-smallest">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">
                        <%= @tour.title %>
                    </h4>
                </div>
                <div class="card-text text-xs-center">
                    <h2 class="spaced-smallest"><%= raw @tour.price %></h2>
                </div>
                <ul class="list-group list-group-flush text-xs-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i><%= @tour.start.strftime("%A") %> <br/> <%= @tour.start.strftime("%d") %> de <%= @tour.start.strftime("%B") %> de <%= @tour.start.strftime("%Y") %> as <%= @tour.start.strftime("%Hh%M") %> </li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i><strong>Organizado por:</strong> <br/><%= @tour.organizer.name %></li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i><strong>Local:</strong><br /><%= @tour.where.name %></li>
                    <% if @tour.meetingpoint %>
                    	<li class="list-group-item"><i class="icon-ok text-danger"></i><strong>Ponto de encontro:</strong><br /><%= @tour.meetingpoint %></li>
                    <% end %>
                </ul>
            </div>
        </div>
        <%= form_tag confirm_presence_tour_path, :method => 'post' do %>
        <div class="col-xs-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="panel-title">Dados do usuario</h4>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                            	<%= hidden_field_tag :id, @tour %>
                            	<%= hidden_field_tag :method, "CREDIT_CARD" %>
					            <%= text_field_tag :fullname, nil, placeholder: "Full Name", required: true, class: "form-control" %>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
					            <%= text_field_tag :birthdate, nil, placeholder: "Birthdate", required: true, class: "form-control" %>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
					            <%= text_field_tag :cpf_number, nil, placeholder: "CPF Number", required: true, class: "form-control" %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <label for="expMonth">Country and Area Code</label>
                                <div class="pull-left col-xs-6 pl-ziro">
                                    <%= text_field_tag :country_code, nil, placeholder: "xx", required: true, class: "form-control" %>
                                </div>
                                <div class="col-xs-6 pl-ziro">
                                    <%= text_field_tag :area_code, nil, placeholder: "xx", required: true, class: "form-control" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="cvCode">Phone Number</label>
                                <%= text_field_tag :phone_number, nil, placeholder: "xxxxxxxx", required: true, class: "form-control" %>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Payment Details</h4>
                    <img src="http://i76.imgup.net/accepted_c22e0.png">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cardNumber">Card Number</label>
                                <div class="input-group">
                                    <%= text_field_tag :number, nil, placeholder: "Valid Card Number", required: true, class: "form-control" %>
                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <label for="expMonth">Expiration Date</label>
                                <div class="pull-left col-xs-6 pl-ziro">
                                    <%= text_field_tag :expiration_month, nil, placeholder: "MM", required: true, class: "form-control" %>
                                </div>
                                <div class="col-xs-6 pl-ziro">
                                    <%= text_field_tag :expiration_year, nil, placeholder: "YY", required: true, class: "form-control" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="cvCode">CV CODE</label>
                                <%= text_field_tag :cvc, nil, placeholder: "CV", required: true, class: "form-control" %>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="display:none;">
                        <div class="col-xs-12">
                            <p class="payment-errors"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
	            <div class="col-xs-12">
	            	<%= submit_tag "Confirmar Reserva", class: 'btn btn-success btn-lg btn-block' %>
	            </div>
        	</div>
        </div>
        <% end %>
	</div>
</div>
