<%= render 'layouts/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="spaced-default spaced-default-full">
        <div class="card card-inverse card-<%= @status %> text-xs-center">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <h4>
                <p><%= @confirm_headline_message %></p>
                <%= link_to("/tours/products/#{@product_id}", data: {turbolinks: false}) do %>
                  <%= @product_name %>
                <% end %>
              </h4>
              <footer>
                <p><%= @confirm_status_message %></p>
                <% if @status == "success" %>
                <p><%= t('tours_view_confirm_presence_p_one') %><%= link_to t('tours_view_confirm_presence_link_one'), orders_path %>. </p>
                <% else %>
                <p><%= link_to t('tours_view_confirm_presence_link_two'), "/tours/products/#{@product_id}", data: {turbolinks: false} %></p>
                <% end %>
              </footer>
            </blockquote>
          </div>
        </div>
        <% if @status == "success" %>
        <h3 class="spaced-top"><%= t('tours_view_confirm_presence_h3') %></h3>
        <div class="main-box no-header clearfix">
          <div class="main-box-body clearfix">
            <div class="table-responsive">

            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

