<%= render 'layouts/navbar' %>
<form class="form-signin">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
        	<!-- Nav tabs -->
            <div class="card card-block">
                <div class="card-body" style="overflow:hidden;">
                    <h3 class="text-center spaced-down">
                        Adicionar truppie</h3>
                	<%= form_for @tour, url: tours_path, class: "form form-signup", role: "form" do |f| %>
	                    <ul class="nav nav-tabs spaced-down" role="tablist">
						  <li class="nav-item">
						    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Informações básicas</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" data-toggle="tab" href="#desc" role="tab">Descrições</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Foto</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Mais informações</a>
						  </li>
						</ul>
						<div class="tab-content spaced-down">
							<div class="tab-pane active" id="home" role="tabpanel">
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-newspaper-o"></span>
			                            </span>
			                            <%= f.text_field :title, placeholder: "Título da truppie", class: "form-control" %>
			                        </div>
			                    </div>
			                    
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
			                            <%= f.text_field :where, placeholder: "Onde?", class: "form-control" %>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-male"></span></span>
			                            <%= f.text_field :availability, placeholder: "Vagas", class: "form-control" %>
			                        </div>
			                    </div>
			                    
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
			                            <%= f.text_field :start, placeholder: "Quando começa", class: "form-control" %>
			                        </div>
			                    </div>
			                    
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
			                            <%= f.text_field :start, placeholder: "Quando termina", class: "form-control" %>
			                        </div>
			                    </div>
			                    
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-ticket"></span></span>
			                            <%= f.text_field :start, placeholder: "Preço", class: "form-control" %>
			                        </div>
			                    </div>
		                    </div>
		                    <div class="tab-pane" id="desc" role="tabpanel">
		                		outro form
		                	</div>
	                	</div>
	                    <div class="form-group">
		               		<div class="checkbox">
							  <label>
							    <input type="checkbox" value="">
							    Criar evento também no facebook
							  </label>
							</div>
	                    </div>
		                <div class="pull-right">  
		                	<a href="http://www.jquery2dotnet.com" class="btn btn-lg btn-default" role="button">
		                    	Cancelar
		                    </a>  
		                	<a href="http://www.jquery2dotnet.com" class="btn btn-lg btn-primary" role="button">
		                    	Criar truppie
		                    </a>
	                    </div>
				  <% end %>
				  </div>
	            </div>
	        </div>
	    </div>
	</div>
</form>
<div id="fullscreen_bg" class="fullscreen_bg"/>
</div>
