<%= render 'layouts/navbar' %>
<div class="form-signin">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
        	<!-- Nav tabs -->
            <div class="card card-block">
                <div class="card-body" style="overflow:hidden;">
                    <h3 class="text-center spaced-down">
                        Adicionar truppie</h3>
                	<%= form_for @tour, url: tours_path, class: "form form-signup", role: "form" do |f| %>
	                    <ul class="nav nav-tabs spaced-down" role="tablist">
						  <li class="nav-item">
						    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Informações básicas</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" data-toggle="tab" href="#desc" role="tab">Descrições</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" data-toggle="tab" href="#foto" role="tab">Foto</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" data-toggle="tab" href="#guia" role="tab">Guia</a>
						  </li>
						</ul>
						<div class="tab-content spaced-down">
							<div class="tab-pane active" id="home" role="tabpanel">
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-newspaper-o"></span>
			                            </span>
			                            <%= f.text_field :title, placeholder: "Título da truppie", class: "form-control" %>
			                            <%= f.hidden_field :user, value: current_user, placeholder: "Onde?", class: "form-control" %>
			                        </div>
			                    </div>
			                    
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
			                            <%= f.text_field :address, placeholder: "Onde?", class: "form-control" %>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-male"></span></span>
			                            <%= f.number_field :availability, placeholder: "Vagas", class: "form-control" %>
			                        </div>
			                    </div>
			                    
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
			                            <%= f.datetime_local_field :start, placeholder: "Quando começa", class: "form-control" %>
			                        </div>
			                    </div>
			                    
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
			                            <%= f.datetime_local_field :end, placeholder: "Quando termina", class: "form-control" %>
			                        </div>
			                    </div>
			                    
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-ticket"></span></span>
			                            <%= f.number_field :end, placeholder: "Preço (ex: 30 para R$ 30,00)", class: "form-control" %>
			                        </div>
			                    </div>
		                    </div>
		                    <div class="tab-pane" id="desc" role="tabpanel">
		                		<div class="form-group">
		                            <%= f.text_area :description, placeholder: "Descrição completa", class: "form-control" %>
			                    </div>
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-thumbs-up"></span></span>
			                            <%= f.text_field :included, value: '', placeholder: "O que inclui?", class: "form-control", "data-role": "tagsinput" %>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-thumbs-down"></span></span>
			                            <%= f.text_field :nonincluded, placeholder: "O que não inclui?", class: "form-control", "data-role": "tagsinput" %>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-book"></span></span>
			                            <%= f.text_field :take, placeholder: "O que levar?", class: "form-control", "data-role": "tagsinput" %>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
			                            <%= f.text_field :meetingpoint, placeholder: "Qual o ponto de encontro?", class: "form-control" %>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-bookmark"></span></span>
			                            <%= f.select :category_id, options_for_select(Category.all.map{|s|[s.name, s.id]}), {class: "form-control", include_blank: "Escolha uma categoria"} %>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-tags"></span></span>
			                            <%= f.text_field :tags, value: '', placeholder: "Quais são as tags?", class: "form-control" %>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-globe"></span></span>
			                            <%= f.text_field :languages, value: '', placeholder: "Idiomas falados?", class: "form-control" %>
			                        </div>
			                    </div>
		                	</div>
		                	<div class="tab-pane" id="guia" role="tabpanel">
			                    <p>Para associar um organizador a esta truppie, você precis ser membro desta organização</p>
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><span class="fa fa-map-o"></span></span>
			                            <%= f.text_field :organizer, value: '', placeholder: "Organizador", class: "form-control" %>
			                        </div>
			                    </div>
		                	</div>
	                	</div>
	                    <div class="form-group">
		               		<div class="checkbox">
							  <label>
							    <input type="checkbox" value="">
							    Criar evento também no facebook
							  </label>
							</div>
	                    </div>
		                <div class="pull-right">  
		                	<a href="<%= new_tour_path %> class="btn btn-lg btn-default" role="button" style="margin-right: 40px; margin-top: 10px;">
		                    	Cancelar
		                    </a>  
		                    <%= link_to("Criar truppie", "#", class: "btn btn-lg btn-primary criar-truppie") %>
	                    </div>
				  <% end %>
				  </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<div id="fullscreen_bg" class="fullscreen_bg"/>
</div>
