<%= render 'layouts/navbar' %>
<div class="cover">
	<div class="img-holder">
		<%= image_tag(@tour.photo, :alt => "Truppie", :class => "img-fluid img-fit symbol-big") %>
        <% if @tour.try(:value) %>
        <div class="ribbon base" style="text-align: right">
        	<span><%= raw @tour.price %></span>
        	<%= link_to 'Reservar', confirm_tour_path, class: 'btn btn-primary btn-sm btn-block' %>
    	</div>
        <% else %>
        	<% if @tour.try(:packages) %>
        	<div class="ribbon base packages">
				<% @tour.packages.each do |t| %>
					<small><%= t.name %></small>
					<span><%= raw t.price %></span><br />
				<% end %>
				<%= link_to 'Reservar', confirm_tour_path, class: 'btn btn-primary btn-sm btn-block' %>
			</div>
        	<% end %>
        <% end %>
	</div>
	<div class="container">
		<div class="row divider-default">
			<div class="col-xs-12">
				<%= render 'layouts/flash' %>
				<div class="pull-left date-body text-xs-center spaced-smallest">
		          <label for="" class="date-title">
		          	<%= l(@tour.start, format: '%B / %Y') %>
	          	  </label>
		          <div class="date-content">
		            <p class="dia">
		            	<%= l(@tour.start, format: '%d') %>
		            	
		            </p>
		            <hr class="nomargin"/>
		            <p class="nomargin">
		            	<strong>
		            		<%= l(@tour.start, format: '%A') %>
	            		</strong>
            		</p>
            		<p class="nomargin">
		            	<strong>
		            	às <%= l(@tour.start, format: '%Hh%M') %>
	            		</strong>
            		</p>
		            <p class="date-body-when nomargin"><strong>daqui a <%= time_ago_in_words(@tour.start) %></strong></p>
		          </div>
		        </div>
		        <div class="pull-xs-right tour-container">
					<h4 class="tour-title spaced-smallest pull-xs-right"><strong><%= @tour.title %></strong></h4>
					<div class="pull-xs-right" style="clear:both">
						<small  style="display:block; text-align: right">na categoria <strong class="text-danger"><%= @tour.try(:category).try(:name) || "Sem categoria" %></strong></small>
						<div class="spaced-smallest pull-xs-right" style="display:block; text-align: right">
							<small>tags:</small> 
							<% @tour.tags.each do |tag| %>
								 <span class="tags label label-info"><%= tag.name %></span>
							<% end %>
						</div>
					</div>
				</div> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="card">
					<div class="card-header">
						<h5 class="spaced-smallest"><i class="fa fa-map-o"></i> <strong>Guia:</strong></h5>
					</div>
					<div class="card-block card-organizer">
						<div class="text-xs-center">
							<h4 class="card-title spaced-down">
								<%= image_tag(@tour.organizer.logo, :alt => @tour.organizer.name, :width => '120', class: 'spaced-smallest') %><br />
								<strong><%= @tour.organizer.name %> </strong>
							</h4>
						    <p class="card-text spaced-down"><%= @tour.organizer.description %></p>
						    <% if @tour.organizer.website %>
								<%= link_to @tour.organizer.website, class: 'btn btn-primary-outline btn-sm' do %>
									<i class="fa fa-external-link"></i> entrar no site
								<% end %>
							<% end %>
							<% if @tour.organizer.email %>
							<a class="btn btn-primary-outline btn-sm" href="mailto:<%= @tour.organizer.email %>"><i class="fa fa-envelope"></i> dúvida? Envie um e-mail</a> <br />
							<% end %>
							<div class="hovercard spaced-default">
								<div class="bottom">
									<% if @tour.organizer.instagram %>
				                    <a class="btn btn-info btn-instagram btn-sm" href="<%= @tour.organizer.instagram %>">
				                        <i class="fa fa-instagram"></i> instagram
				                    </a>
				                    <% end %>
				                    <% if @tour.organizer.facebook %>
				                    <a class="btn btn-primary btn-facebook btn-sm" rel="publisher"
				                       href="<%= @tour.organizer.facebook %>">
				                        <i class="fa fa-facebook"></i> facebook
				                    </a>
				                    <% end %>
				                    <% if @tour.organizer.twitter %>
				                    <a class="btn btn-primary btn-twitter btn-twitter btn-sm" href="<%= @tour.organizer.twitter %>">
				                        <i class="fa fa-twitter"></i>
				                    </a>
				                    <% end %>
				                </div>
							</div>
						</div>
					</div>
					<!-- 
					<div class="card-footer text-muted" style="text-align: right;">
    					<small><span class="label label-default spaced-smallest">Membros</span><br /></small>
    					<% if @tour.organizer.user.image %>
                			<img width="50" src="<%= @tour.organizer.user.image %>?type=normal" class=" pull-right avatar img-circle img-thumbnail" alt="avatar"><br/>
                			<%= @tour.organizer.user.name %>
            			<% else %>
            				<small>
            					<img width="50" src="https://avatars.io/instagram/username" class="avatar img-circle img-thumbnail" alt="avatar"><br/>
            					<%= @tour.organizer.user.name %>
            				</small>
            				
                		<% end %>
					 </div> -->
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="card">
					<div class="card-header">
						<h5 class="spaced-smallest"><i class="fa fa-info-circle"></i> <strong>Informações:</strong></h5>
						
					</div>
					<div class="card-block">
			            <ul class="list-unstyled tour-info">
			            	<li>
			            		<i class="fa fa-ticket"></i>
			            		<% if not @tour.soldout? %> 
			            			<strong><%= @tour.available %></strong> vagas disponíveis
			            		<% else %>
			            			Não ha mais ticket disponiveis
			            		<% end %>
		            		</li>
		            		<% if @tour.try(:minimum) %>
		            		<li><i class="fa fa-child"></i>  <strong><%= @tour.minimum %></strong> pessoas no mínimo</li>
		            		<% end %>
		            		<!--<li><i class="fa fa-calendar"></i>  Duração total de <strong><%= @tour.duration %></strong></li> -->
		            		<li><i class="fa fa-calendar"></i>  de <strong><%= l(@tour.start, format: '%d de %B') %></strong> a <strong><%= l(@tour.end, format: '%d de %B') %></strong></li>
		            		<li><i class="fa fa-clock-o"></i>  <%= l(@tour.start, format: '%d de %B / %Y') %> às <%= l(@tour.start, format: '%Hh%M') %> </li>
			                <% if @tour.try(:difficulty) %>
			                <li><i class="fa fa-heartbeat"></i> Nível <strong><%= @tour.level %></strong> </li>
			                <% end %>
			                <li><i class="fa fa-map-marker"></i><strong> <%= @tour.where.name %></strong> - <%= @tour.where.state %></li>
			                <li>
			                	<i class="fa fa-globe"></i>
			                	Os guias falam 
			                	<strong><%= @tour.languages.map { |m| m.name }.join(', ') %></strong>
		                	 </li>
			            </ul>
			        </div>
			        <div class="card-footer">
			            <!-- <div class="row">
			            	<div class="col-xs-12">
					            <div class="text-xs-center">
					            	<p><small><span class="label label-default" style="background-color: #BBB;"> reserve agora e concorra a outro passeio do <%= @tour.organizer.name %>!</span></small></p>
					            </div>
				            </div>
			            </div> -->
			            <%= link_to 'Reservar agora', confirm_tour_path, class: 'btn btn-primary btn-lg btn-block' %>
		            </div>
		        </div>
	       </div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3 class="spaced-default">Opções de pacotes</h3>
			</div>
		</div>
		<div class="row text-xs-center">
			<% @tour.packages.each do |p| %>
			<!-- item -->
            <div class="col-md-6">
                <div class="card panel-pricing">
                    <div class="card-header card-info" style="color: white;">
                        <h3><%= p.name %></h3>
                    </div>
                    <div>
                    <div class="panel-body text-xs-center">
                        <p><strong><%= raw p.price %></strong></p>
                    </div>
                    <ul class="list-group text-xs-center" style="overflow: scroll; height: 250px">
                    	<% p.included.each do |i| %>
                        <li class="list-group-item"><i class="fa fa-check"></i> <%= i %></li>
                        <% end %>
                    </ul>
                    </div>
                    <div class="card-footer">
                    	<%= link_to "Eu quero o #{p.name}", confirm_tour_path(@tour.id, p.name), class: 'btn btn-lg btn-block btn-primary' %>
                    </div>
                </div>
            </div>
            <!-- /item -->
			<% end %>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Sobre</strong></h4>
				<p><%= raw @tour.description %></p>
			</div>
		</div>
		<% if !@tour.take.empty? %>	
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>O que levar:</strong></h4>
				<ul>
					<% @tour.take.each do |t| %>
					<li><%= t %></li>
					<% end %>
				</ul>
			</div>
		</div>
		<% end %>
		<% if !@tour.goodtoknow.empty? %>	
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Bom saber:</strong></h4>
				<ul>
					<% @tour.goodtoknow.each do |t| %>
					<li><%= t %></li>
					<% end %>
				</ul>
			</div>
		</div>
		<% end %>
		<% if !@tour.included.empty? %>	
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>O que inclui:</strong></h4>
				<ul>
					<% @tour.included.each do |t| %>
					<li><%= t %></li>
					<% end %>
				</ul>
			</div>
		</div>
		<% end %>
		<% if !@tour.nonincluded.empty? %>	
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>O que não inclui:</strong></h4>
				<ul>
					<% @tour.nonincluded.each do |t| %>
					<li><%= t %></li>
					<% end %>
				</ul>
			</div>
		</div>
		<% end %>
		<% if @tour.meetingpoint %>		
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Ponto de encontro:</strong></h4>
				<p><%= @tour.meetingpoint %></p>
			</div>
		</div>
		<% end %>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest">
                    Confirmados
                </h4>
                <div class="row">
	                <div class="confirmeds">
	                    <% if @tour.confirmeds.length > 0 %>
	                    	<% @tour.confirmeds.each do |c| %>
	                    		<div class="col-xs-6 text-xs-center">
	                    			<% if c.user.image %>
		                    			<img width="120" src="<%= c.user.image %>?type=normal" class="avatar img-circle img-thumbnail" alt="avatar">
	                    			<% else %>
	                    				<img width="120" src="https://avatars.io/instagram/username" class="avatar img-circle img-thumbnail" alt="avatar">
		                    		<% end %>
		                    		<p class="small">
		                    			<% if current_user %>
			                    			<% if c.user.name == current_user.name %>
			                    				<strong>Você</strong>
			                    				<!-- <%= button_to "desistir", unconfirm_presence_tour_path(@tour), data: { confirm: "Are you sure?" }, class: 'btn btn-secondary btn-sm btn-block' %> -->
			                    			<% else %>
			                					<strong><%= c.user.name %></strong>
			                    			<% end %>
			                    		<% else %>
			                    			<strong><%= c.user.name %></strong>
		                    			<% end %>
		                    			
		                			</p>
	                			</div>
	                		<% end %>
	                    <% else %>
	                    	<div class="col-xs-12">
	                    		<p class="small">Ninguem confirmou ainda. <%= link_to 'Confirmar a sua', confirm_tour_path %></p>
	                    	</div>
	                    <% end %>
	                </div>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>O que preciso para reservar:</strong></h4>
				<ul>
					<li>Disposição para estar em contato com a natureza, com pessoas do bem, e para ver paisagens incríveis :)</li>
					<li>Ter um cartão de crédito ativo</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Importante:</strong></h4>
				<ul>
				 <li>Antes de qualquer atividade física, é de extrema importância passar por uma avaliação médica. Sem vacilos com a saúde, hein?! ;)</li>
				 <li>As taxas do cartão estão inclusas</li>
			</div>
		</div>
	</div><!-- end container -->
	  <% @tour.attractions.each do |attraction| %>
	  <div class="row">
		<div class="col-xs-12">
			<h4 class="spaced-smallest"><strong>Atrações:</strong></h4>				
		</div>
	  </div>	
	  <div class="col-sm-6">
	    <div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><%= attraction.name %></h4>
		  </div>
		  <img src="<%= attraction.photo %>" alt="Card image" class="img-fluid">
		  <div class="card-block">
		    <p class="card-text"><%= attraction.text %></p>
		  </div>
		</div>
	  </div>
	  <% end %>
	</div>
</div>
