<%= render 'layouts/navbar' %>
<div class="cover">
	<div class="img-holder">
		<%= image_tag(@tour.photo, :alt => "Truppie", :class => "img-fluid img-fit symbol-big") %>
        <div class="ribbon base"><span><%= raw @tour.price %></span></div>
	</div>
	<div class="container">
		<div class="row divider-default">
			<div class="col-xs-12">
				<%= render 'layouts/flash' %>
				<div class="pull-left date-body text-xs-center spaced-smallest">
		          <label for="" class="date-title">
		          	<%= @tour.start.strftime("%B") %>/<%= @tour.start.strftime("%Y") %>
	          	  </label>
		          <div class="date-content">
		            <p class="dia"><%= @tour.start.strftime("%d") %></p>
		            <hr class="nomargin"/>
		            <p class="nomargin"><strong><%= @tour.start.strftime("%A") %></strong></p>
		            <p class="date-body-when nomargin"><strong>daqui a <%= time_ago_in_words(@tour.start) %></strong></p>
		          </div>
		        </div>
				<h4 class="tour-title spaced-smallest pull-xs-right"><strong><%= @tour.title %></strong></h4>
				<small class="pull-xs-right">na categoria <strong class="text-danger"><%= @tour.category.name %></strong></small>
				<div class="pull-xs-right">
					<small>tags:</small> 
					<% @tour.tags.each do |tag| %>
						 <span class="label label-info"><%= tag.name %></span>
					<% end %>
				</div> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h6 class="spaced-smallest"><i class="fa fa-child"></i> guia:</h6>
				<div class="text-xs-center">
					<%= image_tag("logo_utopicos.png", :alt => "Truppie", :width => '60') %>
					<p>
						<%= @tour.organizer.name %> <br />
						<% if @tour.organizer.website %>
						<%= link_to @tour.organizer.website, @tour.organizer.website %>
						<% end %>
					</p>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="card card-block">
		            <ul class="list-unstyled">
		            	<li>
		            		<i class="fa fa-ticket"></i>
		            		<% if not @tour.soldout? %> 
		            		<%= @tour.available %> tickets disponíveis
		            		<% else %>
		            			Não ha mais ticket disponiveis
		            		<% end %>
	            		</li>
		                <li><i class="fa fa-map-marker"></i> <%= @tour.where.name %></li>
		                <li>
		                	<i class="fa fa-globe"></i>
		                	<% @tour.languages.each do |lang| %>
								 <%= lang.name %>
							<% end %>
	                	 </li>
		                <li><i class="fa fa-calendar"></i>  <%= @tour.duration %> of duration</li>
		                <li><i class="fa fa-heartbeat"></i> <%= @tour.level %></li>
		            </ul>
		            <%= link_to 'Reservar agora', confirm_tour_path, class: 'btn btn-primary btn-block' %>
		        </div>
	       </div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h6>
                    Confirmados
                </h6>
                <div class="row">
	                <div class="confirmeds">
	                    <% if @tour.confirmeds.length > 0 %>
	                    	<% @tour.confirmeds.each do |c| %>
	                    		<div class="col-xs-6 text-xs-center">
		                    		<img src="<%= c.user.image %>?type=normal" class="avatar img-circle img-thumbnail" alt="avatar">
		                    		<p class="small">
		                    			<% if current_user %>
			                    			<% if c.user.name == current_user.name %>
			                    				<strong>Você</strong>
			                    				<!-- <%= button_to "desistir", unconfirm_presence_tour_path(@tour), data: { confirm: "Are you sure?" }, class: 'btn btn-secondary btn-sm btn-block' %> -->
			                    			<% else %>
			                					<strong><%= c.user.name %></strong>
			                    			<% end %>
			                    		<% else %>
			                    			<strong><%= c.user.name %></strong>
		                    			<% end %>
		                    			
		                			</p>
	                			</div>
	                		<% end %>
	                    <% else %>
	                    	<div class="col-xs-12">
	                    		<p class="small">Ninguem confirmou ainda. <%= link_to 'Confirmar a sua', confirm_tour_path %></p>
	                    	</div>
	                    <% end %>
	                </div>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Sobre</strong></h4>
				<p><%= @tour.description %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Included:</strong></h4>
				<p><%= @tour.included %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Not included:</strong></h4>
				<p><%= @tour.nonincluded %></p>
			</div>
		</div>
		<% if @tour.meetingpoint %>		
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Meeting Point:</strong></h4>
				<p><%= @tour.meetingpoint %></p>
			</div>
		</div>
		<% end %>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Attractions</strong></h4>				
			</div>
		</div>
		<div class="row">
		  <% @tour.attractions.each do |attraction| %>	
		  <div class="col-sm-6">
		    <div class="card">
			  <div class="card-block">
			    <h4 class="card-title"><%= attraction.name %></h4>
			  </div>
			  <img src="<%= attraction.photo %>" alt="Card image" class="img-fluid">
			  <div class="card-block">
			    <p class="card-text"><%= attraction.text %></p>
			  </div>
			</div>
		  </div>
		  <% end %>
		</div>
	</div>
</div>
