<%= render 'layouts/navbar' %>
<div class="cover">
	<div class="img-holder">
		<% if @tour.try(:picture) %>
			<%= image_tag @tour.picture.url(:large), :alt => "Truppie", :class => "img-fluid img-fit symbol-big" %>
		<% elsif @tour.try(:photo) %>
			<%= image_tag(@tour.photo, :alt => "Truppie", :class => "img-fluid img-fit symbol-big") %>				
		<% else %>
			<div class="placeholder-truppie-image"></div>
		<% end %>
        <% if @tour.try(:value) %>
        <div class="ribbon base" style="text-align: right">
        	<span><%= raw @tour.price %></span>
        	<%= link_to t('tours_view_show_link_one'), confirm_tour_path, class: 'btn btn-primary btn-sm btn-block' %>
    	</div>
        <% else %>
        	<% if @tour.try(:packages) %>
        	<div class="ribbon base packages">
				<% @tour.packages.each_with_index do |t, i| %>
					<small><%= t.name %></small>
					<span><%= raw t.price %></span><br />
					<% break if i == 1; %>	
				<% end %>
				<% if @tour.packages.length > 2 %>
					<a class="btn btn-primary btn-sm btn-block" href="#packages"><%= t('tours_view_show_a_one')%></a>	
				<% end %>
				<%= link_to t('tours_view_show_link_one'), confirm_tour_path, class: 'btn btn-primary btn-sm btn-block' %>
			</div>
        	<% end %>
        <% end %>
	</div>
	<div class="container">
		<div class="row divider-default">
			<div class="col-xs-12">
				<%= render 'layouts/flash' %>
				<div class="pull-left date-body text-xs-center spaced-smallest">
		          <label for="" class="date-title">
		          	<%= l(@tour.start, format: '%B / %Y') %>
	          	  </label>
		          <div class="date-content">
		            <p class="dia">
		            	<%= raw @tour.days %>
		            </p>
		            <hr class="nomargin"/>
		            <p class="nomargin">
		            	<strong>
		            		<%= l(@tour.start, format: '%A') %>
	            		</strong>
            		</p>
            		<p class="nomargin">
		            	<strong>
		            	às <%= l(@tour.start, format: '%Hh%M') %>
	            		</strong>
            		</p>
		            <p class="date-body-when nomargin"><strong><%= friendly_when(@tour.start) %></strong></p>
		          </div>
		        </div>
		        <div class="pull-xs-right tour-container">
					<h4 class="tour-title spaced-smallest pull-xs-right"><strong><%= @tour.title %></strong></h4>
					<div class="pull-xs-right" style="clear:both">
						<small  style="display:block; text-align: right"><%= t('tours_view_show_small_one') %><strong class="text-danger"><%= @tour.try(:category).try(:name) || t('tours_view_show_strong_one') %></strong></small>
						<div class="spaced-smallest pull-xs-right" style="display:block; text-align: right">
							<small>tags:</small> 
							<% @tour.tags.each do |tag| %>
								 <span class="tags label label-info"><%= tag.name %></span>
							<% end %>
						</div>
					</div>
				</div> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="card">
					<div class="card-header">
						<h5 class="spaced-smallest"><i class="fa fa-map-o"></i> <strong><%= t('tours_view_show_strong_two') %></strong></h5>
					</div>
					<div class="card-block card-organizer">
						<div class="text-xs-center">
							<h4 class="card-title spaced-down">
								<%= render partial: 'layouts/organizer_picture', locals: {organizer: @tour.organizer} %>
								<strong><%= @tour.organizer.name %> </strong>
							</h4>
						    <p class="card-text spaced-down"><%= @tour.organizer.description %></p>
						    <% if @tour.organizer.website %>
								<%= link_to @tour.organizer.website, class: 'btn btn-primary-outline btn-sm', target: "_blank" do %>
									<i class="fa fa-external-link"></i> <%= t('tours_view_show_link_two') %>
								<% end %>
							<% end %>
							<% if @tour.organizer.email %>
							<a class="btn btn-primary-outline btn-sm" href="mailto:<%= @tour.organizer.email %>"><i class="fa fa-envelope"></i> <%= t('tours_view_show_a_one') %></a> <br />
							<% end %>
							<div class="hovercard spaced-default">
								<div class="bottom">
									<% if @tour.organizer.instagram %>
				                    <a target="_blank" class="btn btn-info btn-instagram btn-sm" href="<%= @tour.organizer.instagram %>">
				                        <i class="fa fa-instagram"></i> instagram
				                    </a>
				                    <% end %>
				                    <% if @tour.organizer.facebook %>
				                    <a target="_blank" class="btn btn-primary btn-facebook btn-sm" rel="publisher"
				                       href="<%= @tour.organizer.facebook %>">
				                        <i class="fa fa-facebook"></i> facebook
				                    </a>
				                    <% end %>
				                    <% if @tour.organizer.twitter %>
				                    <a target="_blank" class="btn btn-primary btn-twitter btn-twitter btn-sm" href="<%= @tour.organizer.twitter %>">
				                        <i class="fa fa-twitter"></i>
				                    </a>
				                    <% end %>
				                </div>
							</div>
						</div>
					</div>
					<!-- 
					<div class="card-footer text-muted" style="text-align: right;">
    					<small><span class="label label-default spaced-smallest">Membros</span><br /></small>
    					<% if @tour.organizer.user.image %>
                			<img width="50" src="<%= @tour.organizer.user.image %>?type=normal" class=" pull-right avatar img-circle img-thumbnail" alt="avatar"><br/>
                			<%= @tour.organizer.user.name %>
            			<% else %>
            				<small>
            					<img width="50" src="https://avatars.io/instagram/username" class="avatar img-circle img-thumbnail" alt="avatar"><br/>
            					<%= @tour.organizer.user.name %>
            				</small>
            				
                		<% end %>
					 </div> -->
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="card">
					<div class="card-header">
						<h5 class="spaced-smallest"><i class="fa fa-info-circle"></i> <strong><%= t('tours_view_show_strong_three') %></strong></h5>
						
					</div>
					<div class="card-block">
			            <ul class="list-unstyled tour-info">
			            	<li>
			            		<i class="fa fa-ticket"></i>
			            		<% if not @tour.soldout? %> 
			            			<strong><%= @tour.available %></strong> <%= t('tours_view_show_li_one') %>
			            		<% else %>
			            			<%= t('tours_view_show_li_two') %>
			            		<% end %>
		            		</li>
		            		<% if @tour.try(:minimum) %>
		            		<li><i class="fa fa-child"></i>  <strong><%= @tour.minimum %></strong> <%= t('tours_view_show_li_three') %></li>
		            		<% end %>
		            		<!--<li><i class="fa fa-calendar"></i>  Duração total de <strong><%= @tour.duration %></strong></li> -->
		            		<li><i class="fa fa-calendar"></i> <%= @tour.how_long %> </li>
		            		<li><i class="fa fa-clock-o"></i> <%= t('tours_view_show_li_four') %> <%= l(@tour.start, format: '%d de %B / %Y') %> às <%= l(@tour.start, format: '%Hh%M') %> </li>
			                <% if @tour.try(:difficulty) %>
			                <li><i class="fa fa-heartbeat"></i> <%= t('tours_view_show_li_five') %> <strong><%= @tour.level %></strong> </li>
			                <% end %>
			                <li><i class="fa fa-map-marker"></i>  <strong> <%= @tour.address %></strong></li>
			                <li>
			                	<i class="fa fa-globe"></i>
			                	<%= t('tours_view_show_li_six') %>
			                	<strong><%= @tour.languages.map { |m| m.name }.join(', ') %></strong>
		                	 </li>
		                	<% if @tour.try(:link) %>
					    <% if !@tour.link.empty? %>
                      <li><a href="<%= @tour.link %>"><i class="fa fa-facebook-square"></i> <%= t('tours_view_show_li_seven') %></a></li>
                      <% end %>
					    <% end %>
			            </ul>
			        </div>
			        <div class="card-footer">
			            <!-- <div class="row">
			            	<div class="col-xs-12">
					            <div class="text-xs-center">
					            	<p><small><span class="label label-default" style="background-color: #BBB;"> reserve agora e concorra a outro passeio do <%= @tour.organizer.name %>!</span></small></p>
					            </div>
				            </div>
			            </div> -->
			            <%= link_to t('tours_view_show_link_three'), confirm_tour_path, class: 'btn btn-primary btn-lg btn-block' %>
		            </div>
		        </div>
	       </div>
		</div>
    <% if @pictures.any? %>
    <div class="row">
      <div class="col-xs-12">
        <h4 class="spaced-top">
          <%= t('tours_view_show_h4') %>
        </h4>
      </div>
      <div class="cols-xs-12">
        <div class="gallery">
          <% @pictures.each do |p| %>
          <div class="gallery-image">
                <%= image_tag p.photo.url(:thumbnail), :alt => "Truppie", class: "img-fluid" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
		<% if @tour.packages.any? and !@tour.value %>
		<div class="row">
			<div class="col-xs-12">
				<h3 class="spaced-default">
					<a name="packages"><%= t('tours_view_show_a_two') %></a>
				</h3>
			</div>
		</div>
		<div class="row text-xs-center">
			<% @tour.packages.each do |p| %>
	
	<!-- item -->    
	<div class="col-md-6">
                <div class="card panel-pricing">
                    <div class="card-header card-info" style="color: white;">
                        <h3><%= p.name %></h3>
                    </div>
                    <div>
                    <div class="panel-body text-xs-center">
                        <p><strong><%= raw p.price %></strong></p>
                    </div>
                    <% if p.included.any? %>
                    <ul class="list-group text-xs-center" style="overflow: scroll; height: 250px">
                    	<% p.included.each do |i| %>
                        <li class="list-group-item"><i class="fa fa-check"></i> <%= i %></li>
                        <% end %>
                    </ul>
                    <% end %>
                    </div>
                    <div class="card-footer">
                    	<%= link_to t("tours_view_show_link_four",name: p.name), confirm_tour_path(@tour.id, p.name), class: 'btn btn-lg btn-block btn-primary' %>
                    </div>
                </div>
            </div>
            <!-- /item -->
			<% end %>
			
		</div>
		<% end %>
		<div class="row">
			<div class="col-xs-12">
				<h4><strong><%= t('tours_view_show_strong_four') %></strong></h4>
				<p><%= raw @tour.description %></p>
			</div>
		</div>
		<div class="row">
		  <% if !@tour.take.empty? %> 
			<div class="col-xs-12 col-md-6">
				<h4 class="spaced-smallest"><strong><%= t('tours_view_show_strong_five') %></strong></h4>
				<ul class="list-group spaced-down">
					<% @tour.take.each do |t| %>
					<li class="list-group-item"><i class="fa fa-hand-o-right"></i> <%= t %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
			<% if !@tour.goodtoknow.empty? %>  
      <div class="col-xs-12 col-md-6">
        <h4 class="spaced-smallest"><strong><%= t('tours_view_show_strong_six') %></strong></h4>
        <ul class="list-group spaced-down">
          <% @tour.goodtoknow.each do |t| %>
          <li class="list-group-item"><i class="fa fa-thumbs-o-up"></i> <%= t %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
		</div>
		<div class="row">
	    <% if !@tour.included.empty? %>
			<div class="col-xs-12 col-md-6">
				<h4 class="spaced-smallest"><strong><%= t('tours_view_show_strong_seven') %></strong></h4>
				<ul class="list-group spaced-down">
					<% @tour.included.each do |t| %>
					<li class="list-group-item"><i class="fa fa-check-circle-o"></i> <%= t %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
			<% if !@tour.nonincluded.empty? %> 
      <div class="col-xs-12 col-md-6">
        <h4 class="spaced-smallest"><strong><%= t('tours_view_show_strong_eight') %></strong></h4>
        <ul class="list-group spaced-down">
          <% @tour.nonincluded.each do |t| %>
          <li class="list-group-item"><i class="fa fa-ban"></i> <%= t %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
		</div>
		<% if !@tour.meetingpoint.empty? %>		
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong><%= t('tours_view_show_strong_nine') %></strong></h4>
				<p><%= @tour.meetingpoint %></p>
			</div>
		</div>
		<% end %>
		<div class="row">
			<div class="col-xs-12">
				<%= render partial: 'layouts/confirmeds_full', locals: {tour: @tour} %>
			</div>
		</div>
	</div><!-- end container -->
	  <% @tour.attractions.each do |attraction| %>
	  <div class="row">
		<div class="col-xs-12">
			<h4 class="spaced-smallest"><strong><%= t('tours_view_show_strong_ten') %></strong></h4>				
		</div>
	  </div>	
	  <div class="col-sm-6">
	    <div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><%= attraction.name %></h4>
		  </div>
		  <img src="<%= attraction.photo %>" alt="Card image" class="img-fluid">
		  <div class="card-block">
		    <p class="card-text"><%= attraction.text %></p>
		  </div>
		</div>
	  </div>
	  <% end %>
	</div>
