<%= notice %>
<%= render 'layouts/navbar' %>
<div class="cover">
	<div class="img-holder">
		<%= image_tag(@tour.photo, :alt => "Truppie", :class => "img-fluid img-fit symbol-big") %>
        <div class="ribbon base"><span><%= raw @tour.price %></span></div>
	</div>
	<div class="container">
		<div class="row divider-default">
			<div class="col-xs-12">
				<div class="pull-left date-body text-xs-center spaced-smallest">
		          <label for="" class="date-title">
		          	<%= @tour.start.strftime("%B") %>/<%= @tour.start.strftime("%Y") %>
	          	  </label>
		          <div class="date-content">
		            <p class="dia"><%= @tour.start.strftime("%d") %></p>
		            <hr class="nomargin"/>
		            <p class="nomargin"><strong>quinta-feira</strong></p>
		            <p class="date-body-when nomargin"><strong>daqui a <%= time_ago_in_words(@tour.start) %></strong></p>
		          </div>
		        </div>
				<h4 class="tour-title spaced-smallest pull-xs-right"><strong><%= @tour.title %></strong></h4>
				<small class="pull-xs-right">na categoria <%= @tour.category.name %></small>
				<div class="pull-xs-right">
					<small>tags:</small> 
					<% @tour.tags.each do |tag| %>
						 <span class="label label-info"><%= tag.name %></span>
					<% end %>
				</div> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h6 class="spaced-smallest"><i class="fa fa-child"></i> guia:</h6>
				<div class="text-xs-center">
					<%= image_tag("logo_utopicos.png", :alt => "Truppie", :width => '60') %>
					<p>
						<%= @tour.organizer.name %> <br />
						<% if @tour.organizer.website %>
						<%= link_to @tour.organizer.website, @tour.organizer.website %>
						<% end %>
					</p>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="card card-block">
		            <ul class="list-unstyled">
		            	<li><i class="fa fa-ticket"></i> <%= @tour.availability %> tickets disponíveis</li>
		                <li><i class="fa fa-map-marker"></i> <%= @tour.where.name %></li>
		                <li>
		                	<i class="fa fa-globe"></i>
		                	<% @tour.languages.each do |lang| %>
								 <%= lang.name %>
							<% end %>
	                	 </li>
		                <li><i class="fa fa-calendar"></i>  <%= @tour.duration %> of duration</li>
		                <li><i class="fa fa-heartbeat"></i> <%= @tour.level %></li>
		            </ul>
		            <input type="submit" class="btn btn-primary btn-block" value="Reservar agora" />
		        </div>
	       </div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h6>
                    Confirmados
                </h6>
                <div class="confirmed">
                    <% if @tour.confirmeds.length > 0 %>
                    	
                    <% else %>
                    	<p class="small">Ninguem confirmou ainda. <a  href="#">Confirmar reserva</a></p>
                    	
                    <% end %>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Sobre</strong></h4>
				<p><%= @tour.description %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Included:</strong></h4>
				<p><%= @tour.included %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Not included:</strong></h4>
				<p><%= @tour.nonincluded %></p>
			</div>
		</div>
		<% if @tour.meetingpoint %>		
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Meeting Point:</strong></h4>
				<p><%= @tour.meetingpoint %></p>
			</div>
		</div>
		<% end %>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Attractions</strong></h4>				
			</div>
		</div>
		<div class="row">
		  <% @tour.attractions.each do |attraction| %>	
		  <div class="col-sm-6">
		    <div class="card">
			  <div class="card-block">
			    <h4 class="card-title"><%= attraction.name %></h4>
			  </div>
			  <img src="<%= attraction.photo %>" alt="Card image" class="img-fluid">
			  <div class="card-block">
			    <p class="card-text"><%= attraction.text %></p>
			    <a href="#" class="card-link">More truppies for this attraction</a>
			  </div>
			</div>
		  </div>
		  <% end %>
		</div>
	</div>
</div>
