<%= render 'layouts/navbar' %>
<div class="cover">
	<div class="img-holder">
		<%= image_tag(@tour.photo, :alt => "Truppie", :class => "img-fluid img-fit symbol-big") %>
        <div class="ribbon base"><span><%= raw @tour.price %></span></div>
	</div>
	<div class="container">
		<div class="row divider-default">
			<div class="col-xs-12">
				<%= render 'layouts/flash' %>
				<div class="pull-left date-body text-xs-center spaced-smallest">
		          <label for="" class="date-title">
		          	<%= l(@tour.start, format: '%B / %Y') %>
	          	  </label>
		          <div class="date-content">
		            <p class="dia">
		            	<%= l(@tour.start, format: '%d') %>
		            	
		            </p>
		            <hr class="nomargin"/>
		            <p class="nomargin">
		            	<strong>
		            		<%= l(@tour.start, format: '%A') %>
	            		</strong>
            		</p>
		            <p class="date-body-when nomargin"><strong>daqui a <%= time_ago_in_words(@tour.start) %></strong></p>
		          </div>
		        </div>
		        <div class="pull-xs-right" style="width: 65%">
					<h4 class="tour-title spaced-smallest pull-xs-right"><strong><%= @tour.title %></strong></h4>
					<div class="pull-xs-right" style="clear:both">
						<small  style="display:block; text-align: right">na categoria <strong class="text-danger"><%= @tour.category.name %></strong></small>
						<div class="spaced-smallest pull-xs-right">
							<small>tags:</small> 
							<% @tour.tags.each do |tag| %>
								 <span class="label label-info"><%= tag.name %></span>
							<% end %>
						</div>
					</div>
				</div> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="card">
					<div class="card-header">
						<h5 class="spaced-smallest"><i class="fa fa-child"></i> <strong>Guia:</strong></h5>
					</div>
					<div class="card-block card-organizer">
						<div class="text-xs-center">
							<h4 class="card-title">
								<%= image_tag("logo_utopicos.png", :alt => "Truppie", :width => '120', class: 'spaced-smallest') %><br />
								<strong><%= @tour.organizer.name %> </strong>
							</h4>
						    <p class="card-text"><%= @tour.organizer.description %></p>
						    <% if @tour.organizer.website %>
								<%= link_to @tour.organizer.website, class: 'btn btn-primary-outline btn-sm' do %>
									<i class="fa fa-external-link"></i> entrar no site
								<% end %>
							<% end %>
							<% if @tour.organizer.email %>
							<a class="btn btn-primary-outline btn-sm" href="mailto:<%= @tour.organizer.email %>"><i class="fa fa-envelope"></i> dúvida? Envie um e-mail</a> <br />
							<% end %>
							<div class="hovercard">
								<div class="bottom">
									<% if @tour.organizer.instagram %>
				                    <a class="btn btn-info btn-sm" href="<%= @tour.organizer.instagram %>">
				                        <i class="fa fa-instagram"></i>
				                    </a>
				                    <% end %>
				                    <% if @tour.organizer.facebook %>
				                    <a class="btn btn-primary btn-sm" rel="publisher"
				                       href="<%= @tour.organizer.facebook %>">
				                        <i class="fa fa-facebook"></i>
				                    </a>
				                    <% end %>
				                    <% if @tour.organizer.twitter %>
				                    <a class="btn btn-primary btn-twitter btn-sm" href="<%= @tour.organizer.twitter %>">
				                        <i class="fa fa-twitter"></i>
				                    </a>
				                    <% end %>
				                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="card">
					<div class="card-header">
						<h5 class="spaced-smallest"><i class="fa fa-info-circle"></i> <strong>Informações:</strong></h5>
					</div>
					<div class="card-block">
			            <ul class="list-unstyled tour-info">
			            	<li>
			            		<i class="fa fa-ticket"></i>
			            		<% if not @tour.soldout? %> 
			            			<strong><%= @tour.available %></strong> vagas disponíveis
			            		<% else %>
			            			Não ha mais ticket disponiveis
			            		<% end %>
		            		</li>
		            		<li><i class="fa fa-calendar"></i>  <strong><%= @tour.duration %></strong> de duração</li>
			                <li><i class="fa fa-heartbeat"></i> <strong><%= @tour.level %></strong></li>
			                <li><i class="fa fa-map-marker"></i> <strong><%= @tour.where.name %></strong> - <%= @tour.where.city %> - <%= @tour.where.state %></li>
			                <li>
			                	<i class="fa fa-globe"></i>
			                	<% @tour.languages.each do |lang| %>
									 <%= lang.name %>
								<% end %>
		                	 </li>
			            </ul>
			            <%= link_to 'Reservar agora', confirm_tour_path, class: 'btn btn-primary btn-lg btn-block' %>
			        </div>
		        </div>
	       </div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest">
                    Confirmados
                </h4>
                <div class="row">
	                <div class="confirmeds">
	                    <% if @tour.confirmeds.length > 0 %>
	                    	<% @tour.confirmeds.each do |c| %>
	                    		<div class="col-xs-6 text-xs-center">
		                    		<img src="<%= c.user.image %>?type=normal" class="avatar img-circle img-thumbnail" alt="avatar">
		                    		<p class="small">
		                    			<% if current_user %>
			                    			<% if c.user.name == current_user.name %>
			                    				<strong>Você</strong>
			                    				<!-- <%= button_to "desistir", unconfirm_presence_tour_path(@tour), data: { confirm: "Are you sure?" }, class: 'btn btn-secondary btn-sm btn-block' %> -->
			                    			<% else %>
			                					<strong><%= c.user.name %></strong>
			                    			<% end %>
			                    		<% else %>
			                    			<strong><%= c.user.name %></strong>
		                    			<% end %>
		                    			
		                			</p>
	                			</div>
	                		<% end %>
	                    <% else %>
	                    	<div class="col-xs-12">
	                    		<p class="small">Ninguem confirmou ainda. <%= link_to 'Confirmar a sua', confirm_tour_path %></p>
	                    	</div>
	                    <% end %>
	                </div>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Sobre</strong></h4>
				<p><%= raw @tour.description %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>O que inclui:</strong></h4>
				<p><%= @tour.included %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>O que não inclui:</strong></h4>
				<p><%= @tour.nonincluded %></p>
			</div>
		</div>
		<% if @tour.meetingpoint %>		
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Ponto de encontro:</strong></h4>
				<p><%= @tour.meetingpoint %></p>
			</div>
		</div>
		<% end %>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="spaced-smallest"><strong>Atrações:</strong></h4>				
			</div>
		</div>
		<div class="row">
		  <% @tour.attractions.each do |attraction| %>	
		  <div class="col-sm-6">
		    <div class="card">
			  <div class="card-block">
			    <h4 class="card-title"><%= attraction.name %></h4>
			  </div>
			  <img src="<%= attraction.photo %>" alt="Card image" class="img-fluid">
			  <div class="card-block">
			    <p class="card-text"><%= attraction.text %></p>
			  </div>
			</div>
		  </div>
		  <% end %>
		</div>
	</div>
</div>
