<%= notice %>
<%= render 'layouts/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h4 class="spaced-smallest">Minhas truppies</h4>
			<p>Acompanhe aqui os status das suas truppies: data, reserva, pagamento.</p>
			<% if !@orders.exists? %>
				<p class="lead">
					<span class="label label-pill label-warning">
						Não há reservas para você neste momento
					</span>
				</p>
			<% else %>
			<div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>Truppie</span></th>
                                <th><span>Reservada em</span></th>
                                <th class="text-center"><span>Status</span></th>
                                <th><span>Código do pedido</span></th>
                                <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
								<% @orders.each do |o| %>
                                <tr>
                                    <td>
                                        <img src="<%= o.tour.photo %>" alt="<%= o.tour.title %>">
                                        <%= link_to o.tour.title, tour_path(o.tour), class: 'user-link' %>
                                        <span class="user-subhead"><%= o.tour.organizer.name %></span>
                                    </td>
                                    <td><%= l(o.created_at, format: '%d de %B as %I:%M %p')  %></td>
                                    <td class="text-center">
                                        <%= raw(o.friendly_status(o.current_status)) %>
                                    </td>
                                    <td>
                                        <%= o.payment %>
                                    </td>
                                    <td >
                                       <h3><%= raw(o.tour.price) %></h3>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <p>Você está visualizando suas reservas feitas para passeios. Acompanhe o status e saiba se seu pagamento foi efetuado, bem como os pedidos de reembolso</p>
            <h4>Como funciona os status?</h4>
                <ul>
					<li>Quando o pagamento é efetuado, temos o status <span class="label label-pill label-warning">Em análise</span></li>
					<li>Quando aprovamos seu pedido, o pagamento fica <span class="label label-success label-success">Autorizado</span></li>
					<li>Quando seu pedido é reembolsado, o pagamento fica <span class="label label-primary label-primary">Reembolsado</span></li>
					<li>Quando seu pedido é cancelado, o pagamento fica <span class="label label-primary label-primary">Cancelado</span></li>
				</ul>
            <% end %>
            <p>Em caso de dúvidas, entre em contato com a gente. Com o código do pedido podemos saber o que está acontecendo. <br /> Nosso contato é <a href="mailto:ola@truppie.com">ola@truppie.com</a></p>
		</div>
	</div>
</div>
