<%= render 'layouts/flash' %>
<%= render 'layouts/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h4 class="spaced-smallest">Minhas truppies</h4>
			<p>Acompanhe aqui o status das suas truppies.</p>
			<% if !@orders.exists? %>
				<p class="lead">
					<span class="label label-pill label-warning">
						Não há reservas para você neste momento
					</span>
				</p>
			<% else %>
			<div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>Truppie</span></th>
                                <th><span>Reservada em</span></th>
                                <th class="text-center"><span>Pagamento</span></th>
                                <th><span>Código do pedido</span></th>
                                <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
								<% @orders.each do |o| %>
                                <tr>
                                    <td>
                                        <img src="<%= o.tour.photo %>" alt="<%= o.tour.title %>">
                                        <%= link_to o.tour.title, tour_path(o.tour), class: 'user-link' %>
                                        <span class="user-subhead"><%= o.tour.organizer.name %></span>
                                    </td>
                                    <td><%= l(o.created_at, format: '%d de %B as %I:%M %p')  %></td>
                                    <td class="text-center">
                                        <%= raw(o.friendly_status(o.current_status)) %>
                                    </td>
                                    <td>
                                        <%= o.payment %>
                                    </td>
                                    <td >
                                       <h3><%= raw(o.tour.price) %></h3>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <p>Verifique se o passeio e o valor informados correspondem à sua solicitação e o status do pagamento.</p>
            <h4><strong>O que significa cada status do pagamento?</strong></h4>
                <ul>
					<li>Quando a reserva é solicitada e você envia os dados do seu cartão: <span class="label label-pill label-primary">Em análise</span></li>
					<li>Quando a operadora do cartão aprova o seu pedido: <span class="label label-success label-success">Autorizado</span></li>
					<li>Quando o valor pago por aquela truppie foi devolvido a você: <span class="label label-primary label-warning">Reembolsado</span></li>
					<li>Quando por algum motivo o seu cartão não é autorizado pela operadora: <span class="label label-danger label-danger">Cancelado</span></li>
				</ul>
            <% end %>
            <p>Em caso de dúvidas, anote o código do pedido e <%= link_to 'entre em contato com a gente', contacts_index_path %> em ola@truppie.com.</p>
		</div>
	</div>
</div>
