<%= notice %>
<%= render 'layouts/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h4 class="spaced-smallest">Reservas de Truppies</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar purus nec pulvinar scelerisque. </p>
			<% if @orders.nil? %>
				<p>There's no orders for you</p>
			<% else %>
			<div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>Truppie</span></th>
                                <th><span>Data de criação</span></th>
                                <th class="text-center"><span>Status</span></th>
                                <th><span>Código do pedido</span></th>
                                <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
								<% @orders.each do |o| %>
                                <tr>
                                    <td>
                                        <img src="<%= o.tour.photo %>" alt="<%= o.tour.title %>">
                                        <%= link_to o.tour.title, tour_path(o.tour), class: 'user-link' %>
                                        <span class="user-subhead"><%= o.tour.organizer.name %></span>
                                    </td>
                                    <td><%= o.created_at %></td>
                                    <td class="text-center">
                                        <%= raw(o.friendly_status(o.current_status)) %>
                                    </td>
                                    <td>
                                        <%= o.payment %>
                                    </td>
                                    <td >
                                       <h3><%= raw(o.tour.price) %></h3>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <% end %>
            <p>Nam convallis neque eros, <a href="#">contato</a> vitae aliquam urna ultrices a.</p>
		</div>
	</div>
</div>
