<p id="notice"><%= notice %></p>

<p>
  <strong>Own:</strong>
  <%= @order.own_id %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @order.tour %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @order.discount %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
