<%= render 'layouts/navbar' %>
<%= render 'layouts/flash' %>
<% if @where and @where.backgrounds.any? %>
<header class="l-header" style="background-image: url('<%= @where.backgrounds.first.picture.url(:large) %>')">
<% else %>
<header class="l-header" style="background-size: cover; background-image: url('https://maps.googleapis.com/maps/api/place/photo?sensor=false&maxwidth=3000&maxheight=3000&key=AIzaSyBd61mfgh_26mtP1GFqaakPAHaaNI84j-A&photoreference=<%= @place.photos[0].photo_reference %>')">
<% end %>
  <nav class="b-primary-nav l-container" role="navigation">
    <div class="b-logo" style="margin-top: 250px;">

      <h2 class="text-color-white"><%= @where.try(:name) or @place.name %></h2>
    </div>

    <ul class="b-primary-nav__list">
      <li class="b-primary-nav__list__item"><a href="">Experiências</a></li>
      <li class="b-primary-nav__list__item"><a href="">Roteiros</a></li>
      <li class="b-primary-nav__list__item"><a href="">Informações</a></li>
    </ul>

  </nav>
</header>

<main role="main">
  <header class="b-post-header l-container">
    <div class="b-post-header__category"><%= @where.try(:address) %></div>
    <time class="b-post-header__date" datetime="2017-02-21T13:18:13.595Z"><%= @where.try(:updated_at) %></time>
    <h1 class="b-post-header__heading"><%= @where.try(:name) %></h1>
  </header>
  <!--
  <section class="b-post-main l-container">
    <div class="b-post-main__intro">
      <div class="b-post-main__col">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus urna ac laoreet finibus. Etiam aliquam odio nec posuere facilisis. Curabitur aliquet quam eu nunc facilisis posuere. Nulla tincidunt lorem in tincidunt feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc tristique, lorem ut porttitor facilisis, nibh libero rutrum dolor, dictum ultrices mi libero ac odio. Mauris consectetur lacinia elit a rutrum. Duis at molestie risus, eu suscipit augue.
        </p>
      </div>
      <div class="b-post-main__col">
        <blockquote class="b-post-main__blockquote">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </blockquote>
      </div>
    </div>
    <figure class="b-post-main__figure">
      <img class="b-post-main__figure--full-width" src="https://source.unsplash.com/Yd_0nFop2Bg/1200x400" alt="Beautiful Landscape">
    </figure>
    -->
  </section>
  <section>
    <div>
      <header class="b-section-header">
        <h2><%= t('tours-title-places-label') %></h2>
      </header>
      <% if (@tours and @tours.publisheds.any?) || (@guidebooks and @guidebooks.publisheds.any?) %>
          <% @tours.publisheds.each do |t| %>

              <div class="b-teaser-articles">
                <article class="b-teaser-articles__article">
                  <% if t.picture.present? %>
                      <figure>
                        <img class="b-post-main__figure--full-width" src="<%= t.picture.url(:large) %>" alt="<%= t.title %>">
                      </figure>
                  <% end %>
                  <div class="b-teaser-articles__article__content">
                    <h3>
                      <%= link_to tour_path(t) do %>
                          <%= t.title %>
                      <% end %>
                    </h3>
                    <div class="b-teaser-articles__article__content__excerpt">
                      <%= raw t.description %>
                    </div>
                    <% if t.confirmeds.any? %>
                        <div class="b-favourite-list">
                          <span class="b-favourite-list__title">Favourited</span>
                          <a class="b-favourite-list__profile" href="#">
                            <img src="https://randomuser.me/api/portraits/thumb/men/1.jpg" alt="profile image">
                          </a>
                          <a class="b-favourite-list__profile" href="#">
                            <img src="https://randomuser.me/api/portraits/thumb/men/4.jpg" alt="profile image">
                          </a>
                          <a class="b-favourite-list__profile" href="#">
                            <img src="https://randomuser.me/api/portraits/thumb/women/3.jpg" alt="profile image">
                          </a>
                        </div>
                    <% end %>
                    <% if t.organizer %>
                        <%= render partial: 'layouts/organizer_card', locals: {organizer: t.organizer} %>
                    <% end %>
                  </div>
                </article>

          <% end %>
          <% @guidebooks.publisheds.each do |t| %>

              <div class="b-teaser-articles">
                <article class="b-teaser-articles__article">
                  <% if t.picture.present? %>
                      <figure>
                        <img class="b-post-main__figure--full-width" src="<%= t.picture.url(:large) %>" alt="<%= t.title %>">
                      </figure>
                  <% end %>
                  <div class="b-teaser-articles__article__content">
                    <h3>
                      <%= link_to tour_path(t) do %>
                          <%= t.title %>
                      <% end %>
                    </h3>
                    <div class="b-teaser-articles__article__content__excerpt">
                      <%= raw t.description %>
                    </div>
                    <% if t.organizer %>
                        <%= render partial: 'layouts/organizer_card', locals: {organizer: t.organizer} %>
                    <% end %>
                  </div>
                </article>

          <% end %>
      <% else %>
          <article class="b-teaser-articles__article">
            <div class="b-teaser-articles__article__content">
              <div class="b-teaser-articles__article__content__excerpt">
                <p>
                  <%= t('no-experience-here-label') %>
                </p>
                <%= link_to organizer_welcome_path, class: "btn btn-primary" do %>
                    <%= t('create-experience-call-to-action') %>
                <% end %>
              </div>
            </div>
          </article>
      <% end %>
      </div>
    </div>
  </section>
  <section>
    <div class="show-map" id="map"></div>
    <script type="text/javascript">
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: {lat: 40.72, lng: -73.96}
            });
            var geocoder = new google.maps.Geocoder;
            var infowindow = new google.maps.InfoWindow;

            var placeId = "<%= @where.try(:place_id) or @placeid %>";

            geocoder.geocode({'placeId': placeId}, function (results, status) {
                if (status === 'OK') {
                    if (results[0]) {
                        map.setZoom(11);
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                        infowindow.setContent(results[0].formatted_address);
                        infowindow.open(map, marker);
                    } else {
                        window.alert('No results found');
                    }
                } else {
                    window.alert('Geocoder failed due to: ' + status);
                }
            });
        }

        window.onload = function(){
            initMap();
        };
    </script>
  </section>
</main>