<h3 class="text-center spaced-down">
    Gerenciamento de conta <small><%= link_to 'voltar para o guia', organizer_path(@organizer) %></small>
</h3>
<%= form_for(@bank_account) do |f| %>
  <%= f.hidden_field :organizer_id, :value => @organizer.id %>
  <div class="row bank-card bofa spaced-down">
    <div class="title col-sm-12">
      <i class="fa fa-credit-card"></i>
    </div>
    <div class="row content col-sm-12">
      <div class="info bofa col-sm-12">
        <p class="title">Número do banco</p>
		<%= f.text_field :bankNumber %>
      </div>
      <div class="info bofa col-sm-12">
        <div class="logo"></div>
      </div>
      <div class="info col-xs-6">
        <p class="title">Número da conta</p>
        <%= f.text_field :accountNumber %>
      </div>
      <div class="info col-xs-6">
        <p class="title">Nome</p>
        <%= f.text_field :fullname %>
      </div>
    </div>
    <div class="footer col-sm-12">
      <div class="action reveal">
        <%= link_to 'apagar conta', @bank_account, method: :delete, data: { confirm: 'Tem certeza que quer remover sua conta?' } %>
        <%= f.submit 'salvar', class: "btn btn-primary" %>
      </div>
      <div class="confirm">
        <span class="message">Remove bank account?</span>
        <a href="#">Yes</a>
        <a id="cancelDelete" href="#">No</a>
      </div>
    </div>
  </div>
<% end %>
</div>
        