<!-- START MAIN CONTENT AREA -->
<% if @status == "activate" %>
<tr>
  <td class="wrapper">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <h1><%= t('mail-welcome-account-title') %></h1>
          <p style="text-align: center;"><strong><%= t('mail-welcome-account-created-message') %></strong></p>
          <p><%= t('mail-hello-message', organizer: @organizer.name) %></p>
          <p>
            <%= t('mail-hello-to-start') %>
          </p>
          <hr>
          <h2><%= t('mail-verify-account-title') %></h2>
          <p><%= t('mail-verify-account-intro') %></p>
          <p><%= t('mail-verify-account-description') %></p>
          </p>
          <table border="0" cellpadding="0" cellspacing="0" class="btn btn-secondary">
            <tbody>
              <tr>
                <td align="left">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td> <a href="<%= account_edit_organizer_url(@organizer) %>" target="_blank"><%= t('mail-verify-account-link') %></a> </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <h2><%= t('mail-organizer-share-title') %></h2>
          <p><%= t('mail-organizer-share-intro') %></p>
          <p><%= t('mail-organizer-share-description') %></p>
          <p><%= t('mail-organizer-share-more-description') %></p>
          <table border="0" cellpadding="0" cellspacing="0" class="btn btn-secondary">
            <tbody>
              <tr>
                <td align="left">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td> <a href="<%= organizer_url(@organizer) %>" target="_blank"><%= t('mail-organizer-see-profile') %></a> </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<% end %>
<% if @status == "update" %>
<tr>
  <td class="wrapper">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <h1><%= t('mail-welcome-account-title-update') %></h1>
          <p style="text-align: center;"><strong><%= t('mail-welcome-account-created-message-update') %></strong></p>
          <p><%= t('mail-hello-message', organizer: @organizer.name) %></p>
          <p>
            <%= t('mail-hello-to-start-update') %>
          </p>
          <hr>
          <h2><%= t('mail-verify-account-title') %></h2>
          <p><%= t('mail-verify-account-intro') %></p>
          <p><%= t('mail-verify-account-description') %></p>
          </p>
          <table border="0" cellpadding="0" cellspacing="0" class="btn btn-secondary">
            <tbody>
            <tr>
              <td align="left">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                  <tr>
                    <td> <a href="<%= account_edit_organizer_url(@organizer) %>" target="_blank"><%= t('mail-verify-account-link') %></a> </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
          <hr>
          <h2><%= t('mail-organizer-share-title') %></h2>
          <p><%= t('mail-organizer-share-intro') %></p>
          <p><%= t('mail-organizer-share-description') %></p>
          <p><%= t('mail-organizer-share-more-description') %></p>
          <table border="0" cellpadding="0" cellspacing="0" class="btn btn-secondary">
            <tbody>
            <tr>
              <td align="left">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                  <tr>
                    <td> <a href="<%= organizer_url(@organizer) %>" target="_blank"><%= t('mail-organizer-see-profile') %></a> </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<% end %>
<tr>
  <td class="wrapper section-callout">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="align-center">
          Você agora é nosso parceiro! :-)
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- END MAIN CONTENT AREA -->

