<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @destination.user %>
</p>

<p>
  <strong>Downloaded:</strong>
  <%= @destination.downloaded %>
</p>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
