<table cellpadding="5" cellspacing="0" border="2" align="center">
    <thead>
        <tr>
        <th><span>Truppie</span></th>
        <th><span>Disponível em conta</span></th>
        <th><span>Taxas</span></th>
        <th>Total em conta</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="30%">
                <%= link_to tour.title, tour_url(tour), class: 'user-link' %>
                <span class="user-subhead"><%= tour.organizer.name %></span>
            </td>
            <td></td>
            <td class="text-center">
                <%= raw @tour.final_price(@tour.available_to_transfer_total.to_f/100) %>
            </td>
            <td width="20%">
               <%= raw @tour.final_price(@tour.available_to_transfer_taxes.to_f/100) %>
            </td>
            <td class="text-center">
              <h3><%= raw @tour.final_price(@tour.available_to_transfer_liquid.to_f/100) %></h3>
            </td>
        </tr>
    </tbody>
</table>