<table cellpadding="5" cellspacing="0" border="2" align="center">
    <thead>
        <tr>
        <th><span>Truppie</span></th>
        <th><span>Arrecadado</span></th>
        <th><span>Taxas</span></th>
        <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="30%">
                <%= link_to tour.title, tour_url(tour), class: 'user-link' %>
                <span class="user-subhead"><%= tour.organizer.name %></span>
            </td>
            <td class="text-center">
                <%= raw friendly_price(tour.total_earned_until_now) %>
            </td>
            <td width="20%">
               <%= raw friendly_price(tour.total_taxes) %>
            </td>
            <td class="text-center">
              <h3><%= raw friendly_price(tour.price_with_taxes) %></h3>
            </td>
        </tr>
    </tbody>
</table>