<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td class="receipt-container">
      <table class="receipt" border="0" cellpadding="0" cellspacing="0">
        <tr class="receipt-subtle">
          <td colspan="2" class="align-center">Reserva feita em <strong><%= l(order.created_at, format: '%d de %B as %I:%M %p')  %></strong></td>
        </tr>
        <tr>
          <td>Valor</td>
          <td class="receipt-figure"><%= raw final_price_from_cents(order.price) %></td>
        </tr>
        <% if order.try(:package) %>
            <tr>
              <td>Pacote</td>
              <td class="receipt-figure"><%= order.package.name %></td>
            </tr>
        <% end %>
        <tr>
          <td>Reservas</td>
          <td class="receipt-figure"><%= order.amount %></td>
        </tr>
        <% if order.final_price.nil? %>
        <h4><%= raw final_price(order.price) %></h4>
        <tr class="receipt-bold">
          <td>Total</td>
          <td class="receipt-figure"><%= raw final_price(order.price) %></td>
        </tr>
        <% else %>
        <tr class="receipt-bold">
          <td>Total</td>
          <td class="receipt-figure"><%= raw final_price_from_cents(order.final_price) %></td>
        </tr>
        <% end %>
      </table>
      <p>Para conferir o andamento do status a qualquer hora, acesse: <a href="http://www.truppie.com/orders">http://www.truppie.com/orders</a></p>
      <p>Se tiver alguma dúvida, escreva pra gente: ola@truppie.com.</p> 
      <p>Até mais!</p>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
