<!-- START MAIN CONTENT AREA -->
<tr>
  <td>
    <table border="0" cellpadding="0" cellspacing="0" class="alert <%= @status[:status_class] %>">
      <tr>
        <% if @status[:status_class] == "alert-success" %>
        <td align="center">Seu pagamento foi aprovado</td>
        <% end %>
        <% if @status[:status_class] == "alert-danger" %>
        <td align="center">Tivemos um problema com seu pagamento</td>
        <% end %>
        <% if @status[:status_class] == "alert-warning" %>
        <td align="center">Aguarde o processamento do seu pagamento</td>
        <% end %>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class="wrapper">
    <table border="0" cellpadding="0" cellspacing="0">
      <!-- START NOTIFICATION BANNER -->
      <tr>
        <td>
          <h3>Olá <%= @order.user.name %></h4>
          
          <h4 class="align-center"></h4>
          <p><%= raw(@status[:mail_first_line]) %></p>
          <p><%= raw(@status[:mail_second_line]) %></p>
          <% if !@order%>
            <p>Não há reservas para você neste momento</p>
          <% else %>
            <% if @order.try(:guidebook) %>
              <%= render partial: 'credit_card_status_mailer/order_table_guidebook', locals: {order: @order} %>
            <% end %>
            <% if @order.try(:tour) %>
              <%= render partial: 'credit_card_status_mailer/order_table', locals: {order: @order} %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </table>
  </td>
</tr>