<h3>Atenção! Este é um e-mail de teste para averiguar o envio de e-mail da reserva de uma Truppie por um usuário. Se você é um organizador, você está recebendo como teste de um usuário fazendo uma reserva e é assim que ele irá receber. Favor desconsiderá-lo que você receber um e-mail personalizado para você ;-)</h3>

<h2>Olá, explorador(a)!</h2>

<p>Oba, que legal que você quer fazer uma truppie com o <a href="<%= @organizer.website %>"><%= @organizer.name %></a>! :D</p>

<p><strong><%= @status[:content] %></strong> e, assim que o status for atualizado, vamos te avisar, ok?</p>

<h4>Temos aqui um resumo do seu pedido:</h4>


<p>Para conferir o andamento do status a qualquer hora, acesse: <a href="http://www.truppie.com/orders">http://www.truppie.com/orders</a></p>

<p>Se tiver alguma dúvida, escreva pra gente: ola@truppie.com.</p> 

<p>Até mais!</p>

<p>Um abraço,</p>

<small>Equipe Tuppie</small>
<small>ola@truppie.com</small>
<a href="http://www.truppie.com"></a>
<%= image_tag('logo_utopicos.png', :width => '150', :alt => @organizer.name) %>
<%= image_tag('logo-flat.png', :width => '80', :alt => 'Truppie') %>

