<!-- START MAIN CONTENT AREA -->
<tr>
  <td>
    <table border="0" cellpadding="0" cellspacing="0" class="alert <%= @status[:status_class] %>">
      <tr>
        <td align="center"> <%= raw(@status[:mail_first_line]) %> </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class="wrapper">
    <table border="0" cellpadding="0" cellspacing="0">
      <!-- START NOTIFICATION BANNER -->
      <tr>
        <td>
          <h3>Olá <%= @order.user.name %></h4>
          
          <h4 class="align-center"></h4>
          <p><%= raw(@status[:mail_second_line]) %></p>
          <% if !@order%>
            <p>Não há reservas para você neste momento</p>
          <% else %>
          <%= render partial: 'credit_card_status_mailer/order_table', locals: {order: @order} %>
          <% end %>
        </td>
      </tr>
    </table>
  </td>
</tr>