<hr />
<div class="container footer">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-8">
        <div class=""><%= link_to 'Manifesto', manifest_path %> | <%= link_to 'Como funciona', how_it_works_path %> | <%= link_to 'Política de privacidade', privacy_path %>
        | <%= link_to 'FAQ', faq_path %>
    	</div>
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">© 2016 Truppie. Todos os direitos reservados</p>
        <div class="pull-xs-right">
    		<%= image_tag("moip_pagamento_seguro.jpg", width: 200, :alt => "Truppie", :class => "img-fluid") %>
    	</div>
      </div>
    </div>
  </div>
</div>