<style>
  .twPc-div {
    overflow: hidden;
    position: relative;
  }
  <% if t.picture.present? %>
  <%="#twPc-bg-#{t.id}" %> {
    background-image: url('<%= t.picture.url(:large) %>');
  }
  <% elsif t.try(:photo) %>
  <%="#twPc-bg-#{t.id}" %> {
    background-image: url('<%= t.photo %>');
  }
  <% else %>
  <%="#twPc-bg-#{t.id}" %> {
    background-color: #F15A29;
  }
  <% end %>
</style>
<div class="twPc-div spaced-down">
  <% if t.value_chosen_by_user %>
      <%= link_to(tour_path(t), :id => "twPc-bg-#{t.id}" ,:class => 'twPc-bg twPc-block') do %>
          <div class="ribbon base">
            <span><small><%= t('no-price-defined-message') %></small></span>
          </div>
      <% end %>
  <% else %>
      <%= link_to(tour_path(t), :id => "twPc-bg-#{t.id}" ,:class => 'twPc-bg twPc-block') do %>
          <div class="ribbon base"><span><%= raw t.price %></span></div>
      <% end %>
  <% end %>

  <div>
    <div class="twPc-button">
      <!-- Twitter Button | you can get from: https://about.twitter.com/tr/resources/buttons#follow -->

      <%= link_to(tour_path(t), :class => 'twitter-follow-button btn btn-primary') do %>
          <i class="fa fa-ticket"></i> <%= t('welcome_view_index_div_three') %>
      <% end %>
      <!-- Twitter Button -->
    </div>

    <%= link_to(organizer_path(t.organizer), :class => 'twPc-avatarLink') do %>
        <% if t.organizer.picture.present? %>
            <%= image_tag(t.organizer.picture(:thumbnail), :alt => t.organizer.name, class: 'twPc-avatarImg') %><br />
        <% else %>
            <%= image_tag(t.organizer.logo, :alt => t.organizer.name, class: 'twPc-avatarImg') %><br />
        <% end %>
    <% end %>

    <div class="twPc-divUser spaced-down">
      <div class="twPc-divName">
        <%= link_to tour_path(t) do %>
            <%= t.title %>
        <% end %>
      </div>
      <span>
              <%= link_to organizer_path(t.organizer) do %>
              <small><%= t('welcome_view_index_small_eight') %> </small><strong><%= t.organizer.name %></strong>
              <% end %>
            </span>
    </div>
    <div class="twPc-divStats">
      <ul class="twPc-Arrange">
        <% if t.wheres.any? %>
            <li class="twPc-ArrangeSizeFit">
              <span class="twPc-StatLabel twPc-block"><%= t('welcome_view_index_span_two') %></span>
              <span class="twPc-StatValue">
                  <%= t.wheres.first.try(:name) %>
                </span>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>