<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="card">
			<div class="card-header">
				<h5 class="spaced-smallest"><i class="fa fa-info-circle"></i> <strong>Orders / Pedidos</strong></h5>
			</div>
			<div class="card-block">
				<% @guidebook.orders.each do |o| %>
				<div class="manage-item">
					<div class="manage-item-name"><%= raw(o.friendly_status(o.current_status)) %></div>
					<div class="manage-item-name"><%= o.user.name %></div>
					<div><%= o.amount %> reserva(s) de <%= raw final_price_from_cents(o.price) %></div>
					<div class="manage-item-description">
						<strong><%= o.payment_method %></strong><br />
						<small>Feita em <%= l(o.created_at, format: '%d de %B de %Y às %Hh%M') %></small> 
					</div>
					<div class="manage-item-price">
						<%= raw(o.final_price) %>
					</div>
				</div>
				<br>
				<% end %>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="card">
			<div class="card-header">
				<h5 class="spaced-smallest"><i class="fa fa-info-circle"></i> <strong>Tour / Viagem</strong></h5>
			</div>
			<div class="card-block">
				<% @guidebook.orders.each do |g| %>
				<div class="manage-item">
					<div class="manage-item-name"><h3><%= g.tour.title %></h3></div>
					<div class="manage-item-name">Descrição: <%= raw(g.tour.description) %></div>
					<div class="manage-item-name">Guia: <%= g.tour.organizer.name %></div>
					<div class="manage-item-name">Começa em: <%= l(g.tour.start,format: '%d/%m/%Y às %Hh%M') %></div>
					<div class="manage-item-name">Termina em: <%= l(g.tour.end,format: '%d/%m/%Y às %Hh%M') %></div>
					<div class="manage-item-name">Disponível: <%= (g.tour.availability == 0 ? "Sim" : "Não")%></div>
					<div class="manage-item-name">Endereço: <%= g.tour.address %></div>
					<div class="manage-item-name">Reservado: <%= (g.tour.reserved == 0 ? "Sim" : "Não")%></div>
				</div>
				<br>
				<% end %>
			</div>
		</div>
	</div>
</div>





