<%= render 'layouts/navbar' %>
<% render 'layouts/flash' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="spaced-smallest">Todos os guias que já recebem pela Truppie</h3>
      <table class="table user-list spaced-down">
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @marketplaces.each do |m| %>
            <tr>
              <td><%= m.organizer.name %></td>
              <td><%= m.person_name %></td>
              <% if m.is_active? %>
              <td><span class="label label-success">conta ativa</label></td>
              <% if m.registered_account.any? %>  
                <td><span class="label label-success">conta bancária ativa</label></td>
              <% else %>
                <% if m.bank_account_active.nil? %>
                  <td><small>ative uma conta bancária para registrá-la neste marketplace</small></td>
                <% else %>
                  <td><%= link_to 'Registrar conta bancária', activate_bank_account_path(m.bank_account_active.id) %></td>
                <% end %>
              <% end %>
              <% else %>
              <td><%= link_to 'Ativar no moip', activate_marketplace_path(m) %></td>
              <% end %>
              <td><%= link_to 'Exibir', m %></td>
              <td><%= link_to 'Editar', edit_marketplace_path(m) %></td>
              <td><%= link_to 'Apagar', m, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Criar novo marketplace', new_marketplace_path, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
</div>