<%= render 'layouts/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="spaced-smallest">Todos os guias que já estão na Truppie</h3>
			
			<table class="table user-list spaced-down">
			  <thead>
			    <tr>
			      <th colspan="3"></th>
			    </tr>
			  </thead>
			
			  <tbody>
			    <% @organizers.each do |o| %>
			      <tr>
			      	<td><%= o.name %></td>
			      	<td><%= link_to 'Administrar', manage_tours_organizer_path(o) %></td>
			        <td><%= link_to 'Exibir', o %></td>
			        <td><%= link_to 'Editar', edit_organizer_path(o) %></td>
			        <td><%= link_to 'Apagar', o, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			
			<%= link_to 'Criar novo guia', new_organizer_path, class: 'btn btn-primary pull-right' %>
		</div>
	</div>
</div>