<div class="main-menu">
  <nav class="navbar navbar-dark bg-primary-dark navbar-full">
    <div class="container">
    	<div class="row">
    	  <div class="col-xs-12 col-md-2 brand-grid-container center-xs">
    		<% if !current_page?(root_url) %>
          <%= link_to root_path, class: 'navbar-brand  pull-left' do %>
            <%= image_tag("logos-02.svg", :alt => "Truppie", :class => 'img-fluid', :width => 100) %>
          <% end %>
  	  	<% end %>
  	  	</div>
  	  	<div class="col-xs-12 col-md-7">
  	  	  <nav class="clearfix main-menu xs-spaced-bottom">
            <ul class="clearfix">
              <li><%= link_to t('how-it-works-main-menu'), user_welcome_path %></li>
              <% if is_organizer_admin %>
              <li><%= link_to t('guides-main-menu'), organizer_welcome_path %></li>
              <% else %>
              <li><%= link_to t('guides-main-create'), organizer_welcome_path %></li>
              <% end %>
              <li><%= link_to t('nomad-main-menu'), "http://dev.truppie.com" %></li>
              <li><%= link_to t('contact-main-menu'), contacts_index_path %></li>
            </ul>
            <a href="#" id="pull">Menu</a>
          </nav>
    	  </div>
    	  <div class="col-xs-12 col-md-3 center-xs">
    		  <div class="user-actions pull-left" style="width: 70%">
            <% if not user_signed_in? %>
                <%= link_to t('navbar_partial_link_one'), new_user_session_path, class: 'btn btn-secondary pull-right' %>
            <% else %>
            <div class="dropdown">
              <a href="#" class="btn btn-secondary pull-right dropdown-toggle" data-toggle="dropdown" id="dropdown-user" style="padding: 3px;">
                <% if current_user.image %>
                <img src="<%= to_https(current_user.image) %>" alt="user" class="img-circle" width="30" />
                <% end %>
                <%= current_user.email.split('@')[0] %>
              </a>
              <div class="dropdown-menu" aria-labelledby="openuser">
                <%= link_to t('navbar_partial_link_two'), orders_path, class: 'dropdown-item' %>
                <%= link_to t('navbar_partial_link_three'), edit_user_registration_path, class: 'dropdown-item' %>
                <% if is_organizer_admin %>
                    <%= link_to t('navbar_partial_link_organizer'), organizer_welcome_path, class: 'dropdown-item' %>
                <% end %>
                <%= link_to t('navbar_partial_link_four'), destroy_user_session_path, class: 'dropdown-item' %>
              </div>
            </div>
            <% end %>
        </div>
        <div class="language-container pull-right">
          <div class="ulList">
            <img src="" class="ulImg" alt="">
            <span class="ulTxt"><i class="fa fa-globe"></i></span>
            <span class="fa fa-angle-down"></span>
          </div>
          <div class="liList">
            <a href="<%= "#{request.path}?locale=pt-BR" %>" class="li" data-img="https://raw.githubusercontent.com/hjnilsson/country-flags/master/png250px/br.png">
              <img src="https://raw.githubusercontent.com/hjnilsson/country-flags/master/png250px/br.png" class="liImg">
              <span class="liTxt"><%= t('lang-brazil') %></span>
            </a>
            <a href="<%= "#{request.path}?locale=en" %>" class="li" data-img="https://raw.githubusercontent.com/hjnilsson/country-flags/master/png250px/en.png">
              <img src="https://raw.githubusercontent.com/hjnilsson/country-flags/master/png250px/us.png" class="liImg">
              <span class="liTxt"><%= t('lang-eua') %></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
