<nav class="navbar navbar-dark bg-inverse navbar-full">
  <%= link_to root_path, class: 'navbar-brand pull-left' do %>
  	<%= image_tag("logos-02.svg", :alt => "Truppie", :class => 'img-fluid', :width => 100) %>
  <% end %>
  <% if not user_signed_in? %>
  <%= link_to 'entrar / logar', new_user_session_path, class: 'btn btn-secondary btn-sm pull-xs-right' %>
  <% else %>
  <div class="user-actions">
  	<div class="dropdown pull-xs-right">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="openuser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <% if current_user.image %>
	    <img src="<%= current_user.image %>" alt="user" class="img-circle" width="30" />
	    <% end %>
	    <%= current_user.email.split('@')[0] %>
	  </button>
	  <div class="dropdown-menu" aria-labelledby="openuser">
	  	<%= link_to 'reservas', orders_path, class: 'dropdown-item' %>
	    <%= link_to 'editar usuario', edit_user_registration_path, class: 'dropdown-item' %>
	    <div class="dropdown-divider"></div>
	    <%= link_to 'sair', destroy_user_session_path, class: 'dropdown-item', method: 'delete' %>
	  </div>
	</div>
  </div>
  <% end %>
  
</nav>