<tr>
  <td>
    <% unless item.picture.present? %>
        <img src="<%= item.photo %>" alt="<%= item.title %>">
    <% else %>
        <img src="<%= item.picture.url(:thumbnail) %>" alt="<%= item.title %>">
    <% end %>
    <%= link_to item.title, url, class: 'user-link' %>
    <span class="user-subhead"><%= item.organizer.name %></span>
  </td>
  <td><%= type %></td>
  <td><%= l(order.created_at, format: '%d de %B as %I:%M %p')  %></td>
  <td class="text-center">
    <%= raw(order.friendly_status(order.current_status)) %>
  </td>
  <td>
    <%= order.payment %>
  </td>
  <td >
    <% if !item.value.nil? %>
        <h5><%= raw final_price(raw item.value) %></h5>
    <% end %>
    <% if item.try(:packages) %>
        <% item.packages.each do |p| %>
            <% if (p.value).to_i*100 == (order.price).to_i %>
                <h5><%= raw final_price(p.value) %></h5>
                Pacote <%= p.name %>
            <% end %>
        <% end %>
    <% end %>
  </td>
  <td class="text-center">
    <h3><%= order.amount %></h3>
  </td>
  <td class="text-center">
    <% if order.final_price.nil? %>
        <h4><%= raw final_price(order.price) %></h4>
    <% else %>
        <h4><%= raw final_price_from_cents(order.final_price) %></h4>
    <% end %>
  </td>
</tr>