<nav class="navbar navbar-light bg-faded">
  <%= link_to organizer_path(@organizer), class: 'navbar-brand' do %>
    <i class="fa fa-map-o"></i> <%= @organizer.name %>
  <% end %>
    <ul class="nav navbar-nav">
      <li class="nav-item <%= "active" if (current_page? action: 'dashboard' or current_page? action: 'guided_tour')  %>">
        <%= link_to dashboard_organizer_path(@organizer), class: 'nav-link' do %>
            <%= t('panel-label') %>
        <% end %>
      </li>
      <li class="nav-item <%= "active" if current_page? action: 'manage' %>">
        <%= link_to manage_tours_organizer_path(@organizer), class: 'nav-link' do %>
            <%= t('balance-label') %>
        <% end %>
      </li>
      <li class="nav-item <%= "active" if current_page? action: 'transfer' %>">
        <%= link_to transfer_organizer_path(@organizer), class: 'nav-link' do %>
            <%= t('transfer-label') %>
        <% end %>
      </li>
      <li class="nav-item <%= "active" if current_page? action: 'account' %>">
        <%= link_to account_organizer_path(@organizer), class: 'nav-link' do %>
            <%= t('account-label') %>
        <% end %>
      </li>
    </ul>
    <% if @organizer.marketplace.try(:account_full_verified) %>
      <span class="navbar-text pull-right">
        <span class="label label-pill label-success"><%= t('verified-label') %></span>
      </span>
    <% else %>
      <span class="navbar-text pull-md-right">
        <span class="label label-pill label-danger"><%= t('no-verified-label') %></span>
        <%= link_to account_status_organizer_path(@organizer), class: 'btn btn-primary btn-xs' do %>
            <%= t('organizer-profile-verify-action') %>
        <% end %>
        <%= content_tag 'a', class: 'btn btn-sm btn-warning', role: 'button', id: 'tour_tooltip', tabindex: 0,
                        data: { toggle: 'popover', trigger: 'focus', container: 'body', placement: 'left',
                                template: render('popover_template'), html: true,
                                content: t('tours_view_form_tooltip_content_account'),
                                title: render('popover_template_title_content', trigger_elem_id: 'tour_tooltip') } do %>
            <i class="fa fa-question"></i>
          <% end %>
      </span>
    <% end %>
</nav>
