<div class="row">
    <div class="col-xs-12">
      <div class="row cards">
        <div class="col-sm-4 wow bounceIn">
          <div class="card card-block text-xs-center">
            <h4 class="card-title main-color-font">
              <%= image_tag("icons-truppie-fill/icones_truppie-22.svg", :alt => "Truppie", :class => "img-fluid symbol-big") %>
              <p class="tagline emblem-font"><%= t('truppie-culture') %>
              </h4>
            <p class="card-text"><p class="tagline"><%= t('truppie-culture-text') %></p>
          </div>
        </div>
        <div class="col-sm-4 wow bounceIn">
          <div class="card card-block text-xs-center">
            <h4 class="card-title main-color-font">
              <picture>
                <%= image_tag("icons-truppie-fill/icones_truppie-21.svg", :alt => "Truppie", :class => "img-fluid symbol-big") %>
              </picture>
              <p class="tagline emblem-font"><%= t('truppie-adventure-title') %>
              </h4>
            <p class="card-text"><p class="tagline"><%= t('truppie-adventure-text') %></p>
          </div>
        </div>
        <div class="col-sm-4 wow bounceIn">
          <div class="card card-block text-xs-center">
            <h4 class="card-title main-color-font">
              <%= image_tag("icons-truppie-fill/icones_truppie-25.svg", :alt => "Truppie", :class => "img-fluid symbol-big") %>
              <p class="tagline emblem-font"><%= t('truppie-urban-title') %>
              </h4>
            <p class="card-text"><p class="tagline"><%= t('truppie-urban-text') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>